Repository dart-lang/native, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:ffi, package:ffigen, package:jni, package:jnigen, package:code_assets, package:data_assets, package:hooks, package:hooks_runner, package:native_doc_dartifier, package:native_toolchain_c, package:objective_c, package:swift2objc, package:swiftgen

merge cruft
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/cf_string_test.dart
  pkgs/objective_c/test/converter_test.dart
  pkgs/objective_c/test/nsdate_test.dart
  pkgs/objective_c/test/nsdictionary_test.dart
  pkgs/objective_c/test/nsmutabledictionary_test.dart
  pkgs/objective_c/test/nsmutableset_test.dart
  pkgs/objective_c/test/nsset_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
Labels: package:objective_c

Update coverage
  .github/workflows/ffigen.yml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/pubspec.yaml
Labels: type-infra, package:ffigen, package:objective_c

Fix pubspec
  pkgs/objective_c/pubspec.yaml
Labels: package:objective_c

Fix pubspec
  pkgs/ffigen/pubspec.yaml
Labels: package:ffigen

migrate
  pkgs/objective_c/pubspec.yaml
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/utils.dart
  pkgs/swift2objc/test/utils/utils.dart
  pubspec.yaml
Labels: package:objective_c, package:swift2objc

migrate package:objective_c
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/cf_string_test.dart
  pkgs/objective_c/test/converter_test.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/test/ns_mutable_data_test.dart
  pkgs/objective_c/test/nsarray_test.dart
  pkgs/objective_c/test/nsdata_test.dart
  pkgs/objective_c/test/nsdate_test.dart
  pkgs/objective_c/test/nsdictionary_test.dart
  pkgs/objective_c/test/nsmutablearray_test.dart
  pkgs/objective_c/test/nsmutabledictionary_test.dart
  pkgs/objective_c/test/nsmutableset_test.dart
  pkgs/objective_c/test/nsnumber_test.dart
  pkgs/objective_c/test/nsset_test.dart
  pkgs/objective_c/test/nsstring_test.dart
  pkgs/objective_c/test/os_version_test.dart
  pkgs/objective_c/test/selector_test.dart
  pkgs/objective_c/test/util.dart
  pubspec.yaml
Labels: package:objective_c

Followed up PR comments
  pkgs/jnigen/example/pdfbox_plugin/example/README.md
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
Labels: package:jnigen

Fixed the bug of pdfbox example
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
Labels: package:jnigen

fix changelog
  pkgs/data_assets/CHANGELOG.md
Labels: package:data_assets

[infra] Try uploading combined coverage (#2328)
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  pkgs/code_assets/analysis_options.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/analysis_options.yaml
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks_runner/analysis_options.yaml
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/repo_lint_rules/analysis_options.yaml
Labels: type-infra, package:code_assets, package:data_assets, package:hooks, package:hooks_runner, package:native_toolchain_c

Add file uri to debug
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
Labels: package:hooks_runner

migrate swiftgen
  pkgs/swiftgen/pubspec.yaml
  pubspec.yaml
Labels: package:swiftgen

fix swiftgen
  pkgs/swiftgen/pubspec.yaml
Labels: package:swiftgen

Poke native workflow
  .github/workflows/native.yaml
Labels: type-infra

Remove packages from the workspace
  .github/workflows/native.yaml
  pkgs/objective_c/pubspec.yaml
  pkgs/swift2objc/pubspec.yaml
  pkgs/swiftgen/pubspec.yaml
  pubspec.yaml
Labels: type-infra, package:objective_c, package:swift2objc, package:swiftgen

Fix analysis
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/test/utils.dart
Labels: package:objective_c, package:swift2objc

fmt
  pkgs/swift2objc/lib/src/config.dart
Labels: package:swift2objc

Avoid Isolate.resolvePackageUriSync as it's not available in flutter
  pkgs/ffigen/lib/src/config_provider/overrideable_utils.dart
  pkgs/objective_c/test/util.dart
  pkgs/swift2objc/test/utils.dart
Labels: package:ffigen, package:objective_c, package:swift2objc

Fix analysis
  .github/workflows/native.yaml
  pkgs/ffigen/lib/src/config_provider/overrideable_utils.dart
Labels: type-infra, package:ffigen

Fix json_schema_test
  pkgs/ffigen/test/config_tests/json_schema_test.dart
Labels: package:ffigen

[jnigen] Fix pdfbox example (#2331)
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
Labels: package:jnigen

wip
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/observer.dart
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/src/observer.h
  pkgs/objective_c/src/observer.m
  pkgs/objective_c/test/main.c
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, package:objective_c

Automate generation of built in type lists
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

Remove an old TODO
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
Labels: package:ffigen, package:objective_c

Automate generation of built in type lists
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

regen bindings
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
Labels: package:ffigen

version
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

fix analysis
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
Labels: package:objective_c

Fix analysis
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
Labels: package:ffigen

Improve test
  pkgs/objective_c/test/interface_lists_test.dart
Labels: package:objective_c

get class summary
  pkgs/native_doc_dartifier/lib/src/ast.dart
  pkgs/native_doc_dartifier/lib/src/public_abstractor.dart
  pkgs/native_doc_dartifier/pubspec.yaml
  pkgs/native_doc_dartifier/test/native_doc_dartifier_test.dart
  pkgs/native_doc_dartifier/test/public_abstractor_test.dart
Labels: package:native_doc_dartifier

[hooks_runner] Support building assets for dev deps
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/lib/src/package_layout/package_layout.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/build_runner/build_planner_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_reusability_test.dart
  pkgs/hooks_runner/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/hooks_runner/test/build_runner/concurrency_test_helper.dart
  pkgs/hooks_runner/test/build_runner/helpers.dart
  pkgs/hooks_runner/test/build_runner/package_layout_test.dart
  pkgs/hooks_runner/test/build_runner/pub_workspace_test.dart
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/test/my_test.dart
  pkgs/hooks_runner/test_data/manifest.yaml
  pubspec.yaml
Labels: package:hooks_runner

Fix analysis
  pkgs/objective_c/test/interface_lists_test.dart
Labels: package:objective_c

[objective_c] Automate generation of ffigen's built in ObjC types lists (#2334)
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

Fix test
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_exported.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:objective_c

Fix test
  pkgs/objective_c/test/ns_input_stream_test.dart
Labels: package:objective_c

versions
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

[ffigen] Remove an old TODO that filtered certain methods from package:objective_c (#2335)
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_exported.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

address comment
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/lib/src/package_layout/package_layout.dart
  pkgs/hooks_runner/test/build_runner/build_planner_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_reusability_test.dart
  pkgs/hooks_runner/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/hooks_runner/test/build_runner/concurrency_test_helper.dart
  pkgs/hooks_runner/test/build_runner/helpers.dart
  pkgs/hooks_runner/test/build_runner/package_layout_test.dart
  pkgs/hooks_runner/test/build_runner/pub_workspace_test.dart
Labels: package:hooks, package:hooks_runner

more lints
  pkgs/code_assets/analysis_options.yaml
  pkgs/data_assets/analysis_options.yaml
  pkgs/hooks_runner/analysis_options.yaml
  pkgs/hooks_runner/test_data/manifest_generator.dart
  pkgs/hooks_runner/test_data/native_add_version_skew/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/analysis_options.yaml
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/repo_lint_rules/analysis_options.yaml
Labels: package:code_assets, package:data_assets, package:hooks_runner, package:native_toolchain_c

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:ffi':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffi/**'

'package:ffigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffigen/**'

'package:jni':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jni/**'

'package:jnigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jnigen/**'

'package:code_assets':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/code_assets/**'

'package:data_assets':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/data_assets/**'

'package:hooks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/hooks/**'

'package:hooks_runner':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/hooks_runner/**'

'package:native_doc_dartifier':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_doc_dartifier/**'

'package:native_toolchain_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_toolchain_c/**'

'package:objective_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/objective_c/**'

'package:swift2objc':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swift2objc/**'

'package:swiftgen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swiftgen/**'
