Repository dart-lang/native, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:ffi, package:ffigen, package:jni, package:jnigen, package:code_assets, package:data_assets, package:hooks, package:hooks_runner, package:native_doc_dartifier, package:native_toolchain_c, package:objective_c, package:swift2objc, package:swiftgen

[hooks_runner] Support building assets for dev deps (#2342)
  pkgs/code_assets/analysis_options.yaml
  pkgs/data_assets/analysis_options.yaml
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/analysis_options.yaml
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/lib/src/package_layout/package_layout.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/build_runner/build_planner_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_reusability_test.dart
  pkgs/hooks_runner/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/hooks_runner/test/build_runner/concurrency_test_helper.dart
  pkgs/hooks_runner/test/build_runner/helpers.dart
  pkgs/hooks_runner/test/build_runner/package_layout_test.dart
  pkgs/hooks_runner/test/build_runner/pub_workspace_test.dart
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/test/my_test.dart
  pkgs/hooks_runner/test_data/manifest.yaml
  pkgs/hooks_runner/test_data/manifest_generator.dart
  pkgs/hooks_runner/test_data/native_add_version_skew/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/analysis_options.yaml
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/repo_lint_rules/analysis_options.yaml
  pubspec.yaml
Labels: package:code_assets, package:data_assets, package:hooks, package:hooks_runner, package:native_toolchain_c

Swift style KVO pattern
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_exported.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/observer.dart
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/src/observer.h
  pkgs/objective_c/src/observer.m
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/observer_test.dart
  pkgs/objective_c/test/setup.dart
  pkgs/objective_c/test/util.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

Add CI workflow to run Dart tests
  .github/workflows/native_doc_dartifier.yaml
Labels: type-infra

Add license
  pkgs/native_doc_dartifier/lib/src/ast.dart
  pkgs/native_doc_dartifier/lib/src/public_abstractor.dart
  pkgs/native_doc_dartifier/test/public_abstractor_test.dart
Labels: package:native_doc_dartifier

fix
  pkgs/native_doc_dartifier/example/native_doc_dartifier_example.dart
Labels: package:native_doc_dartifier

resolve
  .github/workflows/native_doc_dartifier.yaml
Labels: type-infra

fix
  .github/workflows/native_doc_dartifier.yaml
Labels: type-infra

Update native_doc_dartifier.yaml
  .github/workflows/native_doc_dartifier.yaml
Labels: type-infra

[native_doc_dartifier] Getting Summary of Classes (#2337)
  .github/workflows/native_doc_dartifier.yaml
  pkgs/native_doc_dartifier/example/native_doc_dartifier_example.dart
  pkgs/native_doc_dartifier/lib/src/ast.dart
  pkgs/native_doc_dartifier/lib/src/public_abstractor.dart
  pkgs/native_doc_dartifier/pubspec.yaml
  pkgs/native_doc_dartifier/test/native_doc_dartifier_test.dart
  pkgs/native_doc_dartifier/test/public_abstractor_test.dart
Labels: type-infra, package:native_doc_dartifier

[native_toolchain_c] Add linking for Android
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/object_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

fix -u syntax
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
Labels: package:native_toolchain_c

[jnigen] Remove exclude from config
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/example/in_app_java/jnigen.yaml
  pkgs/jnigen/example/kotlin_plugin/android/build.gradle
  pkgs/jnigen/lib/jnigen.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/config/filters.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/jnigen.yaml
Labels: package:jnigen

speculative windows fix
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

test on more android API levels
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/object_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

fix naming
  pkgs/native_toolchain_c/test/clinker/objects_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
Labels: package:native_toolchain_c

[swift2objc] Property Parsing and Generation Refactoring (#2056)
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/structs_and_properties_input.swift
  pkgs/swift2objc/test/integration/structs_and_properties_output.swift
  pkgs/swift2objc/test/unit/parse_variable_info_test.dart
Labels: package:swift2objc

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:ffi':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffi/**'

'package:ffigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffigen/**'

'package:jni':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jni/**'

'package:jnigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jnigen/**'

'package:code_assets':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/code_assets/**'

'package:data_assets':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/data_assets/**'

'package:hooks':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/hooks/**'

'package:hooks_runner':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/hooks_runner/**'

'package:native_doc_dartifier':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_doc_dartifier/**'

'package:native_toolchain_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_toolchain_c/**'

'package:objective_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/objective_c/**'

'package:swift2objc':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swift2objc/**'

'package:swiftgen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swiftgen/**'
