Repository dart-lang/native, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:ffi, package:ffigen, package:jni, package:jnigen, package:native_assets_builder, package:native_assets_cli, package:native_toolchain_c, package:objective_c, package:swift2objc, package:swiftgen

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:ffi':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffi/**'

'package:ffigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/ffigen/**'

'package:jni':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jni/**'

'package:jnigen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/jnigen/**'

'package:native_assets_builder':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_assets_builder/**'

'package:native_assets_cli':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_assets_cli/**'

'package:native_toolchain_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/native_toolchain_c/**'

'package:objective_c':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/objective_c/**'

'package:swift2objc':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swift2objc/**'

'package:swiftgen':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/swiftgen/**'

updated config options
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/test/unit/filter_test.dart
Labels: package:swift2objc

Support failable initializers
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/test/integration/classes_and_initializers_input.swift
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/structs_and_initializers_input.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/unit/parse_initializer_param_test.dart
Labels: package:swift2objc

Support failable initializers
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/test/integration/classes_and_initializers_input.swift
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/structs_and_initializers_input.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/unit/parse_initializer_param_test.dart
Labels: package:swift2objc

Fix analysis
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
Labels: package:swift2objc

wip
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmAnnotatedElementVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmFieldVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmMethodVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmTypeUsageSignatureVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/TypeUtils.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/doclet/ElementBuilders.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/ClassDecl.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/TypeParam.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/TypeUsage.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/descriptor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/printer.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/Annotated.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/NotNull.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/Nullable.java
  pkgs/jnigen/test/summary_test.dart
Labels: package:jnigen

jni: Always create a local variable for references as only jreferences are finalizable
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jimplementer.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
Labels: package:jni

jni: Add nullableType
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/type_test.dart
Labels: package:jni

java format
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmMethodVisitor.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/Annotated.java
Labels: package:jnigen

Remove isNull from JObject
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
Labels: package:jni

Disallow construction of null JObject
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

Generate null-safe java code
  pkgs/jni/lib/jni_symbols.yaml
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmMethodVisitor.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/printer.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/test/jackson_core_test/runtime_test_registrant.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jni, package:jnigen

Fix examples
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jnigen/example/in_app_java/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/example/lib/main.dart
  pkgs/jnigen/example/notification_plugin/example/lib/main.dart
  pkgs/jnigen/example/pdfbox_plugin/dart_example/bin/pdf_info.dart
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
Labels: package:jni, package:jnigen

Fix analysis
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/elements/elements.dart
Labels: package:jnigen

Fix types
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

Fix tests
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jbyte_buffer_test.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/printer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jni, package:jnigen

*sigh* Add more type parameters
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

*sighhh* Add even more type parameters
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jni, package:jnigen

Fix name clashing
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

Try again?
  pkgs/jni/lib/src/jobject.dart
Labels: package:jni

Fix interface implementation
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

Add even more type params
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

Parse ? wildcards in asm
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmTypeUsageSignatureVisitor.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
Labels: package:jnigen

Fix unbounded wildcards
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
Labels: package:jnigen

Ignore unnecessary_non_null_assertion
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

Fix interface implementation
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jni, package:jnigen

Fix tests
  pkgs/jni/lib/src/jarray.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jni, package:jnigen

Hopefully last
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

Add some tests
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/Annotated.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

Annotate variables used in `NSCAssert` as being possibly unused
  pkgs/objective_c/src/input_stream_adapter.m
Labels: package:objective_c

[swift2objc] Support failable initializers (#1734)
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/test/integration/classes_and_initializers_input.swift
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/structs_and_initializers_input.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/unit/parse_initializer_param_test.dart
Labels: package:swift2objc

Support globals with explicit getters/setters (#1733)
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/test/integration/global_variables_and_functions_input.swift
  pkgs/swift2objc/test/integration/global_variables_and_functions_output.swift
Labels: package:swift2objc

Annotate variables used in `NSCAssert` as being possibly unused (#1736)
  pkgs/objective_c/src/input_stream_adapter.m
Labels: package:objective_c

Merge cruft
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swiftgen/AVFAudioWrapper.swift
  pkgs/swiftgen/temp/AVFAudio.symbols.json
  pkgs/swiftgen/temp/AVFAudio@Foundation.symbols.json
  pkgs/swiftgen/temp/AVFAudioWrapper.h
Labels: package:swift2objc, package:swiftgen

[native_toolchain_c] Use 16 kb pages for Android by default
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

testing on Linux with readelf
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

Add changelog entry
  pkgs/native_toolchain_c/CHANGELOG.md
Labels: package:native_toolchain_c

[native_toolchain_c] Use 16 kb pages for Android by default (#1740)
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

Add changelog, make annotations customizable
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/simple_package_test/generate.dart
Labels: package:jni, package:jnigen

Fix tests
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

Fix tests
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen
