Repository dart-lang/native, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:ffigen, package:jnigen, package:jni, package:native_assets_builder, package:native_assets_cli, package:native_toolchain_c

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:ffigen':
  - 'pkgs/ffigen/**'

'package:jnigen':
  - 'pkgs/jnigen/**'

'package:jni':
  - 'pkgs/jni/**'

'package:native_assets_builder':
  - 'pkgs/native_assets_builder/**'

'package:native_assets_cli':
  - 'pkgs/native_assets_cli/**'

'package:native_toolchain_c':
  - 'pkgs/native_toolchain_c/**'

[infra] Try to use `carryforward`
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
Labels: type-infra

Only use underscores in flag-name
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
Labels: type-infra

Fix isolate test
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

[infra] Try to use `carryforward` (#815)
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
Labels: type-infra

[infra] Set `breaking-change` to false again
  .github/workflows/native.yaml
Labels: type-infra

[infra] Set `breaking-change` to false again (#816)
  .github/workflows/native.yaml
Labels: type-infra

Update data.dart
  pkgs/ffigen/lib/src/header_parser/data.dart
Labels: package:ffigen

Update pubspec.yaml
  pkgs/ffigen/pubspec.yaml
Labels: package:ffigen

Update CHANGELOG.md
  pkgs/ffigen/CHANGELOG.md
Labels: package:ffigen

Add errors.md (#2)
  pkgs/ffigen/errors.md
  pkgs/ffigen/lib/src/header_parser/parser.dart
Labels: package:ffigen

[infra] script to change deps to path dependencies
  .github/workflows/native.yaml
  pkgs/jni/example/pubspec.lock
  tools/.gitignore
  tools/bin/change_dependencies.dart
  tools/pubspec.yaml
Labels: type-infra, package:jni

Rename pkgs/ffigen/errors.md to pkgs/ffigen/docs/errors.md (#3)
  pkgs/ffigen/docs/errors.md
  pkgs/ffigen/lib/src/header_parser/parser.dart
Labels: package:ffigen

Fix pubspec warning
  tools/bin/change_dependencies.dart
Labels: none

revert jni change
  pkgs/jni/example/pubspec.lock
Labels: package:jni

Try not using windows paths
  tools/bin/change_dependencies.dart
Labels: none

Rename pkgs/ffigen/errors.md to pkgs/ffigen/doc/errors.md (#4)
  pkgs/ffigen/doc/errors.md
  pkgs/ffigen/lib/src/header_parser/parser.dart
Labels: package:ffigen

Try another Windows fix
  tools/bin/change_dependencies.dart
Labels: none

[native_assets_cli] Add note to bump protocol version
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

[infra] script to change deps to path dependencies (#817)
  .github/workflows/native.yaml
  tools/.gitignore
  tools/bin/change_dependencies.dart
  tools/pubspec.yaml
Labels: type-infra

Add workaround for --pause-isolates-on-exit
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

[native_assets_cli] Add note to bump protocol version (#819)
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

Use Isolate.kill instad of exit
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

Address comments
  pkgs/jni/test/jobject_test.dart
Labels: package:jni
