Repository dart-lang/native, pull requests merged in 2023-09, with the labels that each got.

#120 [native_toolchain_c] Add support for configuring preprocessor macro defines
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/testfiles/defines/src/defines.c
Labels: package:native_toolchain_c

#121 [native_toolchain_c] Default handling for PIC/PIE compiler flags
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

#122 Reenable example on CI + roll dep
  .github/workflows/dart.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
Labels: type-infra, package:native_assets_cli, package:native_assets_builder

#124 [native_toolchain_c] Fix MSVC x86 toolchain resolution
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/native_toolchain/msvc.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#126 `PackageLayout` constructor for already parsed `PackageConfig`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/package_layout_test.dart
Labels: package:native_assets_builder

#127 [native_assets_builder] Take packageLayout for build and dryRun
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: package:native_assets_builder

#129 [native_assets_builder] Speedup builds for 0 or 1 packages with native assets
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#132 [native_toolchain_c] Enable relocations in RO sections on clang
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
Labels: package:native_toolchain_c

#125 Add `includes`, `flags`, `std`, `language`, `cppLinkStdLib` options
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/xcode.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/testfiles/hello_world_cpp/src/hello_world_cpp.cc
  pkgs/native_toolchain_c/test/cbuilder/testfiles/includes/include/includes.h
  pkgs/native_toolchain_c/test/cbuilder/testfiles/includes/src/includes.c
  pkgs/native_toolchain_c/test/helpers.dart
  pkgs/native_toolchain_c/test/native_toolchain/recognizer_test.dart
  pkgs/native_toolchain_c/test/tool/tool_resolver_test.dart
  pkgs/native_toolchain_c/test/utils/run_process_test.dart
Labels: package:native_toolchain_c

#134 [CI] Bump clang to newer version
  .github/workflows/dart.yaml
Labels: type-infra

#139 [native_toolchain_c] Explicitly tell linker to create position dependent or position independent executable
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#138 [infra] Fix name for ci config
  .github/workflows/native_toolchain_c.yaml
Labels: type-infra

#140 [native_toolchain_c] Bump version
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#141 fix: Header filename mismatch causing ffigen to produce empty output
  pkgs/native_assets_cli/example/native_add_library/ffigen.yaml
Labels: package:native_assets_cli
