Repository dart-lang/native, pull requests merged in 2023-07, with the labels that each got.

#77 [c_compiler] Pass the correct SDK for iOS simulator builds
  pkgs/c_compiler/lib/src/cbuilder/run_cbuilder.dart
  pkgs/c_compiler/pubspec.yaml
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_cli/example/native_add/pubspec.yaml
Labels: package:native_assets_cli, package:c_compiler, package:native_assets_builder

#79 blast repo changes: auto-publish, github-actions, no-response
  .github/workflows/dart.yaml
  .github/workflows/no-response.yml
  .github/workflows/publish.yaml
  .github/workflows/pull_request_label.yml
Labels: type-infra

#78 use dependency_overrides and pubspec_overrides.yaml files
  pkgs/c_compiler/pubspec.yaml
  pkgs/c_compiler/pubspec_overrides.yaml
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/pubspec_overrides.yaml
  pkgs/native_assets_cli/pubspec.yaml
Labels: type-infra, package:native_assets_cli, package:c_compiler, package:native_assets_builder

#82 [native_assets_cli] Bump version to v0.1.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#86 [doc] Fix readme link
  pkgs/native_assets_builder/README.md
Labels: package:native_assets_builder

#88 [infra] Remove the last path dependencies
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder

#89 Add topics
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c

#99 [native_assets_builder] Builder `out/` folder
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
Labels: package:native_assets_builder

#103 [native_assets_builder] Fix multiple invocations of the build runner
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/data/package_reading_metadata/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder
