Repository dart-lang/native, pull requests merged in 2023-06, with the labels that each got.

#59 [native_assets_cli] Add `dry_run` option
  pkgs/c_compiler/lib/src/cbuilder/cbuilder.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_test.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/test/example/native_add_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli, package:c_compiler

#63 Handle errors from process output
  pkgs/c_compiler/lib/src/utils/run_process.dart
Labels: package:c_compiler

#62 Build mode
  pkgs/c_compiler/lib/src/cbuilder/run_cbuilder.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_test.dart
  pkgs/c_compiler/test/cbuilder/compiler_resolver_test.dart
  pkgs/c_compiler/test/cbuilder/testfiles/add/src/add.c
  pkgs/c_compiler/test/cbuilder/testfiles/hello_world/src/hello_world.c
  pkgs/native_assets_cli/example/native_add/src/native_add.c
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_mode.dart
  pkgs/native_assets_cli/test/example/native_add_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli, package:c_compiler

#65 [native_assets_cli] split up target in os and architecture
  pkgs/c_compiler/lib/src/cbuilder/cbuilder.dart
  pkgs/c_compiler/lib/src/cbuilder/compiler_resolver.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_test.dart
  pkgs/c_compiler/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/target.dart
  pkgs/native_assets_cli/test/example/native_add_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli, package:c_compiler

#66 [native_asset_cli] Trim `dry_run` of architecture, build_mode, etc.
  pkgs/c_compiler/lib/src/cbuilder/cbuilder.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_test.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/test/example/native_add_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/target_test.dart
Labels: package:native_assets_cli, package:c_compiler

#68 [native_assets_cli] Don't read c_compiler config if dry_run
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli
