Repository dart-lang/native, pull requests merged in 2023-10, with the labels that each got.

#147 Fix printing of log messages on test failures
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_cli/example/native_add_library/build.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#146 [native_assets_cli] `BuildConfig.packageName`
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli

#148 [native_toolchain_c] Bump deps
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
Labels: autosubmit, package:native_toolchain_c

#150 [native_assets_builder] Pass packageName in to builds
  .github/workflows/dart.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_asset_id_test.dart
  pkgs/native_assets_builder/test/data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add/manifest.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_assets_builder

#155 [native_assets_builder] Fix pub warning in tests
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: package:native_assets_builder

#158 Use `Logger.detached` for test loggers
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c, package:native_assets_builder

#161 Update all `lints` and `dart_flutter_team_lints` dependencies
  pkgs/native_assets_builder/analysis_options.yaml
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/analysis_options.yaml
  pkgs/native_assets_cli/example/native_add_app/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_output.dart
  pkgs/native_assets_cli/lib/src/model/dependencies.dart
  pkgs/native_assets_cli/lib/src/model/metadata.dart
  pkgs/native_assets_cli/lib/src/utils/datetime.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/dependencies_test.dart
  pkgs/native_assets_cli/test/model/metadata_test.dart
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/tool/tool_instance_test.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#163 Setup Linux RISCV64 toolchain.
  .github/workflows/dart.yaml
  .github/workflows/native_toolchain_c.yaml
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/gcc.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/gcc_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/recognizer_test.dart
Labels: type-infra, package:native_toolchain_c

#164 Setup Linux X64 toolchain for non-X64 hosts.
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/gcc.dart
  pkgs/native_toolchain_c/test/native_toolchain/gcc_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/recognizer_test.dart
Labels: package:native_toolchain_c

#166 [native_assets_cli] Add Android RISCV64 target.
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/target.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, autosubmit

#169 Temporarily allow modification of a BuildOutput's raw dependencies
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/build_output.dart
  pkgs/native_assets_cli/lib/src/model/dependencies.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/model/build_output_test.dart
Labels: package:native_assets_cli

#167 [native_toolchain_c] Support MSVC arm64 toolchain
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/msvc.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/native_toolchain/msvc_test.dart
Labels: package:native_toolchain_c
