Repository dart-lang/native, pull requests merged in 2023-11, with the labels that each got.

#179 [native_toolchain_c] Fix NDK discovery
  pkgs/native_toolchain_c/lib/src/tool/tool_resolver.dart
Labels: package:native_toolchain_c

#182 [native_toolchain_c] Bump highest tested NDK version to 34
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
Labels: autosubmit, package:native_toolchain_c

#180 [native_toolchain_c] Use sysroot on Android
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
Labels: autosubmit, package:native_toolchain_c

#183 [infra] Bump NDK version
  .github/workflows/native.yaml
  .github/workflows/native_toolchain_c.yaml
Labels: type-infra

#181 [native_toolchain_c] Add workaround for minSdkVersion 19 and 20
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
Labels: autosubmit, package:native_toolchain_c

#184 [native_toolchain_c] Bump version to 0.3.2
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: autosubmit, package:native_toolchain_c

#192 Preserve temp directory when running isolated test on Windows
  pkgs/native_assets_builder/lib/src/utils/run_process.dart
  pkgs/native_toolchain_c/lib/src/utils/run_process.dart
Labels: package:native_toolchain_c, package:native_assets_builder

#198 update repo references from the move
  .github/workflows/ffigen.yml
  pkgs/ffigen/CONTRIBUTING.md
  pkgs/ffigen/README.md
  pkgs/ffigen/pubspec.yaml
Labels: type-infra

#197 update the package markdown table; update the issue templates
  .github/ISSUE_TEMPLATE/ffigen.md
  .github/ISSUE_TEMPLATE/native_assets_builder.md
  .github/ISSUE_TEMPLATE/native_assets_cli.md
  .github/ISSUE_TEMPLATE/native_toolchain_c.md
  .github/labeler.yml
  README.md
Labels: type-infra

#203 [ffigen] Update urls after repo merge
  pkgs/ffigen/README.md
  pkgs/ffigen/example/README.md
  pkgs/ffigen/example/libclang-example/config.yaml
  pkgs/ffigen/example/swift/example.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/test/README.md
  pkgs/ffigen/test/header_parser_tests/struct_fptr_fields.h
  pkgs/ffigen/test/native_objc_test/string_test.m
Labels: autosubmit, package:ffigen

#202 [ffigen] Stable release 10.0.0
  .github/workflows/ffigen.yml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/c_json/pubspec.yaml
  pkgs/ffigen/example/ffinative/pubspec.yaml
  pkgs/ffigen/example/libclang-example/pubspec.yaml
  pkgs/ffigen/example/objective_c/pubspec.yaml
  pkgs/ffigen/example/shared_bindings/pubspec.yaml
  pkgs/ffigen/example/simple/pubspec.yaml
  pkgs/ffigen/pubspec.yaml
Labels: type-infra, autosubmit, package:ffigen

#809 [style] Enable `dangling_library_doc_comments` lint
  pkgs/ffigen/analysis_options.yaml
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/lib/src/config_provider/path_finder.dart
  pkgs/ffigen/lib/src/header_parser/includer.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/test/native_test/build_test_dylib.dart
  pkgs/jni/analysis_options.yaml
  pkgs/jni/example/analysis_options.yaml
  pkgs/jnigen/analysis_options.yaml
  pkgs/jnigen/android_test_runner/analysis_options.yaml
  pkgs/jnigen/example/in_app_java/analysis_options.yaml
  pkgs/jnigen/example/notification_plugin/example/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/dart_example/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/example/analysis_options.yaml
  pkgs/native_assets_builder/analysis_options.yaml
  pkgs/native_assets_cli/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, package:ffigen

#811 [jnigen] Update links and paths to use dart-lang/native
  .github/workflows/jnigen.yaml
  README.md
  pkgs/jni/CHANGELOG.md
  pkgs/jni/README.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/example/README.md
  pkgs/jnigen/example/notification_plugin/pubspec.yaml
  pkgs/jnigen/example/pdfbox_plugin/jnigen.yaml
  pkgs/jnigen/example/pdfbox_plugin/pubspec.yaml
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/pubspec.yaml
Labels: type-infra

#813 [infra] Try fix coveralls
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  pkgs/jni/.gitignore
  pkgs/jnigen/example/notification_plugin/.gitignore
Labels: type-infra

#815 [infra] Try to use `carryforward`
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
Labels: type-infra

#816 [infra] Set `breaking-change` to false again
  .github/workflows/native.yaml
Labels: type-infra, autosubmit

#817 [infra] script to change deps to path dependencies
  .github/workflows/native.yaml
  tools/.gitignore
  tools/bin/change_dependencies.dart
  tools/pubspec.yaml
Labels: type-infra, autosubmit

#819 [native_assets_cli] Add note to bump protocol version
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#814 [jnigen] Fix flaky tests
  .github/labeler.yml
  pkgs/jni/example/pubspec.lock
  pkgs/jni/test/jobject_test.dart
  pkgs/jnigen/test/jackson_core_test/generated_files_test.dart
  pkgs/jnigen/test/test_util/test_util.dart
Labels: type-infra

#820 [infra] Add an issue template for jnigen
  .github/ISSUE_TEMPLATE/jnigen.md
  pkgs/jni/example/pubspec.lock
Labels: type-infra, package:jni

#810 [ffigen] Add config `ignore-source-errors`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/doc/errors.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_spec.dart
  pkgs/ffigen/lib/src/executables/ffigen.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/data.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/header_parser_tests/forward_decl_test.dart
  pkgs/ffigen/test/header_parser_tests/unions_test.dart
  pkgs/ffigen/tool/libclang_config.yaml
Labels: package:ffigen

#824 Fixed a typo in the warn if private log message.
  pkgs/ffigen/lib/src/code_generator/library.dart
Labels: package:ffigen

#828 ffigen: Don't generate setters for constant globals
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/var_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_global_bindings.dart
  pkgs/ffigen/test/header_parser_tests/globals.h
  pkgs/ffigen/test/header_parser_tests/globals_test.dart
  pkgs/ffigen/tool/libclang_config.yaml
Labels: package:ffigen

#830 [ffigen] Update the ObjC and swift examples for the v10 code gen
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/play_audio.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/example/swift/third_party/swift_api.h
Labels: package:ffigen

#825 Generate getters for `static final` strings
  pkgs/jni/lib/src/jfinal_string.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/test/jfinal_string_test.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/src/android_utils/android_utils.c
  pkgs/jnigen/lib/src/bindings/c_generator.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/c_bindings/jackson_core.c
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/simple_package_test/c_based/c_bindings/simple_package.c
  pkgs/jnigen/test/simple_package_test/c_based/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/dart_only/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni

#833 [native_assets_builder] Only build native assets for dependencies of …
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: autosubmit, package:native_assets_builder

#834 [native] Bump deps
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#836 [ffigen] Only use `objc_msgSend` variants on x64
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
Labels: autosubmit, package:ffigen

#837 [infra] Hide TODOs from problems view in VSCode
  pkgs/ffigen/analysis_options.yaml
  pkgs/jni/analysis_options.yaml
  pkgs/jnigen/analysis_options.yaml
  pkgs/native_assets_builder/analysis_options.yaml
  pkgs/native_assets_cli/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, package:ffigen, package:jnigen, package:jni
