Repository dart-lang/native, pull requests merged in 2023-12, with the labels that each got.

#843 [native_assets_builder] Don't use FFIgen in test
  pkgs/native_assets_builder/test/build_runner/build_runner_asset_id_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/data/manifest.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/some_dev_dep/bin/some_dev_dep.dart
  pkgs/native_assets_builder/test/data/some_dev_dep/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#844 [native_assets_builder] Handle non-existing package names
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
Labels: autosubmit, package:native_assets_builder

#846 Workflow cleanups
  .github/workflows/native.yaml
  pkgs/native_assets_builder/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_1/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_2/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/manifest.yaml
  pkgs/native_assets_builder/test/data/native_add/manifest.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/package_reading_metadata/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/package_with_metadata/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_2/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_3/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/wrong_namespace_asset/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_cli/example/native_add_library/pubspec_overrides.yaml
  pkgs/native_toolchain_c/pubspec_overrides.yaml
  tools/.gitignore
  tools/bin/change_dependencies.dart
  tools/delete_pubspec_overrides.dart
  tools/pubspec.yaml
Labels: type-infra, package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-breaking-check

#847 [ffigen] Run ffigen CI less often on Apple silicon
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
Labels: type-infra

#851 Add `health.yaml` workflow
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
Labels: type-infra

#859 Don't test web in `health.yaml`
  .github/workflows/health.yaml
Labels: type-infra

#863 [infra] Skip coverage in health check
  .github/workflows/health.yaml
Labels: type-infra, autosubmit

#858 [native_assets_cli] Add example using `dart_api_dl.h`
  .github/workflows/native.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/use_dart_api/README.md
  pkgs/native_assets_cli/example/use_dart_api/build.dart
  pkgs/native_assets_cli/example/use_dart_api/ffigen.yaml
  pkgs/native_assets_cli/example/use_dart_api/lib/src/use_dart_api_bindings_generated.dart
  pkgs/native_assets_cli/example/use_dart_api/lib/use_dart_api.dart
  pkgs/native_assets_cli/example/use_dart_api/manifest.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec_overrides.yaml
  pkgs/native_assets_cli/example/use_dart_api/src/dart_api.h
  pkgs/native_assets_cli/example/use_dart_api/src/dart_api_dl.c
  pkgs/native_assets_cli/example/use_dart_api/src/dart_api_dl.h
  pkgs/native_assets_cli/example/use_dart_api/src/dart_embedder_api.h
  pkgs/native_assets_cli/example/use_dart_api/src/dart_native_api.h
  pkgs/native_assets_cli/example/use_dart_api/src/dart_tools_api.h
  pkgs/native_assets_cli/example/use_dart_api/src/dart_version.h
  pkgs/native_assets_cli/example/use_dart_api/src/internal/dart_api_dl_impl.h
  pkgs/native_assets_cli/example/use_dart_api/src/use_dart_api.c
  pkgs/native_assets_cli/example/use_dart_api/src/use_dart_api.h
  pkgs/native_assets_cli/example/use_dart_api/test/use_dart_api_test.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: type-infra, package:native_assets_cli, autosubmit

#861 [ffigen] fix syntax for leaf ffiNative functions
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_boolean_dartbool_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_constant_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_function_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_function_ffiNative_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_function_n_struct_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_global_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_internal_conflict_resolution_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_packed_structs_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_sort_bindings_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_struct_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_typealias_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_unions_bindings.dart
Labels: package:ffigen

#864 [native_toolchain_c] Export `environmentFromBatchFile`
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/native_toolchain_c.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/utils/env_from_bat.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/native_toolchain/msvc_test.dart
Labels: autosubmit, package:native_toolchain_c

#865 Fix clang "sometimes-uninitialized" and "unused-variable" warnings
  pkgs/jni/src/dartjni.c
Labels: package:jni
