Repository dart-lang/native, pull requests merged in 2023-05, with the labels that each got.

#38 [native_assets_cli] Add `outDirName`
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: package:native_assets_cli

#40 [native_assets_cli] Require dirs to exist
  .github/workflows/dart.yaml
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
Labels: type-infra, package:native_assets_cli

#43 blast_repo fixes
  .github/dependabot.yaml
Labels: type-infra

#46 [c_compiler] `runProcess` additions
  pkgs/c_compiler/lib/src/native_toolchain/msvc.dart
  pkgs/c_compiler/lib/src/utils/run_process.dart
Labels: package:c_compiler

#49 Add Android NDK API version
  pkgs/c_compiler/lib/src/cbuilder/run_cbuilder.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/target_test.dart
Labels: package:native_assets_cli, package:c_compiler

#52 [c_compiler] Make the package compatible with 3.0
  pkgs/c_compiler/lib/src/utils/run_process.dart
  pkgs/c_compiler/pubspec.yaml
  pkgs/native_assets_cli/example/native_add/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, package:c_compiler

#53 [c_compiler] Target ios_x64
  pkgs/c_compiler/lib/src/cbuilder/run_cbuilder.dart
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_assets_cli/lib/src/model/target.dart
Labels: package:native_assets_cli, package:c_compiler

#55 [c_compiler] Support setting the install name of dylibs
  pkgs/c_compiler/lib/src/cbuilder/cbuilder.dart
  pkgs/c_compiler/lib/src/cbuilder/run_cbuilder.dart
  pkgs/c_compiler/lib/src/native_toolchain/apple_clang.dart
  pkgs/c_compiler/pubspec.yaml
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/c_compiler/test/helpers.dart
  pkgs/c_compiler/test/native_toolchain/apple_clang_test.dart
Labels: package:c_compiler

#56 [c_compiler] test install_name_tool behavior
  pkgs/c_compiler/test/cbuilder/cbuilder_cross_ios_test.dart
Labels: autosubmit, package:c_compiler
