Repository dart-lang/native, pull requests merged in 2024-06, with the labels that each got.

#1140 Added "struct syntax" to AST
  pkgs/swiftgen/swift2objc/LICENSE
  pkgs/swiftgen/swift2objc/README.md
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/compund_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/confomingable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/genericable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/objc_annotatable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/paramable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/parameter.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swiftgen/swift2objc/lib/swift2objc.dart
  pkgs/swiftgen/swift2objc/pubspec.yaml
Labels: lang-swift, swift2objc

#1194 Fix #1007
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/utils.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.m
Labels: package:ffigen

#1193 Infra for swift2objc
  .github/ISSUE_TEMPLATE/swift2objc.md
  .github/ISSUE_TEMPLATE/swiftgen.md
  .github/labeler.yml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swiftgen/swift2objc/pubspec.yaml
Labels: type-infra, package:swiftgen, package:swift2objc

#1205 Remove un-needed registerWith method from `jni`
  pkgs/jni/android/src/main/java/com/github/dart_lang/jni/JniPlugin.java
Labels: package:jni

#1187 Enum integer type via libclang.
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/example/libclang-example/generated_bindings.dart
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/unnamed_enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/cxtypekindmap.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/header_parser_tests/enum_int_mimic.h
  pkgs/ffigen/test/header_parser_tests/enum_int_mimic_test.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_enum_int_mimic_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_forward_decl_bindings.dart
  pkgs/ffigen/test/header_parser_tests/forward_decl.h
  pkgs/ffigen/test/large_integration_tests/_expected_libclang_bindings.dart
  pkgs/ffigen/tool/libclang_config.yaml
Labels: package:ffigen

#1202 Ffi enums
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/libclang-example/generated_bindings.dart
  pkgs/ffigen/example/shared_bindings/lib/generated/a_gen.dart
  pkgs/ffigen/example/shared_bindings/lib/generated/a_shared_b_gen.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_duplicates_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_enum_int_mimic_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_forward_decl_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_typedef_bindings.dart
  pkgs/ffigen/test/large_integration_tests/_expected_libclang_bindings.dart
Labels: package:ffigen

#1203 Fix #835
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/binding.dart
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/func_type.dart
  pkgs/ffigen/lib/src/code_generator/handle.dart
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/native_type.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/type.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/executables/ffigen.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/native_objc_test/.gitignore
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/ffigen/test/native_objc_test/setup.dart
  pkgs/objective_c/example/pubspec.lock
Labels: package:ffigen, package:objective_c

#1206 implement parsing for classes and class methods
  pkgs/swiftgen/.gitignore
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/type_parameterizable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/ast.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/parsed_symbolgraph.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parser.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_class_decalartion.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_method_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/main.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.swift
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.symbols.json
  pkgs/swiftgen/swift2objc/pubspec.yaml
Labels: package:swiftgen, package:swift2objc

#1214 [jnigen] Fix generated vararg types
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1211 pkgs/jni: Support Throwing Java Exceptions in Interface Impl.
  pkgs/jni/example/pubspec.lock
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/PortProxy.java
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jprimitives.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/StringConversionException.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/StringConverter.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/StringConverterConsumer.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1222 [jnigen] Publish 0.9.3
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1219 Fix #1218
  pkgs/objective_c/ios/objective_c.podspec
  pkgs/objective_c/macos/objective_c.podspec
Labels: package:objective_c

#1233 [infra] pin dev release for `package:native_x`
  .github/workflows/native.yaml
Labels: type-infra

#1228 [native_toolchain_c] `CBuilder` Objective-C clang flags
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/cbuilder/testfiles/add_objective_c/src/add.m
Labels: autosubmit, package:native_toolchain_c

#1235 [jnigen] Add support for Kotlin top-level functions and fields
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/KotlinMetadataAnnotationVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/ClassDecl.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/KotlinPackage.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/TopLevel.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen

#1239 [native_x] Add support for minimum iOS and MacOS versions
  .github/workflows/health.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/fail_on_os_sdk_version_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/assets/data.json
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/hook/link.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/hook_config.dart
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1241 [native_assets_cli] Fix toString of objects used in test names
  pkgs/native_assets_cli/lib/src/model/native_code_asset.dart
  pkgs/native_assets_cli/test/api/asset_test.dart
Labels: package:native_assets_cli, skip-changelog-check

#1243 Add data asset test project
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/.gitignore
  pkgs/native_assets_builder/test_data/simple_data_asset/README.md
  pkgs/native_assets_builder/test_data/simple_data_asset/asset/test_asset.txt
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/simple_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
Labels: package:native_assets_builder
