Repository dart-lang/native, pull requests merged in 2024-01, with the labels that each got.

#869 [ffigen] Search dylib in conda env path
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
Labels: package:ffigen

#872 [ffigen] Release 11 Stable
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
Labels: autosubmit, package:ffigen

#860 Support `@Native` fields and `addressOf`
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
  .github/workflows/health.yaml
  .github/workflows/publish.yaml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/ffinative/config.yaml
  pkgs/ffigen/example/ffinative/headers/example.h
  pkgs/ffigen/example/ffinative/lib/generated_bindings.dart
  pkgs/ffigen/example/ffinative/pubspec.yaml
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/utils.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/var_parser.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_function_ffiNative_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_global_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_global_native_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_native_symbol_bindings.dart
  pkgs/ffigen/test/header_parser_tests/function_n_struct_test.dart
Labels: type-infra, package:ffigen, skip-license-check

#881 [native_assets_cli] Move non-`build.dart` code to `package:native_assets_builder`
  .github/workflows/health.yaml
  pkgs/native_assets_builder/dart_test.yaml
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/model/asset.dart
  pkgs/native_assets_builder/lib/src/utils/yaml.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/model/asset_test.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/asset.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
Labels: type-infra, package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#884 [ffigen] Use `-wip` instead of `-dev` semantic versioning
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
Labels: type-infra, autosubmit, package:ffigen

#887 [native_toolchain_c] Bump native_assets_cli to 0.4.0
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#888 [native_assets_cli] Release 0.4.1
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, skip-breaking-check, skip-changelog-check

#894 [native_toolchain_c] Remove private dependency use
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/data/dart_app/pubspec_overrides.yaml
  pkgs/native_assets_builder/test/data/manifest.yaml
  pkgs/native_assets_builder/test/data/some_dev_dep/pubspec_overrides.yaml
  pkgs/native_assets_cli/example/native_add_app/pubspec_overrides.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
  tools/check_pubspec_overrides.dart
Labels: type-infra, package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#891 [native_assets_builder][native_toolchain_c] Bump dependencies
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test/data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test/data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test/data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#895 Merge ffi package
  .github/workflows/ffi.yaml
  pkgs/ffi/.gitignore
  pkgs/ffi/AUTHORS
  pkgs/ffi/CHANGELOG.md
  pkgs/ffi/LICENSE
  pkgs/ffi/README.md
  pkgs/ffi/analysis_options.yaml
  pkgs/ffi/example/main.dart
  pkgs/ffi/lib/ffi.dart
  pkgs/ffi/lib/src/allocation.dart
  pkgs/ffi/lib/src/arena.dart
  pkgs/ffi/lib/src/utf16.dart
  pkgs/ffi/lib/src/utf8.dart
  pkgs/ffi/pubspec.yaml
  pkgs/ffi/test/allocation_test.dart
  pkgs/ffi/test/arena_test.dart
  pkgs/ffi/test/utf16_test.dart
  pkgs/ffi/test/utf8_test.dart
Labels: type-infra, skip-breaking-check

#896 [ffi] Cleanup after move and bump to v2.1.2
  .github/workflows/ffi.yaml
  README.md
  pkgs/ffi/CHANGELOG.md
  pkgs/ffi/README.md
  pkgs/ffi/pubspec.yaml
Labels: type-infra, publish-ignore-warnings

#937 [native_assets_builder] v0.3.1
  pkgs/native_assets_builder/.pubignore
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
Labels: package:native_assets_builder

#941 [native_assets_builder] Add `AssetRelativePath` back in
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/model/asset.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/model/asset_test.dart
Labels: package:native_assets_builder

#943 [native_assets_builder] Document rolling constraints
  pkgs/native_assets_builder/CONTRIBUTING.md
Labels: autosubmit, package:native_assets_builder

#947 [native_assets_cli] Fix dartdoc generation
  pkgs/native_assets_cli/.gitignore
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/dartdoc_options.yaml
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#953 [infra] Don't fail fast
  .github/workflows/native.yaml
Labels: type-infra, autosubmit

#951 [native_assets_cli] Better fix for dartdoc
  pkgs/native_assets_cli/dartdoc_options.yaml
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
Labels: package:native_assets_cli, skip-changelog-check
