Repository dart-lang/native, pull requests merged in 2024-07, with the labels that each got.

#1246 Some quick fixes for ffigen
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/test/native_objc_test/rename_config.yaml
  pkgs/ffigen/test/native_objc_test/rename_test.dart
  pkgs/ffigen/test/native_objc_test/rename_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/interface_lists_test.dart
Labels: package:ffigen, package:objective_c

#1250 Fixes and tests for listener block native bindings
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/struct.dart
  pkgs/ffigen/lib/src/code_generator/union.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
Labels: package:ffigen, skip-changelog-check

#1261 [native_assets_cli] Publish 0.6.1
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1262 [native_toolchain_c] Publish 0.5.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1257 Improve ergonomics of protocol bindings
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1265 [native_assets_builder] Publish 0.7.1
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1266 [ffigen] support generate unused typedefs
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/header_parser/translation_unit_parser.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/collision_tests/expected_bindings/_expected_decl_decl_collision_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_typedef_bindings.dart
  pkgs/ffigen/test/header_parser_tests/typedef.h
  pkgs/ffigen/test/header_parser_tests/typedef_test.dart
Labels: package:ffigen

#1270 [infra] Bump `native_` packages to WIP
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1272 Switch to `package:dart_flutter_team_lints`
  pkgs/ffi/CHANGELOG.md
  pkgs/ffi/analysis_options.yaml
  pkgs/ffi/example/main.dart
  pkgs/ffi/lib/ffi.dart
  pkgs/ffi/lib/src/allocation.dart
  pkgs/ffi/lib/src/arena.dart
  pkgs/ffi/lib/src/utf16.dart
  pkgs/ffi/lib/src/utf8.dart
  pkgs/ffi/pubspec.yaml
  pkgs/ffi/test/allocation_test.dart
  pkgs/ffi/test/arena_test.dart
  pkgs/ffi/test/utf16_test.dart
  pkgs/ffi/test/utf8_test.dart
Labels: autosubmit

#1245 Implement basic transformer
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/objc_annotatable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/parameterizable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/protocol_conformable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/parameter.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/ast.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parser.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/main.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.swift
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.symbols.json
  pkgs/swiftgen/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transform.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_class.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_method.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
Labels: package:swiftgen, package:swift2objc

#1277 [ffigen] Switch to `package:dart_flutter_team_lints`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/analysis_options.yaml
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/analysis_options.yaml
  pkgs/objective_c/example/pubspec.lock
  pkgs/objective_c/pubspec.yaml
  pkgs/swiftgen/CHANGELOG.md
  pkgs/swiftgen/analysis_options.yaml
  pkgs/swiftgen/pubspec.yaml
  pkgs/swiftgen/swift2objc/CHANGELOG.md
  pkgs/swiftgen/swift2objc/analysis_options.yaml
  pkgs/swiftgen/swift2objc/pubspec.yaml
Labels: package:ffigen, package:objective_c, package:swiftgen, package:swift2objc

#1273 [native_assets_cli] `BuildConfig.linkingEnabled`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_build_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_cycle_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test/build_runner/resources_test.dart
  pkgs/native_assets_builder/test_data/add_asset_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link_helper/hook/build.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_link/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/link/package_with_assets/hook/build.dart
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/build_output_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/api/build_config_test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/checksum_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1283 [native_*] Enable `strict-` analyzer errors
  pkgs/native_assets_builder/analysis_options.yaml
  pkgs/native_assets_cli/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1284 [native_assets_cli] Publish 0.7.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1285 [native_toolchain_c] Publish 0.5.1
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1286 [native_assets_builder] Publish 0.8.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#1316 [jni] 13 - `unreachable_from_main` lint
  pkgs/jni/analysis_options.yaml
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/type_test.dart
Labels: package:jni

#1315 [jni] 12 - `unnecessary_parenthesis` lint
  pkgs/jni/analysis_options.yaml
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
Labels: package:jni

#1314 [jni] 11 - `prefer_single_quotes` lint
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1313 [jni] 10 - `prefer_relative_imports` lint
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1312 [jni] 9 - `only_throw_errors` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1310 [jni] 7 - `lines_longer_than_80_chars` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1309 [jni] 6 - `directives_ordering` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1308 [jni] 5 - `comment_references` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1307 [jni] 4 - `collection_methods_unrelated_type` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1306 [jni] 3 - enable `strict-inference`
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/ffigen_util.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1305 [jni] 2 - enable `strict-casts`
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/ffigen_util.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni

#1304 [jni] 1 - `avoid_catching_errors` lint
  pkgs/jni/CHANGELOG.md
  pkgs/jni/analysis_options.yaml
  pkgs/jni/bin/setup.dart
  pkgs/jni/example/pubspec.lock
  pkgs/jni/lib/internal_helpers_for_jnigen.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/generated_bindings.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/ffigen_util.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: package:jni, skip-changelog-check

#1323 [jnigen] Fix castTo and publish 0.10.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/tool/generate_ide_files.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
  pkgs/jnigen/CHANGELOG.md
Labels: package:jnigen, package:jni

#1324 [jni] [jnigen] Actually change the version in pubspec!
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1325 JObjects do not implement finalizable
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/pubspec.yaml
Labels: package:jni

#1326 Fix lints in package:objective_c
  pkgs/objective_c/analysis_options.yaml
  pkgs/objective_c/example/pubspec.lock
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/generate_code_test.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_mutable_data_test.dart
  pkgs/objective_c/test/nsdata_test.dart
  pkgs/objective_c/test/nsstring_test.dart
Labels: skip-changelog-check, package:objective_c

#1329 Include the `NSKeyValueObserving` extension for `NSObject`
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/foundation.h
Labels: autosubmit, package:ffigen, skip-changelog-check, package:objective_c

#1330 [ffigen] Enable strict types
  pkgs/ffi/analysis_options.yaml
  pkgs/ffigen/analysis_options.yaml
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_spec.dart
  pkgs/objective_c/example/pubspec.lock
Labels: autosubmit, package:ffigen, skip-breaking-check, skip-changelog-check, package:objective_c

#1334 [native_toolchain_c] Publish 0.5.2
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1335 [native_assets_builder] Publish 0.8.1
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1336 [native_*] Back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1342 [native_assets_cli] Cleanup `List` from API
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/api/link_output.dart
  pkgs/native_assets_cli/lib/src/model/hook_output.dart
Labels: package:native_assets_cli, autosubmit, skip-changelog-check

#1341 [native_assets_cli] Deprecate metadata
  pkgs/native_assets_builder/test_data/package_reading_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/package_with_metadata/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/api/builder.dart
  pkgs/native_assets_cli/lib/src/api/deprecation_messages.dart
  pkgs/native_assets_cli/lib/src/api/linker.dart
  pkgs/native_assets_cli/test/api/build_config_test.dart
  pkgs/native_assets_cli/test/api/build_output_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1343 [native_assets_cli] Publish 0.7.2
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1320 Implement class generator
  pkgs/swiftgen/swift2objc/analysis_options.yaml
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/compound_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/objc_annotatable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/parameterizable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/interfaces/type_parameterizable.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swiftgen/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swiftgen/swift2objc/lib/src/generator/generator.dart
  pkgs/swiftgen/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/parsed_symbolgraph.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parser.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_class_decalartion.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_method_declaration.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swiftgen/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/main.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/output.swift
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.swift
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.symbols.json
  pkgs/swiftgen/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transform.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_class.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_method.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
  pkgs/swiftgen/swift2objc/lib/swift2objc.dart
  pkgs/swiftgen/swift2objc/pubspec.yaml
Labels: package:swiftgen, package:swift2objc

#1339 More quick fixes for bugs related to #1250
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/utils.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/ffigen/test/unit_tests/objc_framework_header_test.dart
Labels: package:ffigen, skip-changelog-check

#1344 Added `enums -> as-int` config option to use integer values
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_integers_bindings.dart
Labels: package:ffigen

#1345 [native_*] Hooks with `DataAsset`s read from disk
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/test/build_runner/link_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link_helper/hook/build.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_add_source/hook/build.dart
  pkgs/native_assets_builder/test_data/native_subtract/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/deep_modify_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/modify_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/simple_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_link/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/use_dart_api/hook/build.dart
  pkgs/native_assets_cli/example/link/package_with_assets/hook/build.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/api/builder.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/example/local_asset_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1352 [native-*] `DataAsset` names default to the full path
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/test/build_runner/link_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/link.dart
  pkgs/native_assets_builder/test_data/complex_link_helper/hook/build.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/assets/test_asset.txt
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/deep_modify_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/modify_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/bin/simple_data_asset.dart.debug
  pkgs/native_assets_builder/test_data/simple_data_asset/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_link/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/link/package_with_assets/hook/build.dart
  pkgs/native_assets_cli/example/link/package_with_assets/lib/package_with_assets.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1348 Prepare to publish ffigen 13.0.0 and objective_c 1.1.0
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c, skip-version-check

#1349 Test infra for Swift2ObjC
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  pkgs/swiftgen/.gitignore
  pkgs/swiftgen/swift2objc/lib/src/generator/generator.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/main.dart
  pkgs/swiftgen/swift2objc/lib/src/temp_test/symbolgraph/source.symbols.json
  pkgs/swiftgen/swift2objc/lib/src/transformer/transform.dart
  pkgs/swiftgen/swift2objc/lib/src/transformer/transformers/transform_class.dart
  pkgs/swiftgen/swift2objc/lib/swift2objc.dart
  pkgs/swiftgen/swift2objc/test/integration/classes_and_methods_input.swift
  pkgs/swiftgen/swift2objc/test/integration/classes_and_methods_output.swift
  pkgs/swiftgen/swift2objc/test/integration/integration_test.dart
  pkgs/swiftgen/swift2objc/test/integration/temp/.gitignore
Labels: type-infra, package:swiftgen, package:swift2objc

#1357 Move swift2objc to its own pkgs directory
  .github/workflows/swift2objc.yaml
  README.md
  pkgs/swift2objc/.gitignore
  pkgs/swift2objc/CHANGELOG.md
  pkgs/swift2objc/LICENSE
  pkgs/swift2objc/README.md
  pkgs/swift2objc/analysis_options.yaml
  pkgs/swift2objc/lib/src/ast/_core/interfaces/compound_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/objc_annotatable.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/parameterizable.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/protocol_conformable.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/type_parameterizable.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/parameter.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generator.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/parsed_symbolgraph.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parser.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_class_decalartion.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_method_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_class.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_method.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
  pkgs/swift2objc/lib/swift2objc.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/integration/classes_and_methods_input.swift
  pkgs/swift2objc/test/integration/classes_and_methods_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/temp/.gitignore
Labels: type-infra

#1355 Make Some JNI functions leaf and remove `Jni.accessors`
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jclass.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jprimitives.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/src/third_party/global_jni_env.c
  pkgs/jni/src/third_party/global_jni_env.h
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_helper_functions.dart
Labels: package:jni

#987 [native_toolchain_c] Add linking on Linux
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/bin/treeshaking_native_libs.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/ffigen.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/hook/build.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/hook/link.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/lib/src/treeshaking_native_libs.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/lib/src/treeshaking_native_libs_bindings_generated.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/lib/treeshaking_native_libs.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/src/native_add.c
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/src/native_add.h
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/src/native_multiply.c
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/src/native_multiply.h
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/test/treeshaking_native_libs_test.dart
  pkgs/native_toolchain_c/lib/native_toolchain_c.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/ctool.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/language.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linkmode.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/output_type.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/msvc.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/recognizer.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/testfiles/linker/symbols.lds
  pkgs/native_toolchain_c/test/clinker/testfiles/linker/test1.c
  pkgs/native_toolchain_c/test/clinker/testfiles/linker/test2.c
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
  pkgs/native_toolchain_c/test/native_toolchain/msvc_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/recognizer_test.dart
Labels: type-infra, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1377 Test build hooks
  .github/workflows/health.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/local_asset/test/build_test.dart
  pkgs/native_assets_cli/lib/src/api/test.dart
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: type-infra, package:native_assets_cli

#1271 Revert "[infra] pin dev release for `package:native_x` (#1233)"
  .github/workflows/native.yaml
Labels: type-infra

#1380 [native_*] Cleanup commented out code
  pkgs/native_assets_builder/lib/src/utils/file.dart
  pkgs/native_toolchain_c/lib/src/tool/tool_resolver.dart
Labels: package:native_toolchain_c, package:native_assets_builder, skip-changelog-check
