Repository dart-lang/native, pull requests merged in 2024-09, with the labels that each got.

#1483 [ffigen] Fix CI
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
Labels: package:ffigen

#1494 [native_assets_cli] Publish 0.7.3
  pkgs/native_assets_cli/.gitignore
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, autosubmit

#1482 [jni] Remove more gitignored files
  pkgs/jni/example/linux/flutter/generated_plugin_registrant.cc
  pkgs/jni/example/linux/flutter/generated_plugin_registrant.h
  pkgs/jni/example/linux/flutter/generated_plugins.cmake
  pkgs/jni/example/windows/flutter/generated_plugin_registrant.cc
  pkgs/jni/example/windows/flutter/generated_plugin_registrant.h
  pkgs/jni/example/windows/flutter/generated_plugins.cmake
Labels: package:jni

#1496 [native_toolchain_c] Publish 0.5.3
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1497 [native_assets_builder] Publish 0.8.2
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#1498 [jnigen] Fix CI
  pkgs/jnigen/example/in_app_java/jnigen.yaml
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
Labels: package:jnigen

#1499 [objective_c] Force `.pointer` to go through `.ref`
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/cast_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/isolate_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/typedef_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/ns_mutable_data_test.dart
  pkgs/objective_c/test/nsdata_test.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1501 [native_*] Back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/tool/dependencies.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1503 [tool] Swap dependencies to published at specific version
  pkgs/native_assets_cli/tool/dependencies.dart
Labels: package:native_assets_cli

#1502 Add recorded usages URI to API
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/model/link_config_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1437 Add `native_dynamic_linking` to `test_data`
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_add.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/README.md
  pkgs/native_assets_builder/test_data/native_dynamic_linking/bin/native_dynamic_linking.dart
  pkgs/native_assets_builder/test_data/native_dynamic_linking/ffigen.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/hook/build.dart
  pkgs/native_assets_builder/test_data/native_dynamic_linking/lib/add.dart
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/add.c
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/add.h
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/debug.c
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/debug.h
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/math.c
  pkgs/native_assets_builder/test_data/native_dynamic_linking/src/math.h
  pkgs/native_assets_builder/test_data/native_dynamic_linking/test/add_test.dart
Labels: type-infra, package:native_assets_builder

#1512 [native_assets_*] Error on conflict dylib names
  .github/workflows/native.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/conflicting_dylib_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/src/native_add.c
  pkgs/native_assets_builder/test_data/native_add_duplicate/src/native_add.h
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/validator/validator.dart
  pkgs/native_assets_cli/test/validator/validator_test.dart
Labels: type-infra, package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1515 [native_assets_builder] Rerun link hook if input assets change
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test_data/simple_link_change_asset/assets/data_0.json
  pkgs/native_assets_builder/test_data/simple_link_change_asset/assets/data_1.json
  pkgs/native_assets_builder/test_data/simple_link_change_asset/assets/data_2.json
  pkgs/native_assets_builder/test_data/simple_link_change_asset/assets/data_3.json
  pkgs/native_assets_builder/test_data/simple_link_change_asset/manifest.yaml
Labels: package:native_assets_builder

#1491 [ffigen] Fix ARC for blocks
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/type.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objc_block_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_config.yaml
  pkgs/ffigen/test/native_objc_test/block_annotation_test.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_test.h
  pkgs/ffigen/test/native_objc_test/block_annotation_test.m
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_inherit_test.m
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/block.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_runtime.h
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1511 [ffigen] Method filtering
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/native_objc_test/method_filtering_config.yaml
  pkgs/ffigen/test/native_objc_test/method_filtering_test.dart
  pkgs/ffigen/test/native_objc_test/method_filtering_test.m
  pkgs/ffigen/test/native_objc_test/rename_config.yaml
  pkgs/ffigen/test/native_objc_test/rename_test.dart
  pkgs/ffigen/test/native_objc_test/rename_test.m
Labels: package:ffigen

#1519 Prepare to publish ffigen 14.0.0 and objective_c 2.0.0
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/example/macos/Flutter/GeneratedPluginRegistrant.swift
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c, skip-version-check

#1514 Not generate bridge methods, protected elements, and abstract constructors
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/TypeUtils.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/Method.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/generate.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Measure.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
  pkgs/jnigen/test/runtime_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/summary_test.dart
Labels: package:jnigen

#1524 Fix and actually test `test_data/native_dynamic_linking`
  pkgs/native_assets_builder/dart_test.yaml
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_helper.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test_data/native_dynamic_linking/hook/build.dart
Labels: package:native_assets_builder

#1520 [native_*] Unify `CCompilerConfig` handling in tests
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/example/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/helpers.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check, publish-ignore-warnings

#1531 [native_assets_builder] Test data for dylib name conflict
  pkgs/native_assets_builder/test/build_runner/conflicting_dylib_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/bin/native_add_duplicate.dart
  pkgs/native_assets_builder/test_data/native_add_duplicate/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_duplicate/hook/link.dart
Labels: package:native_assets_builder, skip-changelog-check

#1540 [ffigen] Fix bug in nullable block arguments
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
Labels: package:ffigen

#1530 Fix numeric suffix rename
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/java_differences.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/dart_example/bin/pdf_info.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/bindings/unnester.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/runtime_test_registrant.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
  pkgs/jnigen/test/renamer_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

#1545 [jnigen] Rename names with dollar signs
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/java_differences.md
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/renamer_test.dart
Labels: package:jnigen

#1549 [ffigen] Fix path normalization bug
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/utils.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/macro_parser.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/unit_tests/normalize_path_test.dart
Labels: package:ffigen

#1541 [ffigen] Dedupe ObjC listener block trampolines
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objc_block_parser.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
Labels: package:ffigen

#1551 [jnigen] Rename identifiers starting with underscore
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/java_differences.md
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/renamer_test.dart
Labels: package:jnigen

#1553 [jnigen] Do not fail when synthetic parameters don't have names
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
Labels: package:jnigen

#1558 Publish `0.8.0`
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1559 Publish `0.5.4`
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/native_toolchain_c.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/tool_likeness.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1560 Publish `0.8.3`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1561 Reset packages to path deps
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1562 [jnigen] Update AGP
  .github/workflows/jnigen.yaml
  pkgs/jni/example/android/app/build.gradle
  pkgs/jni/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jni/example/android/settings.gradle
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/android_test_runner/android/app/build.gradle
  pkgs/jnigen/android_test_runner/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jnigen/android_test_runner/android/settings.gradle
  pkgs/jnigen/example/in_app_java/android/app/build.gradle
  pkgs/jnigen/example/in_app_java/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jnigen/example/in_app_java/android/settings.gradle
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/android/build.gradle
  pkgs/jnigen/example/kotlin_plugin/example/android/app/build.gradle
  pkgs/jnigen/example/kotlin_plugin/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jnigen/example/kotlin_plugin/example/android/settings.gradle
  pkgs/jnigen/example/notification_plugin/android/build.gradle
  pkgs/jnigen/example/notification_plugin/example/android/app/build.gradle
  pkgs/jnigen/example/notification_plugin/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jnigen/example/notification_plugin/example/android/settings.gradle
  pkgs/jnigen/example/pdfbox_plugin/android/build.gradle
  pkgs/jnigen/example/pdfbox_plugin/example/android/app/build.gradle
  pkgs/jnigen/example/pdfbox_plugin/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/jnigen/example/pdfbox_plugin/example/android/settings.gradle
Labels: type-infra, package:jnigen, package:jni, skip-changelog-check

#1563 Rename internal_helpers_for_jnigen to _internal
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/_internal.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen, package:jni

#1554 [ffigen] Large ObjC test
  pkgs/ffigen/test/large_integration_tests/.gitignore
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.h
Labels: package:ffigen

#1567 [ffigen] Add protocol methods to interfaces
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_config.yaml
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#1572 Update dependencies and use `@internal` annotation
  pkgs/jni/CHANGELOG.md
  pkgs/jni/example/lib/main.dart
  pkgs/jni/lib/_internal.dart
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/jnigen.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
Labels: package:jnigen, package:jni

#1573 [ffigen] Run ObjC tests on flutter test
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
  pkgs/ffigen/test/header_parser_tests/dart_handle_test.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/isolate_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/util.dart
  pkgs/ffigen/test/test_utils.dart
Labels: type-infra, package:ffigen, skip-changelog-check

#1583 [ffigen] Fix protocol inclusion rules
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
Labels: package:ffigen

#1584 [jnigen] Implement multiple interfaces
  pkgs/jni/example/lib/main.dart
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/PortProxyBuilder.java
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/jimplementer.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/test/global_env_test.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/interface_implementation.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/renamer_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1585 [ffigen] More fixes for large integration test
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objc_block_parser.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
Labels: package:ffigen, skip-changelog-check

#1587 Fix errors with new package:meta
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/test_data/drop_dylib_link/lib/src/drop_dylib_link.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/link/package_with_assets/hook/link.dart
  pkgs/native_assets_cli/example/link/package_with_assets/lib/package_with_assets.dart
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder

#1591 Refactor type
  pkgs/jni/example/lib/main.dart
  pkgs/jni/lib/_internal.dart
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jimplementer.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jprimitives.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/type_test.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/bindings/resolver.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1592 Remove v1.0 / v1.1 serialization format code. Require 3.6.0+ (which has newest serialization format) via increased Dart SDK constraint
  .github/workflows/native.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/v1_0_0_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/build.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/ffigen.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/src/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/src/native_add_bindings_generated.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/src/native_add.c
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/src/native_add.h
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/asset.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/model/asset.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_output.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_assets_cli/lib/src/model/native_code_asset.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
Labels: type-infra, package:native_assets_cli, package:native_assets_builder

#1598 Remove `package:cli_config` & `package:args` dependencies in `package:native_asset_cli`
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/hook_config.dart
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/args_parser.dart
  pkgs/native_assets_cli/lib/src/json_utils.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1600 Make the `package:native_assets_builder` have special logic to create C Compiler configuration for testing on Dart CI
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_run_in_isolation_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1607 Stop resolving Uris encoded in the build protocol
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/link/package_with_assets/hook/link.dart
  pkgs/native_assets_cli/lib/src/json_utils.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_output.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_assets_cli/lib/src/model/resource_identifiers.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
Labels: package:native_assets_cli, package:native_toolchain_c

#1597 [objective_c] Verify generated code is up to date
  .github/workflows/objective_c.yaml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/binding.dart
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/func_type.dart
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/utils.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/swift_class_config.yaml
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/generate_code_test.dart
  pkgs/objective_c/test/setup.dart
Labels: type-infra, package:ffigen, skip-changelog-check, package:objective_c

#1596 [jnigen] Implement void interface methods as listeners
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/PortProxyBuilder.java
  pkgs/jni/lib/src/jimplementer.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/src/dartjni.c
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/interface_implementation.md
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/MyRunnableRunner.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1612 [native_toolchain_c] Enable Android RISC-V testing
  .github/workflows/native.yaml
  .github/workflows/native_toolchain_c.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
Labels: type-infra, package:native_toolchain_c

#1613 Remove link-dry-run related code (which seems not used anywhere in flutter & dart)
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/hook_result.dart
  pkgs/native_assets_builder/lib/src/model/link_dry_run_result.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_dry_run_test.dart
Labels: package:native_assets_builder

#1604 Unify <Foo> and <Foo>Impl classes that are effectively simple enums or data classes
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_run_in_isolation_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/fail_on_os_sdk_version_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/packaging_preference_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test/test_data/transformer_test.dart
  pkgs/native_assets_builder/test_data/wrong_linker/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/api/architecture.dart
  pkgs/native_assets_cli/lib/src/api/asset.dart
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/api/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/api/hook_config.dart
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/api/native_code_asset.dart
  pkgs/native_assets_cli/lib/src/api/os.dart
  pkgs/native_assets_cli/lib/src/api/test.dart
  pkgs/native_assets_cli/lib/src/architecture.dart
  pkgs/native_assets_cli/lib/src/build_mode.dart
  pkgs/native_assets_cli/lib/src/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/ios_sdk.dart
  pkgs/native_assets_cli/lib/src/link_mode.dart
  pkgs/native_assets_cli/lib/src/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/model/architecture.dart
  pkgs/native_assets_cli/lib/src/model/build_mode.dart
  pkgs/native_assets_cli/lib/src/model/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/ios_sdk.dart
  pkgs/native_assets_cli/lib/src/model/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/model/native_code_asset.dart
  pkgs/native_assets_cli/lib/src/model/os.dart
  pkgs/native_assets_cli/lib/src/model/target.dart
  pkgs/native_assets_cli/lib/src/os.dart
  pkgs/native_assets_cli/lib/src/validator/validator.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/example/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/checksum_test.dart
  pkgs/native_assets_cli/test/model/link_config_test.dart
  pkgs/native_assets_cli/test/model/target_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/ctool.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1602 [ffigen] Fix bug in NSRange import
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/test/native_objc_test/ns_range_test.dart
  pkgs/ffigen/test/native_objc_test/ns_range_test.m
Labels: package:ffigen

#1603 [ffigen] Release all ObjC references on the main thread
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
  pkgs/ffigen/test/native_objc_test/arc_config.yaml
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.h
  pkgs/ffigen/test/native_objc_test/arc_test.m
  pkgs/ffigen/test/native_objc_test/setup.dart
  pkgs/ffigen/test/setup.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart.m
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/CMakeLists.txt
  pkgs/objective_c/src/objective_c.c
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c.m
  pkgs/objective_c/test/setup.dart
Labels: type-infra, package:ffigen, package:objective_c

#1556 [ffigen] Return structs by value from ObjC methods
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/property_test.dart
Labels: package:ffigen

#1615 [jni] set max-page-size=16kb
  pkgs/jni/src/CMakeLists.txt
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen, package:jni

#1618 Update `package:objective_c` to be compatible with `ffigen`
  .github/workflows/objective_c.yaml
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/interface_lists_test.dart
Labels: type-infra, package:ffigen, skip-changelog-check, package:objective_c
