Repository dart-lang/native, pull requests merged in 2024-11, with the labels that each got.

#1694 Publish package:native_assets_cli as 0.9.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1693 Return null when calling `toString` on a null object
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

#1695 Publish package:native_assets_builder as 0.9.0 & use published dependencies of package:native_assets_cli
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1696 Remove unnecessary `dependencies`
  pkgs/objective_c/pubspec.yaml
Labels: skip-changelog-check, package:objective_c

#1699 Publish package:native_toolchain_c as 0.6.0
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#1704 Further consolidate [CodeAsset] specific classes by moving them to lib/src/code_assets
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/code_assets.dart
  pkgs/native_assets_cli/lib/native_assets_cli_builder.dart
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/code_assets/architecture.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/ios_sdk.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/target.dart
Labels: package:native_assets_cli

#1690 [ffigen] Category overhaul
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator.dart
  pkgs/ffigen/lib/src/code_generator/binding_string.dart
  pkgs/ffigen/lib/src/code_generator/objc_category.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objccategorydecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/translation_unit_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/lib/src/visitor/copy_methods_from_super_type.dart
  pkgs/ffigen/lib/src/visitor/fill_method_dependencies.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/lib/src/visitor/visitor.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/category_config.yaml
  pkgs/ffigen/test/native_objc_test/category_test.dart
  pkgs/ffigen/test/native_objc_test/category_test.h
  pkgs/ffigen/test/native_objc_test/category_test.m
  pkgs/ffigen/test/native_objc_test/deprecated_test.dart
  pkgs/ffigen/test/native_objc_test/deprecated_test.m
  pkgs/ffigen/test/native_objc_test/transitive_test.dart
  pkgs/ffigen/test/native_objc_test/transitive_test.h
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, package:objective_c

#1705 [objective_c] Handle missing protocol methods more gracefully
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/src/objective_c_runtime.h
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1709 Fix the diagnostics where there is a JDK version mismatch
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/tools/android_sdk_tools.dart
Labels: package:jnigen

#1707 [ffigen] Fix method vs getter conflicts
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/test/native_objc_test/bad_override_config.yaml
  pkgs/ffigen/test/native_objc_test/bad_override_test.dart
  pkgs/ffigen/test/native_objc_test/bad_override_test.m
Labels: package:ffigen, skip-changelog-check

#1706 [ffigen] Allow static and instance methods/properties with the same name
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.m
  pkgs/ffigen/test/native_objc_test/property_test.dart
  pkgs/ffigen/test/native_objc_test/property_test.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1676 [ffigen] Use package:dart_style
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart.m
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart.m
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1717 [ffigen] Improve enum warning
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
Labels: package:ffigen, skip-changelog-check

#1714 [ffigen] Fix method variance issues
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/func_type.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/type.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/visitor/copy_methods_from_super_type.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/bad_override_config.yaml
  pkgs/ffigen/test/native_objc_test/bad_override_test.dart
  pkgs/ffigen/test/native_objc_test/bad_override_test.m
  pkgs/ffigen/test/unit_tests/subtyping_test.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1716 Include stdint.h for int64_t
  pkgs/objective_c/src/objective_c.c
Labels: package:objective_c

#1718 [ffigen] Fix nullable typealias bug
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1719 [ffigen] Fix last bit of log spam
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
Labels: package:ffigen, skip-changelog-check

#1720 Prepare to publish ffigen 16 and objective_c 4
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#1722 [ffigen] Fix CI failure
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
Labels: package:ffigen, skip-changelog-check, skip-version-check

#1712 add direct links for package issue trackers
  .github/ISSUE_TEMPLATE/ffi.md
  .github/ISSUE_TEMPLATE/objective_c.md
  .github/labeler.yml
  README.md
  pkgs/ffi/pubspec.yaml
  pkgs/ffigen/pubspec.yaml
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/pubspec.yaml
  pkgs/objective_c/pubspec.yaml
  pkgs/swift2objc/pubspec.yaml
  pkgs/swiftgen/pubspec.yaml
Labels: type-infra, package:ffigen, package:jnigen, package:jni, skip-changelog-check, package:objective_c, package:swiftgen

#1725 [jni][jnigen] Publish 0.12.2
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1727 Reduces the changes of duplicate symbols by adding a `DOBJC_` prefix.
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/input_stream_adapter.h
  pkgs/objective_c/src/input_stream_adapter.m
  pkgs/objective_c/src/objective_c.c
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c.m
  pkgs/objective_c/src/proxy.h
  pkgs/objective_c/src/proxy.m
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/setup.dart
Labels: package:objective_c

#1729 [swift2objc] More little fixes
  pkgs/swift2objc/lib/src/ast/_core/shared/parameter.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/transformer/transformers/const.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
Labels: package:swift2objc

#1734 [swift2objc] Support failable initializers
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/test/integration/classes_and_initializers_input.swift
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/structs_and_initializers_input.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/unit/parse_initializer_param_test.dart
Labels: package:swift2objc

#1733 [swift2objc] Support globals with explicit getters/setters
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/test/integration/global_variables_and_functions_input.swift
  pkgs/swift2objc/test/integration/global_variables_and_functions_output.swift
Labels: package:swift2objc

#1736 Annotate variables used in `NSCAssert` as being possibly unused
  pkgs/objective_c/src/input_stream_adapter.m
Labels: package:objective_c

#1740 [native_toolchain_c] Use 16 kb pages for Android by default
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: autosubmit, package:native_toolchain_c

#1744 [native_toolchain_c] Compile with `-Os` by default
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/native_toolchain_c.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/ctool.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/optimization_level.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
Labels: autosubmit, package:native_toolchain_c

#1747 [native_toolchain_c] Compile with `-O3` by default
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
Labels: autosubmit, package:native_toolchain_c

#1742 [swift2objc] Support optionals
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/function_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/token_list.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_type.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/classes_and_methods_output.swift
  pkgs/swift2objc/test/integration/classes_and_static_methods_output.swift
  pkgs/swift2objc/test/integration/global_variables_and_functions_output.swift
  pkgs/swift2objc/test/integration/optional_input.swift
  pkgs/swift2objc/test/integration/optional_output.swift
  pkgs/swift2objc/test/integration/structs_and_methods_output.swift
  pkgs/swift2objc/test/integration/structs_and_static_methods_output.swift
  pkgs/swift2objc/test/unit/parse_initializer_param_input.json
  pkgs/swift2objc/test/unit/parse_initializer_param_test.dart
  pkgs/swift2objc/test/unit/parse_type_test.dart
  pkgs/swift2objc/test/unit/token_list_test.dart
Labels: package:swift2objc

#1746 [native_assets_builder] Keep `outputDirectory` if `LinkConfig.assets` changes
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_cli/lib/src/config.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1749 [swift2objc] Support nested declarations
  pkgs/swift2objc/lib/src/ast/_core/interfaces/compound_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/nestable_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generator.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_type.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/classes_and_methods_output.swift
  pkgs/swift2objc/test/integration/classes_and_properties_output.swift
  pkgs/swift2objc/test/integration/classes_and_static_methods_output.swift
  pkgs/swift2objc/test/integration/classes_and_static_properties_output.swift
  pkgs/swift2objc/test/integration/global_variables_and_functions_output.swift
  pkgs/swift2objc/test/integration/nested_types_input.swift
  pkgs/swift2objc/test/integration/nested_types_output.swift
  pkgs/swift2objc/test/integration/optional_output.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/integration/structs_and_methods_output.swift
  pkgs/swift2objc/test/integration/structs_and_properties_output.swift
  pkgs/swift2objc/test/integration/structs_and_static_methods_output.swift
  pkgs/swift2objc/test/integration/structs_and_static_properties_output.swift
  pkgs/swift2objc/test/unit/parse_type_test.dart
Labels: package:swift2objc

#1757 [native_x] Deprecate `dryRun`
  pkgs/native_assets_builder/test_data/transformer/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_linker/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/local_asset/hook/build.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1756 [swift2objc] Support unlabeled parameters
  pkgs/swift2objc/lib/src/parser/_core/token_list.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/integration/classes_and_initializers_input.swift
  pkgs/swift2objc/test/integration/classes_and_initializers_output.swift
  pkgs/swift2objc/test/integration/classes_and_methods_input.swift
  pkgs/swift2objc/test/integration/classes_and_methods_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/structs_and_initializers_input.swift
  pkgs/swift2objc/test/integration/structs_and_initializers_output.swift
  pkgs/swift2objc/test/integration/structs_and_methods_input.swift
  pkgs/swift2objc/test/integration/structs_and_methods_output.swift
  pkgs/swift2objc/test/unit/parse_function_param_test.dart
Labels: package:swift2objc

#1748 Ensure that required symbols are available to FFI even when the final binary is linked with `-dead_strip`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/swift/third_party/swift_api.h
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/src/ffi.h
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/main.c
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, package:objective_c

#1750 [native_assets_builder] Use file content hashing
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test/dependencies_hash_file/dependencies_hash_file_test.dart
Labels: autosubmit, package:native_assets_builder

#1762 [native_assets_cli] Document hook exit code behavior
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/api/link.dart
Labels: package:native_assets_cli, autosubmit

#1763 [native_assets_builder] Recompile hook kernel if Dart changes
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/dependencies_hash_file/dependencies_hash_file_test.dart
Labels: autosubmit, package:native_assets_builder

#1769 Update build output test to use .compareTo()/.isSameMomentAs() as operators don't exist on DateTime
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
Labels: package:native_assets_cli, autosubmit

#1758 Generate null-safe Kotlin code
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/kotlin_plugin/example/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/KotlinPackage.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/KotlinType.java
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Nullability.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen
