Repository dart-lang/native, pull requests merged in 2024-03, with the labels that each got.

#980 [native_assets_builder] Implement equals and hashCode on asset paths
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/test/model/kernel_assets_test.dart
Labels: package:native_assets_builder, skip-changelog-check

#982 [jnigen] JObject is now composed of JReference instead of inheriting it.
  pkgs/jni/CHANGELOG.md
  pkgs/jni/example/pubspec.lock
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/jvalues.dart
  pkgs/jni/lib/src/lang/jboolean.dart
  pkgs/jni/lib/src/lang/jbyte.dart
  pkgs/jni/lib/src/lang/jcharacter.dart
  pkgs/jni/lib/src/lang/jdouble.dart
  pkgs/jni/lib/src/lang/jfloat.dart
  pkgs/jni/lib/src/lang/jinteger.dart
  pkgs/jni/lib/src/lang/jlong.dart
  pkgs/jni/lib/src/lang/jnumber.dart
  pkgs/jni/lib/src/lang/jshort.dart
  pkgs/jni/lib/src/lang/jstring.dart
  pkgs/jni/lib/src/nio/jbuffer.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/util/jiterator.dart
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/example/lib/main.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/c_based/dart_bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/dart_only/dart_bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/c_based/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/dart_only/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1012 Fix JNIgen CI
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/src/android_utils/android_utils.c
Labels: package:jnigen

#1016 [ffigen] Expose retainAndReturnPointer and add castFromPointer to Blocks
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/test/native_objc_test/automated_ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
Labels: package:ffigen

#1018 [native_assets_builder] `build.dart` -> `hook/build.dart`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_dependencies_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/metadata_test.dart
  pkgs/native_assets_builder/test_data/cyclic_package_1/hook/build.dart
  pkgs/native_assets_builder/test_data/cyclic_package_2/hook/build.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_add_source/manifest.yaml
  pkgs/native_assets_builder/test_data/native_subtract/hook/build.dart
  pkgs/native_assets_builder/test_data/package_reading_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_2/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_3/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/local_asset/build.dart
  pkgs/native_assets_cli/example/native_add_library/build.dart
  pkgs/native_assets_cli/example/use_dart_api/build.dart
  pkgs/native_assets_cli/example/use_dart_api/manifest.yaml
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1019 [native_assets_cli] Use JSON instead of YAML
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_build_output_format_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_dry_run_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test_data/wrong_build_output/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_2/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_3/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/asset.dart
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/model/asset.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/build_output.dart
  pkgs/native_assets_cli/lib/src/model/build_output_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/model/data_asset.dart
  pkgs/native_assets_cli/lib/src/model/dependencies.dart
  pkgs/native_assets_cli/lib/src/model/metadata.dart
  pkgs/native_assets_cli/lib/src/model/native_code_asset.dart
  pkgs/native_assets_cli/lib/src/utils/json.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/api/build_config_test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/dependencies_test.dart
  pkgs/native_assets_cli/test/model/metadata_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1035 Add assert to castTo
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

#1036 Remove locks around method and field ID retrieval
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jnigen/example/in_app_java/src/android_utils/dartjni.h
  pkgs/jnigen/example/kotlin_plugin/src/dartjni.h
  pkgs/jnigen/example/notification_plugin/src/dartjni.h
  pkgs/jnigen/example/pdfbox_plugin/src/third_party/dartjni.h
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/c_bindings/dartjni.h
  pkgs/jnigen/test/kotlin_test/c_based/c_bindings/dartjni.h
  pkgs/jnigen/test/simple_package_test/c_based/c_bindings/dartjni.h
Labels: package:jnigen, package:jni, skip-changelog-check

#1029 Fix getID bug
  pkgs/jni/CHANGELOG.md
  pkgs/jni/src/dartjni.c
Labels: package:jni

#1043 [native_assets_cli] Update terminology to "build hook"
  README.md
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_cli/example/local_asset/build.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/build_mode.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_output.dart
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1041 [native_assets_cli] Examples `build.dart` -> `hook/build.dart`
  pkgs/native_assets_cli/example/local_asset/hook/build.dart
  pkgs/native_assets_cli/example/native_add_library/hook/build.dart
  pkgs/native_assets_cli/example/use_dart_api/hook/build.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
Labels: package:native_assets_cli, autosubmit

#1042 [native_assets_cli] Release 0.5.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1046 [native_toolchain_c] Release 0.4.0
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#1047 [native_toolchain_c] Remove publish_to: none
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c, skip-changelog-check

#1048 [native_assets_builder] Release 0.6.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1051 [native_assets_cli] Document `NativeCodeAsset.file` requiredness
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/native_code_asset.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1050 [native_toolchain_c] Output an `Asset.file` in dry run
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c

#1052 Fix tests
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_dry_run_test.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
Labels: package:native_assets_cli, package:native_assets_builder

#1055 [native_assets_cli] Fix V1_0_0 backwards compatibility
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/build_output.dart
  pkgs/native_assets_cli/lib/src/model/build_output_CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/model/build_output_test.dart
Labels: package:native_assets_cli

#1058 [native_assets_cli] Improve documentation for `DynamicLoadingBundled`
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/api/native_code_asset.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli
