Repository dart-lang/native, pull requests merged in 2024-10, with the labels that each got.

#1616 [ffigen] Add selector conversion utils
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/selector.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/test/selector_test.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1614 Rename NativeCodeAsset->CodeAsset and merge {CodeAsset,DataAsset} and {CodeAsset,DataAsset}Impl
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/build_dry_run_result.dart
  pkgs/native_assets_builder/lib/src/model/build_result.dart
  pkgs/native_assets_builder/lib/src/model/hook_result.dart
  pkgs/native_assets_builder/lib/src/model/link_result.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_build_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test/build_runner/packaging_preference_test.dart
  pkgs/native_assets_builder/test_data/add_asset_link/hook/link.dart
  pkgs/native_assets_builder/test_data/wrong_linker/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/local_asset/test/build_test.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/api/build_config.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/api/data_asset.dart
  pkgs/native_assets_cli/lib/src/api/hook_config.dart
  pkgs/native_assets_cli/lib/src/api/link_config.dart
  pkgs/native_assets_cli/lib/src/api/link_output.dart
  pkgs/native_assets_cli/lib/src/api/test.dart
  pkgs/native_assets_cli/lib/src/asset.dart
  pkgs/native_assets_cli/lib/src/code_asset.dart
  pkgs/native_assets_cli/lib/src/data_asset.dart
  pkgs/native_assets_cli/lib/src/json_utils.dart
  pkgs/native_assets_cli/lib/src/link_mode.dart
  pkgs/native_assets_cli/lib/src/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/model/asset.dart
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/data_asset.dart
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_output.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
  pkgs/native_assets_cli/lib/src/model/native_code_asset.dart
  pkgs/native_assets_cli/lib/src/validator/validator.dart
  pkgs/native_assets_cli/test/api/asset_test.dart
  pkgs/native_assets_cli/test/api/build_config_test.dart
  pkgs/native_assets_cli/test/api/build_output_test.dart
  pkgs/native_assets_cli/test/api/link_config_test.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/build_config_test.dart
  pkgs/native_assets_cli/test/model/build_output_test.dart
  pkgs/native_assets_cli/test/model/checksum_test.dart
  pkgs/native_assets_cli/test/model/link_config_test.dart
  pkgs/native_assets_cli/test/validator/validator_test.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1621 [jni][jnigen] Publish 0.12.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/config/experiments.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/generate.dart
  pkgs/jnigen/test/jackson_core_test/jnigen.yaml
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
Labels: package:jnigen, package:jni

#1632 [hooks] Remove explicit adding of source dependency in `hook/link.dart` scripts
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/link.dart
  pkgs/native_assets_builder/test_data/no_asset_for_link/hook/link.dart
Labels: package:native_assets_builder

#1633 Ensure the NativeAssetsBuildRunner.link() produces a BuildResult with all assets
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/link_result.dart
  pkgs/native_assets_builder/test/build_runner/conflicting_dylib_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
Labels: package:native_assets_builder

#1635 [jnigen] Enable implementing generic interfaces
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/docs/interface_implementation.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/unnester.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/descriptor_test.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/GenericInterface.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

#1636 [ffigen] Fix the weekly bot
  .github/workflows/ffigen_weekly.yml
Labels: type-infra

#1637 [jnigen] Exclude invalid Dart identifiers by default
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen

#1642 [jnigen] Fix readme links
  pkgs/jnigen/README.md
Labels: package:jnigen, skip-changelog-check

#1555 Add a converter from Dart `Stream` to `NSInputStream`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/ns_input_stream.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/foundation.h
  pkgs/objective_c/src/input_stream_adapter.h
  pkgs/objective_c/src/input_stream_adapter.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, package:objective_c

#1648 [jnigen] Add a helper for sending jobjects through method channels
  pkgs/jni/CHANGELOG.md
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/JniUtils.java
  pkgs/jni/pubspec.yaml
Labels: package:jni

#1656 [jnigen] Fix generating packages in Android
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/jnigen.yaml
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/ClassFinder.java
Labels: package:jnigen

#1657 [jnigen] Use singular name for doc and add dartdoc_options
  pkgs/jnigen/dartdoc_options.yaml
  pkgs/jnigen/doc/interface_implementation.md
  pkgs/jnigen/doc/java_differences.md
Labels: package:jnigen, skip-changelog-check

#1659 [jnigen] Add dynamic to type parameters to avoid type checking fails
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/types.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen, package:jni

#1663 Fix a bug where toNSInputStream would leak if the stream is closed before being fully read
  pkgs/objective_c/lib/src/ns_input_stream.dart
Labels: skip-changelog-check, package:objective_c

#1662 [ffigen] Switch tests to Isolate.run
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/isolate_test.dart
  pkgs/objective_c/pubspec.yaml
Labels: skip-changelog-check

#1638 [ffigen] Create AST and Visitor classes
  pkgs/ffigen/example/libclang-example/generated_bindings.dart
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart.m
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart.m
  pkgs/ffigen/lib/src/code_generator/binding.dart
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/constant.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/func_type.dart
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_nullable.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/type.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/visitor/ast.dart
  pkgs/ffigen/lib/src/visitor/copy_methods_from_super_type.dart
  pkgs/ffigen/lib/src/visitor/fill_method_dependencies.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/lib/src/visitor/visitor.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_typealias_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_dart_handle_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_native_func_typedef_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_opaque_dependencies_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_struct_fptr_fields_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_typedef_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_unions_bindings.dart
  pkgs/ffigen/test/header_parser_tests/function_n_struct_test.dart
  pkgs/ffigen/test/header_parser_tests/nested_parsing_test.dart
  pkgs/ffigen/test/large_integration_tests/_expected_libclang_bindings.dart
  pkgs/ffigen/test/large_integration_tests/_expected_sqlite_bindings.dart
  pkgs/ffigen/test/rename_tests/rename_test.dart
Labels: package:ffigen, skip-changelog-check

#1666 [ffigen] Fix global test flake
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/header_parser/data.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/bad_method_test.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_test.dart
  pkgs/ffigen/test/native_objc_test/block_inherit_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/cast_test.dart
  pkgs/ffigen/test/native_objc_test/category_test.dart
  pkgs/ffigen/test/native_objc_test/failed_to_load_test.dart
  pkgs/ffigen/test/native_objc_test/failed_to_load_test.m
  pkgs/ffigen/test/native_objc_test/forward_decl_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/inherited_instancetype_test.dart
  pkgs/ffigen/test/native_objc_test/is_instance_config.yaml
  pkgs/ffigen/test/native_objc_test/is_instance_test.dart
  pkgs/ffigen/test/native_objc_test/is_instance_test.m
  pkgs/ffigen/test/native_objc_test/isolate_test.dart
  pkgs/ffigen/test/native_objc_test/log_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/native_objc_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_inheritance_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.dart
  pkgs/ffigen/test/native_objc_test/property_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/rename_test.dart
  pkgs/ffigen/test/native_objc_test/setup.dart
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/string_test.dart
  pkgs/ffigen/test/native_objc_test/typedef_test.dart
Labels: package:ffigen, skip-changelog-check

#1673 [ffigen] Make sure all protocols are used
  .github/workflows/objective_c.yaml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/protocol_config.yaml
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/setup.dart
Labels: type-infra, package:ffigen, package:objective_c

#1684 [ffigen] Migrate method filtering to the visitor
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/ffigen/test/native_objc_test/method_filtering_test.dart
  pkgs/ffigen/test/native_objc_test/method_filtering_test.m
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1686 [ffigen] Replace cli_util's `getSdkPath()` with `sdkPath`
  pkgs/ffigen/example/shared_bindings/generate.dart
  pkgs/ffigen/example/shared_bindings/pubspec.yaml
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/header_parser_tests/dart_handle_test.dart
Labels: package:ffigen, skip-changelog-check

#1688 [ffigen] Fix ObjC/Swift examples
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/play_audio.dart
  pkgs/ffigen/example/objective_c/pubspec.yaml
  pkgs/ffigen/example/swift/example.dart
  pkgs/ffigen/example/swift/pubspec.yaml
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1687 [ffigen] Add flags controlling how transitive deps are pulled in
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/lib/src/visitor/visitor.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_config.yaml
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_config.yaml
  pkgs/ffigen/test/native_objc_test/transitive_test.dart
  pkgs/ffigen/test/native_objc_test/transitive_test.h
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c
