Repository dart-lang/native, pull requests merged in 2024-05, with the labels that each got.

#1116 [infra] Swap weekly bot to x64
  .github/workflows/ffigen_weekly.yml
Labels: type-infra

#1114 [infra] Fix CI
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test_data/dart_app/bin/dart_app.dart
  pkgs/native_assets_cli/example/use_dart_api/test/use_dart_api_test.dart
Labels: type-infra, package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1110 Publish jni/jnigen 0.9.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/ffigen.yaml
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/src/CMakeLists.txt
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/src/internal.c
  pkgs/jni/src/internal.h
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1111 Make ObjC memory management errors more debuggable
  pkgs/ffigen/test/native_objc_test/automated_ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/automated_ref_count_test.m
  pkgs/ffigen/test/native_objc_test/block_config.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/util.dart
  pkgs/ffigen/test/native_objc_test/util.h
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/src/objective_c.c
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/src/objective_c_runtime_functions.h
  pkgs/objective_c/src/objective_c_runtime_types.h
Labels: package:ffigen, package:objective_c

#1121 Create directory structure for SwiftGen and Swift2ObjC
  README.md
  pkgs/swiftgen/CHANGELOG.md
  pkgs/swiftgen/LICENSE
  pkgs/swiftgen/README.md
  pkgs/swiftgen/pubspec.yaml
  pkgs/swiftgen/swift2objc/CHANGELOG.md
  pkgs/swiftgen/swift2objc/README.md
Labels: lang-swift

#1128 blast repo changes: dependabot
  .github/dependabot.yaml
Labels: type-infra

#1130 Fetch compound cursor definition fetch only when required.
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/test/config_tests/no_cursor_definition_warn_test.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_opaque_dependencies_bindings.dart
  pkgs/ffigen/test/header_parser_tests/opaque_dependencies.h
Labels: package:ffigen

#1124 Delete coverage.sh
  .github/workflows/ffigen.yml
  .github/workflows/objective_c.yaml
  pkgs/ffigen/.gitignore
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/automated_ref_count_test.dart
  pkgs/ffigen/tool/coverage.sh
  pkgs/objective_c/.gitignore
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/tool/coverage.sh
Labels: type-infra, package:ffigen, skip-changelog-check, package:objective_c

#1125 Prepare to publish package:ffigen and package:objective_c
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/README.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, publish-ignore-warnings, package:objective_c, skip-version-check

#1132 Fix typo in package:objective_c topics
  pkgs/objective_c/pubspec.yaml
Labels: skip-changelog-check, publish-ignore-warnings, package:objective_c, skip-version-check

#1142 [swiftgen] Git ignore
  pkgs/swiftgen/.gitignore
Labels: skip-changelog-check

#1138 Various small bug fixes in ffigen
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/config_tests/no_cursor_definition_warn_test.dart
  pkgs/ffigen/test/config_tests/unknown_keys_warn_test.dart
  pkgs/ffigen/test/native_objc_test/log_config.yaml
  pkgs/ffigen/test/native_objc_test/log_test.dart
  pkgs/ffigen/test/native_objc_test/log_test.m
  pkgs/ffigen/test/native_objc_test/util.dart
  pkgs/ffigen/test/test_utils.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/foundation.h
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1141 [jnigen] Use utf-8 for standard error and standard out encoding
  pkgs/jni/CHANGELOG.md
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/summary/summary.dart
Labels: package:jnigen, package:jni

#1148 [native_assets_builder] Fix old build hooks
  .github/workflows/native.yaml
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/v1_0_0_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/build.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/ffigen.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/src/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/lib/src/native_add_bindings_generated.dart
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/src/native_add.c
  pkgs/native_assets_builder/test_data/native_add_v1_0_0/src/native_add.h
  pkgs/native_assets_cli/lib/src/model/build_config.dart
  pkgs/native_assets_cli/lib/src/model/build_output_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/hook_config.dart
  pkgs/native_assets_cli/lib/src/model/hook_output.dart
  pkgs/native_assets_cli/lib/src/model/link_config.dart
Labels: type-infra, package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1147 Mention experimental status in package:objective_c readme
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/README.md
  pkgs/objective_c/pubspec.yaml
Labels: package:objective_c, skip-version-check

#1156 [jni] Fix android example
  pkgs/jni/android/src/main/java/com/github/dart_lang/jni/JniPlugin.java
  pkgs/jni/example/lib/main.dart
Labels: package:jni, skip-changelog-check

#1157 [native_assets_cli] Publish 0.6.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#1158 [native_toolchain_c] Publish 0.4.2
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: skip-changelog-check

#1160 [infra] Use Dart 3.3.0 as stable on Windows
  .github/workflows/native.yaml
Labels: type-infra, autosubmit

#1159 [native_assets_builder] Publish 0.7.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#1161 [infra] Unify coveralls flag names
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
Labels: type-infra, autosubmit

#1162 Refactor cursor visitors
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/function_type_param_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/functiondecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/macro_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/unnamed_enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/translation_unit_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
Labels: package:ffigen, skip-changelog-check

#1174 [native_assets_cli] Add `Builder` and `Linker` interfaces and docs
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/hook/build.dart
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/build.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/hook/build.dart
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/hook/build.dart
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/hook/build.dart
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/api/build_output.dart
  pkgs/native_assets_cli/lib/src/api/builder.dart
  pkgs/native_assets_cli/lib/src/api/link_output.dart
  pkgs/native_assets_cli/lib/src/api/linker.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1182 Add useful extensions to NSMutableData
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/ns_mutable_data.dart
  pkgs/objective_c/test/ns_mutable_data_test.dart
Labels: package:objective_c

#1184 Fixes from #1175 that are not related to protocols
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/foundation.h
Labels: package:ffigen, skip-changelog-check, package:objective_c
