Repository dart-lang/native, pull requests merged in 2024-08, with the labels that each got.

#1392 Fix internal bug in `LinkerOptions`
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
Labels: autosubmit, package:native_toolchain_c

#1399 [native_assets_builder] Lock the build directory - fixes
  pkgs/native_assets_cli/lib/src/locking/locking.dart
Labels: package:native_assets_cli, skip-changelog-check

#1406 [native_assets_builder] Fix hook kernel compilation caching
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
Labels: package:native_assets_builder

#1403 [ffigen] Ignore deprecated APIs
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/api_availability.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/functiondecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/unnamed_enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/translation_unit_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/deprecated_test.dart
  pkgs/ffigen/test/native_objc_test/deprecated_test.m
  pkgs/ffigen/test/unit_tests/api_availability_test.dart
  pkgs/ffigen/tool/libclang_config.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#1398 [ffigen] rename assetId to asset-id
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/example/ffinative/config.yaml
  pkgs/ffigen/ffigen.schema.json
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/test/config_tests/deprecate_assetid_test.dart
Labels: package:ffigen

#1426 Correctly escape comments that may contain tags
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

#1436 Some refactors and bug fixes
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/generator/generator.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/parsed_symbolgraph.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_method_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swift2objc/lib/src/transformer/_core/unique_namer.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_method.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
  pkgs/swift2objc/test/integration/integration_test.dart
Labels: publish-ignore-warnings

#1434 [ffigen] Support ObjC objects in global variables
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/test/native_objc_test/global_config.yaml
  pkgs/ffigen/test/native_objc_test/global_native_config.yaml
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.m
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.h
  pkgs/ffigen/test/native_objc_test/global_test.m
Labels: package:ffigen, publish-ignore-warnings

#1431 [ffigen] use listSync instead of running ls
  pkgs/ffigen/lib/src/config_provider/path_finder.dart
Labels: package:ffigen, skip-changelog-check, skip-version-check

#1441 [ffigen] Migrate to ARC
  .github/workflows/objective_c.yaml
  .gitignore
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/test/native_objc_test/arc_config.yaml
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.m
  pkgs/ffigen/test/native_objc_test/block_inherit_test.m
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/ffigen/test/native_objc_test/ref_count_config.yaml
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.m
  pkgs/ffigen/test/native_objc_test/setup.dart
  pkgs/ffigen/test/native_objc_test/static_func_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/example/README.md
  pkgs/objective_c/example/ios/Podfile.lock
  pkgs/objective_c/example/ios/Runner/AppDelegate.swift
  pkgs/objective_c/example/macos/Runner.xcodeproj/project.pbxproj
  pkgs/objective_c/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  pkgs/objective_c/example/macos/Runner/AppDelegate.swift
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/ios/objective_c.podspec
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/macos/objective_c.podspec
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/src/proxy.h
  pkgs/objective_c/src/proxy.m
  pkgs/objective_c/test/setup.dart
  pkgs/swift2objc/test/integration/temp/.gitignore
Labels: type-infra, package:ffigen, package:objective_c, skip-version-check

#1442 Support sending ObjC objects and blocks between isolates
  .github/workflows/ffigen.yml
  pkgs/ffigen/test/native_objc_test/isolate_config.yaml
  pkgs/ffigen/test/native_objc_test/isolate_test.dart
  pkgs/ffigen/test/native_objc_test/isolate_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/src/objective_c.c
  pkgs/objective_c/src/objective_c.h
  pkgs/swift2objc/test/.gitignore
Labels: type-infra, package:ffigen, package:objective_c, skip-version-check

#1454 [native_toolchain_c] Fix test to not assume working dir
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
Labels: package:native_toolchain_c, skip-changelog-check

#1448 [native_toolchain_c] Fix typo
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
Labels: package:native_toolchain_c, skip-changelog-check

#1453 [native_toolchain_c] Fix test to not cross arch compile
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
Labels: package:native_toolchain_c, skip-version-check

#1455 [jnigen] Delete gitignored generated files
  .gitignore
  pkgs/jnigen/example/pdfbox_plugin/example/linux/flutter/generated_plugin_registrant.cc
  pkgs/jnigen/example/pdfbox_plugin/example/linux/flutter/generated_plugin_registrant.h
  pkgs/jnigen/example/pdfbox_plugin/example/linux/flutter/generated_plugins.cmake
  pkgs/jnigen/example/pdfbox_plugin/example/windows/flutter/generated_plugin_registrant.cc
  pkgs/jnigen/example/pdfbox_plugin/example/windows/flutter/generated_plugin_registrant.h
  pkgs/jnigen/example/pdfbox_plugin/example/windows/flutter/generated_plugins.cmake
Labels: package:jnigen, skip-breaking-check, skip-license-check, skip-changelog-check, skip-coverage-check, skip-version-check

#1459 [native_*] Make locking tests less timing sensitive
  pkgs/native_assets_builder/test/build_runner/concurrency_test.dart
  pkgs/native_assets_cli/test/locking/locking_test.dart
Labels: package:native_assets_cli, package:native_assets_builder

#1461 [native_toolchain_c] Pass in archiver from environment in test - take 2
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

#1466 Revert "[infra] Use Dart 3.3.0 as stable on Windows (#1160)"
  .github/workflows/native.yaml
Labels: type-infra

#1463 [ffigen] Method families
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.m
  pkgs/ffigen/test/native_objc_test/ref_count_config.yaml
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.m
  pkgs/ffigen/test/unit_tests/method_families.dart
Labels: package:ffigen

#1468 [native_toolchain_c] Support `ld.ldd` as linker on Linux
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/gcc.dart
Labels: package:native_toolchain_c, skip-changelog-check

#1473 [native_toolchain_c] Only use `nm` to inspect symbols
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c

#1471 [ffigen] Fix flaky tests
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
Labels: package:ffigen

#1432 [ffigen] Generate enum getters for struct members
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/libclang-example/generated_bindings.dart
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_func_and_struct_bindings.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_enumclass_integers_bindings.dart
  pkgs/ffigen/test/header_parser_tests/expected_bindings/_expected_enum_int_mimic_bindings.dart
  pkgs/ffigen/test/large_integration_tests/_expected_libclang_bindings.dart
  pkgs/ffigen/test/native_test/_expected_native_test_bindings.dart
  pkgs/ffigen/test/native_test/config.yaml
  pkgs/ffigen/test/native_test/native_test.c
  pkgs/ffigen/test/native_test/native_test.dart
  pkgs/ffigen/test/native_test/native_test.def
Labels: package:ffigen

#1481 Remove Kotlin and Gradle dependencies from jnigen / publish 0.11.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/android/build.gradle
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1476 [ffigen] Handle the argument consumed annotation
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/func_type.dart
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/functiondecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/collision_tests/reserved_keyword_collision_test.dart
  pkgs/ffigen/test/header_parser_tests/function_n_struct_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.m
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.m
  pkgs/ffigen/test/native_objc_test/static_func_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_config.yaml
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.m
  pkgs/ffigen/test/rename_tests/rename_test.dart
Labels: package:ffigen, skip-changelog-check
