Repository dart-lang/native, pull requests merged in 2024-04, with the labels that each got.

#1060 Enable sharing `JObject`s across isolates
  pkgs/jni/CHANGELOG.md
  pkgs/jni/example/integration_test/on_device_jni_test.dart
  pkgs/jni/ffigen.yaml
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/jreference.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/src/CMakeLists.txt
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/src/internal.c
  pkgs/jni/src/internal.h
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jnigen/example/in_app_java/src/android_utils/dartjni.h
  pkgs/jnigen/example/kotlin_plugin/README.md
  pkgs/jnigen/example/kotlin_plugin/example/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/src/dartjni.h
  pkgs/jnigen/example/notification_plugin/src/dartjni.h
  pkgs/jnigen/example/pdfbox_plugin/src/third_party/dartjni.h
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/c_bindings/dartjni.h
  pkgs/jnigen/test/kotlin_test/c_based/c_bindings/dartjni.h
  pkgs/jnigen/test/simple_package_test/c_based/c_bindings/dartjni.h
  pkgs/jnigen/test/test_util/bindings_test_setup.dart
  pkgs/jnigen/tool/generate_runtime_tests.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#1069 Exclude clinit and publish 0.8.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/simple_package/Example.java
Labels: package:jnigen, package:jni

#1078 Automatically add jni/jnigen issues to the jnigen tracker
  .github/ISSUE_TEMPLATE/jnigen.md
Labels: type-infra

#1077 Use check:jni for tests and fix warnings
  pkgs/jni/src/dartjni.c
  pkgs/jni/test/boxed_test.dart
  pkgs/jni/test/exception_test.dart
  pkgs/jni/test/global_env_test.dart
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jbyte_buffer_test.dart
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jni/test/jstring_test.dart
  pkgs/jni/test/load_test.dart
  pkgs/jni/test/test_util/test_util.dart
  pkgs/jni/test/type_test.dart
  pkgs/jnigen/test/test_util/bindings_test_setup.dart
Labels: package:jnigen, package:jni, skip-breaking-check, skip-changelog-check, skip-coverage-check

#1081 Remove `brew install llvm` instruction from mac setup
  pkgs/ffigen/README.md
Labels: package:ffigen, skip-changelog-check

#1083 [ffigen] dart test config
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
  pkgs/ffigen/dart_test.yaml
Labels: type-infra, autosubmit, package:ffigen

#1082 [jnigen] Update lints and flutter_lints packages to v3
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/android_test_runner/pubspec.yaml
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/lib/main.dart
  pkgs/jnigen/example/in_app_java/pubspec.yaml
  pkgs/jnigen/example/kotlin_plugin/example/lib/main.dart
  pkgs/jnigen/example/kotlin_plugin/example/pubspec.yaml
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/kotlin_plugin/pubspec.yaml
  pkgs/jnigen/example/notification_plugin/example/lib/main.dart
  pkgs/jnigen/example/notification_plugin/example/pubspec.yaml
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/notification_plugin/pubspec.yaml
  pkgs/jnigen/example/pdfbox_plugin/dart_example/pubspec.yaml
  pkgs/jnigen/example/pdfbox_plugin/example/pubspec.yaml
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/example/pdfbox_plugin/pubspec.yaml
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/tools/android_sdk_tools.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/c_based/dart_bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/dart_only/dart_bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/c_based/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/dart_only/dart_bindings/simple_package.dart
Labels: package:jnigen

#1080 [jnigen] Expand cli_config constraint
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen

#1074 [ffigen] Add compiler option `-Wno-nullability-completeness` by default
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/libclang-example/config.yaml
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/test/config_tests/compiler_opts_test.dart
  pkgs/ffigen/test/native_test/config.yaml
  pkgs/ffigen/tool/libclang_config.yaml
Labels: package:ffigen

#1090 [jnigen] Use varargs for dartonly method calls
  pkgs/jni/example/pubspec.lock
  pkgs/jni/ffigen.yaml
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/src/third_party/global_jni_env.c
  pkgs/jni/src/third_party/global_jni_env.h
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/dart_only/dart_bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/c_based/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/dart_only/dart_bindings/simple_package.dart
Labels: package:jnigen, package:jni

#1096 [ffi] Fix `MallocAllocator` doc
  pkgs/ffi/lib/src/allocation.dart
Labels: skip-changelog-check

#1095 [jnigen] Add `getRange` method to `JArray<JPrimitive>` and change the dart equivalent type for `JArray<jchar>` to `int`
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/test/jarray_test.dart
Labels: package:jni

#1103 [jnigen] Fix summarizer and improve errors
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/SummarizerOptions.java
  pkgs/jnigen/lib/src/summary/summary.dart
Labels: package:jnigen

#1104 Add helper methods for NSData
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/ns_data.dart
  pkgs/objective_c/test/nsdata_test.dart
Labels: skip-changelog-check, package:objective_c
