Repository dart-lang/native, pull requests merged in 2024-12, with the labels that each got.

#1767 [swift2objc] Fix bug with optional string params
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/test/integration/optional_input.swift
  pkgs/swift2objc/test/integration/optional_output.swift
Labels: package:swift2objc

#1768 [native_assets_builder] Test hooks stopping after failure
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test_data/depend_on_fail_build/hook/build.dart
  pkgs/native_assets_builder/test_data/depend_on_fail_build/lib/depend_on_fail_build.dart
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/bin/depend_on_fail_build_app.dart
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_build/lib/fail_build.dart
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/manifest.yaml
Labels: type-infra, autosubmit, package:native_assets_builder

#1779 [swift2objc] Support the `async` annotation
  pkgs/swift2objc/lib/src/ast/_core/interfaces/can_async.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/function_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/variable_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/async_input.swift
  pkgs/swift2objc/test/integration/async_output.swift
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
Labels: package:swift2objc

#1777 [ffigen][swift2objc] Some small fixes
  pkgs/ffigen/lib/ffigen.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/config_provider.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/visitor/fix_overridden_methods.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/unit_tests/subtyping_test.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/config.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c, package:swift2objc

#1759 [native_assets_builder] Don't cache hook invocations if env vars change
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/native_assets_builder/lib/src/utils/run_process.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_run_in_isolation_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/dependencies_hash_file/dependencies_hash_file_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_toolchain_c/lib/src/utils/run_process.dart
Labels: autosubmit, package:native_toolchain_c, package:native_assets_builder

#1764 [native_assets_builder] Don't pass in the whole environment
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
Labels: autosubmit, package:native_assets_builder

#1786 [native_assets_cli] Rename `supportedAssetTypes` to `buildAssetTypes`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_dependencies_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_asset_id_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_build_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_build_output_format_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_cycle_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/conflicting_dylib_test.dart
  pkgs/native_assets_builder/test/build_runner/fail_on_os_sdk_version_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test/build_runner/metadata_test.dart
  pkgs/native_assets_builder/test/build_runner/packaging_preference_test.dart
  pkgs/native_assets_builder/test/build_runner/resources_test.dart
  pkgs/native_assets_builder/test/build_runner/wrong_linker_test.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test/test_data/transformer_test.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_3/hook/build.dart
  pkgs/native_assets_cli/example/build/local_asset/test/build_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/build_config_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/example/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/link_config_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
  pkgs/native_assets_cli/test/validation_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1780 [native_assets_builder] Report dart sources as dependencies of hooks
  .github/workflows/native.yaml
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/native_assets_builder/lib/src/model/hook_result.dart
  pkgs/native_assets_builder/test/build_runner/build_dependencies_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/build_runner/parse_dep_file_test.dart
Labels: type-infra, autosubmit, package:native_assets_builder

#1755 [jnigen] Simple AST implementation
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/j_elements.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/test/user_excluder.dart
Labels: package:jnigen

#1785 [jnigen] Use dollar sign in import prefixes to avoid name collision
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/resolver.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/package_resolver_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
Labels: package:jnigen

#1788 [native_assets_builder] Remove dry run
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/build_dry_run_result.dart
  pkgs/native_assets_builder/lib/src/model/hook_result.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_build_dry_run_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_cycle_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test_data/package_reading_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/transformer/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_linker/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1791 [jnigen] Use dollar signs for nested class name separator
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/doc/java_differences.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
  pkgs/jnigen/test/renamer_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
  pkgs/jnigen/test/summary_test.dart
Labels: package:jnigen

#1800 [native_assets_cli] Move `BuildMode` to [native_toolchain_c]
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test/test_data/transformer_test.dart
  pkgs/native_assets_builder/test_data/native_dynamic_linking/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/code_assets.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/build_config_test.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/example/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/link_config_test.dart
  pkgs/native_assets_cli/test/validation_test.dart
  pkgs/native_toolchain_c/lib/native_toolchain_c.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/build_mode.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1799 [native_assets_cli] Make package:test dev dep
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/test/build_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, autosubmit

#1798 Separate java primitive arrays and implement Iterable
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/_internal.dart
  pkgs/jni/lib/jni.dart
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/lib/src/jprimitives.dart
  pkgs/jni/lib/src/method_invocation.dart
  pkgs/jni/lib/src/nio/jbyte_buffer.dart
  pkgs/jni/lib/src/types.dart
  pkgs/jni/test/jarray_test.dart
  pkgs/jni/test/jbyte_buffer_test.dart
  pkgs/jni/test/type_test.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen, package:jni

#1806 [native_assets_cli] Move `targetOS` to `CodeConfig`
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test/test_data/transformer_test.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/hook/link.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/hook/build.dart
  pkgs/native_assets_cli/lib/code_assets.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/os.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/target.dart
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/build_config_test.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/example/native_add_library_test.dart
  pkgs/native_assets_cli/test/example/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/test/link_config_test.dart
  pkgs/native_assets_cli/test/validation_test.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/ctool.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1790 Handle dart typedefs in import/export of symbol files.
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/shared_bindings/headers/a.h
  pkgs/ffigen/example/shared_bindings/headers/base.h
  pkgs/ffigen/example/shared_bindings/lib/generated/a_gen.dart
  pkgs/ffigen/example/shared_bindings/lib/generated/a_shared_b_gen.dart
  pkgs/ffigen/example/shared_bindings/lib/generated/base_gen.dart
  pkgs/ffigen/example/shared_bindings/lib/generated/base_symbols.yaml
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/strings.dart
Labels: package:ffigen

#1804 [jnigen] Run object default methods for interfaces
  pkgs/jni/CHANGELOG.md
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/PortProxyBuilder.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni

#1807 Rename top-level Kotlin functions and properties correctly
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/subpackage/TopLevel.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen

#1809 [native_assets_cli] Make `CCompilerConfig` fields less nullable
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1812 [jnigen][jni] Publish 0.13.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#1730 [swift2objc] Filtering Support
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/transformer/_core/dependencies.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/unit/filter_test_input.swift
  pkgs/swift2objc/test/unit/filter_test_output_a.swift
  pkgs/swift2objc/test/unit/filter_test_output_b.swift
  pkgs/swift2objc/test/unit/filter_test_output_c.swift
  pkgs/swift2objc/test/utils/utils.dart
Labels: package:swift2objc

#1823 [ffigen] Fix nit in readme
  pkgs/ffigen/README.md
Labels: package:ffigen

#1825 [native_assets_builder] Use ` package:file`s `FileSystem` abstraction
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/native_assets_builder/lib/src/locking/locking.dart
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/lib/src/utils/file.dart
  pkgs/native_assets_builder/lib/src/utils/run_process.dart
  pkgs/native_assets_builder/lib/src/utils/uri.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/package_layout_test.dart
  pkgs/native_assets_builder/test/dependencies_hash_file/dependencies_hash_file_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test/locking/locking_test_helper.dart
Labels: package:native_assets_builder

#1843 [native_toolchain_c] Skip building dylib if code asset type not reque…
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
Labels: autosubmit, package:native_toolchain_c

#1839 [native_assets_cli] Add version skew regression test back in
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/build_runner/version_skew_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/ffigen.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/lib/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/lib/src/native_add.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/lib/src/native_add_bindings_generated.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/src/native_add.c
  pkgs/native_assets_builder/test_data/native_add_version_skew/src/native_add.h
  pkgs/native_assets_builder/test_data/native_add_version_skew/test/native_add_test.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_assets_builder

#1841 [native_toolchain_c] Publish 0.7.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1842 [native_assets_builder] Publish 0.10.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1845 MSVC: support finding build tools even when Visual Studio IDE is not installed
  pkgs/native_toolchain_c/lib/src/native_toolchain/msvc.dart
Labels: package:native_toolchain_c

#1835 [ffigen] Fix some C warnings
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/src/objective_c_runtime.h
Labels: package:ffigen, skip-changelog-check, package:objective_c
