Repository dart-lang/native, pull requests merged in 2024-02, with the labels that each got.

#955 Build hook spec
  pkgs/native_assets_builder/doc/protocol/v1.md
Labels: autosubmit, package:native_assets_builder

#963 [infra] Update workflow with `native_` packages
  .github/workflows/native.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/CONTRIBUTING.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/dart_app/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/some_dev_dep/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec_overrides.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec_overrides.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/native_add_app/pubspec_overrides.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/native_add_library/pubspec_overrides.yaml
  pkgs/native_assets_cli/example/use_dart_api/manifest.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec_overrides.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/pubspec_overrides.yaml
  tools/check_pubspec_overrides.dart
  tools/delete_pubspec_overrides.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#964 [native_assets_builder] Separate `KernelAsset`s from `Asset`s
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/model/asset.dart
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/model/kernel_assets_test.dart
Labels: autosubmit, package:native_assets_builder

#965 [native_assets_builder] Publish v0.4.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#967 [native_assets_builder] Hide `KernelAssets` field
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/pubspec.yaml
Labels: package:native_assets_builder

#969 [jni] Fix analysis
  pkgs/jni/example/pubspec.lock
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jvalues.dart
Labels: package:jni

#973 [jnigen] FixCI
  .github/workflows/jnigen.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/in_app_java/src/android_utils/android_utils.c
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/Main.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmSummarizer.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/doclet/SummarizerDoclet.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/ClassFinder.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/JsonWriter.java
  pkgs/jnigen/lib/src/summary/summary.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/c_bindings/jackson_core.c
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/c_based/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/dart_only/dart_bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/simple_package_test/c_based/c_bindings/simple_package.c
  pkgs/jnigen/test/simple_package_test/c_based/dart_bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/dart_only/dart_bindings/simple_package.dart
  pkgs/jnigen/test/summary_generation_test.dart
Labels: type-infra, package:jnigen
