Repository dart-lang/native, pull requests merged in 2025-09, with the labels that each got.

#2552 [swift2objc] Built in declarations should only come from the built in module
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_built_in_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
Labels: package:swift2objc

#2569 [swift2objc] Cleanup API for MVP
  pkgs/swift2objc/lib/src/ast/visitor.dart
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/context.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_typealias_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_type.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/swift2objc.dart
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
  pkgs/swift2objc/test/unit/parse_type_test.dart
Labels: package:swift2objc

#2600 [ffigen] [objective_c] Publish v20 and v9 dev releases
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2588 [code_assets] Use FFIgen 20 Dart API
  pkgs/code_assets/example/host_name/pubspec.yaml
  pkgs/code_assets/example/host_name/tool/ffigen.dart
  pkgs/code_assets/example/mini_audio/lib/src/third_party/miniaudio.g.dart
  pkgs/code_assets/example/mini_audio/pubspec.yaml
  pkgs/code_assets/example/mini_audio/tool/ffigen.dart
  pkgs/code_assets/example/sqlite/pubspec.yaml
  pkgs/code_assets/example/sqlite/tool/ffigen.dart
  pkgs/code_assets/example/sqlite_prebuilt/pubspec.yaml
  pkgs/code_assets/example/sqlite_prebuilt/tool/ffigen.dart
  pkgs/code_assets/example/stb_image/pubspec.yaml
  pkgs/code_assets/example/stb_image/tool/ffigen.dart
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/infra_failure/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
Labels: package:hooks, autosubmit, package:hooks_runner, skip-changelog-check, package:code_assets

#2603 [code_assets] Tweak examples
  pkgs/code_assets/example/mini_audio/hook/build.dart
  pkgs/code_assets/example/sqlite/hook/build.dart
  pkgs/code_assets/example/stb_image/hook/build.dart
Labels: package:code_assets

#2602 [code_assets] Publish
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
Labels: skip-changelog-check, package:code_assets

#2604 [code_assets] Tweak `gethostname` example
  pkgs/code_assets/example/host_name/hook/build.dart
  pkgs/code_assets/example/host_name/lib/src/host_name.dart
  pkgs/code_assets/example/host_name/lib/src/third_party/unix.dart
  pkgs/code_assets/example/host_name/lib/src/third_party/windows.dart
  pkgs/code_assets/example/host_name/test/host_name_test.dart
  pkgs/code_assets/example/host_name/tool/ffigen.dart
Labels: autosubmit, package:code_assets

#2585 [swiftgen] Swiftgen MVP
  pkgs/swift2objc/CHANGELOG.md
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/utils.dart
  pkgs/swift2objc/lib/swift2objc.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/integration/async_output.swift
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/unit/target_test.dart
  pkgs/swift2objc/test/utils.dart
  pkgs/swiftgen/CHANGELOG.md
  pkgs/swiftgen/example/avf_audio_bindings.dart
  pkgs/swiftgen/example/avf_audio_wrapper.swift
  pkgs/swiftgen/example/generate_code.dart
  pkgs/swiftgen/lib/src/config.dart
  pkgs/swiftgen/lib/src/generator.dart
  pkgs/swiftgen/lib/swiftgen.dart
  pkgs/swiftgen/pubspec.yaml
  pkgs/swiftgen/test/integration/classes.swift
  pkgs/swiftgen/test/integration/classes_bindings.dart
  pkgs/swiftgen/test/integration/classes_test.dart
  pkgs/swiftgen/test/integration/classes_wrapper.swift
  pkgs/swiftgen/test/integration/util.dart
Labels: package:swiftgen, package:swift2objc

#2582 [native_doc_dartifier] Improve Fixing Dart Code
  pkgs/native_doc_dartifier/lib/src/code_processor.dart
  pkgs/native_doc_dartifier/lib/src/dartify_code.dart
  pkgs/native_doc_dartifier/lib/src/prompts.dart
Labels: package:native_doc_dartifier

#2613 [ffigen] NS_OPTIONS generate as ints
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/test/code_generator_tests/code_generator_test.dart
  pkgs/ffigen/test/native_objc_test/enum_config.yaml
  pkgs/ffigen/test/native_objc_test/enum_test.dart
  pkgs/ffigen/test/native_objc_test/enum_test.m
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/observer.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#2630 [swiftgen] Allow user to use custom module function
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/swiftgen/CHANGELOG.md
  pkgs/swiftgen/lib/src/generator.dart
  pkgs/swiftgen/pubspec.yaml
Labels: package:ffigen, package:swiftgen

#2634 [hooks_runner] Pass `NIX_` environment variables through in hooks_runner
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/build_runner/build_runner_caching_test.dart
Labels: package:hooks_runner

#2658 [objective_c] Add `autoReleasePool` API
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/autorelease.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/ns_input_stream.dart
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/test/autorelease_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/test/observer_test.dart
  pkgs/objective_c/test/util.dart
Labels: package:objective_c
