Repository dart-lang/native, pull requests merged in 2025-10, with the labels that each got.

#2660 [infra] Enable the Dart MCP server by default in Gemini CLI
  .gemini/settings.json
Labels: autosubmit

#2657 [native_toolchain_c] Broaden compiler tool discovery
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/clang.dart
Labels: package:native_toolchain_c

#2663 [ffigen] Throw `NSError`s returned as out-params
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/scope.dart
  pkgs/ffigen/test/native_objc_test/error_method_config.yaml
  pkgs/ffigen/test/native_objc_test/error_method_test.dart
  pkgs/ffigen/test/native_objc_test/error_method_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/swiftgen/test/integration/classes_bindings.dart
Labels: package:ffigen, package:objective_c, package:swiftgen

#2682 [hooks_runner] [hooks] Shorten output dir paths
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/lib/src/config.dart
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/test/checksum_test.dart
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/lib/src/package_layout/package_layout.dart
  pkgs/hooks_runner/pubspec.yaml
Labels: package:hooks, package:hooks_runner
