Repository dart-lang/native, pull requests merged in 2025-01, with the labels that each got.

#1852 Fix old link in ffi readme
  pkgs/ffi/README.md
Labels: package:ffi

#1846 [native_assets_builder] Fix flaky test
  pkgs/native_assets_builder/test_data/transformer/hook/build.dart
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
Labels: package:native_assets_builder

#1853 [native_assets_builder] Make hook environment configurable
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: autosubmit, package:native_assets_builder

#1787 Fix flutter health wf
  .github/workflows/health.yaml
  .github/workflows/health_flutter.yaml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/shared_bindings/generate.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: type-infra, package:ffigen, package:jnigen, skip-breaking-check, package:objective_c

#1854 [native_assets_builder] Make hook environment configurable - fix
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#1856 [infra] Add PR title checker
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yaml
Labels: type-infra

#1859 [ffigen] Disable enum warning for ObjC
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
Labels: package:ffigen, skip-changelog-check

#1866 [infra] Flip `native_x` packages back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1858 [ffigen] Disable health check for ffigen
  .github/workflows/health.yaml
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
Labels: type-infra, package:ffigen

#1796 [ffigen] Blocking blocks
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.h
  pkgs/ffigen/test/native_objc_test/block_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, package:objective_c

#1867 [native_assets_cli] Cleanup constructors
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
Labels: package:native_assets_cli, autosubmit

#1674 [ffigen] Clean up global_test and comment out the flaky line.
  pkgs/ffigen/test/native_objc_test/global_native_config.yaml
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.h
  pkgs/ffigen/test/native_objc_test/global_native_test.m
  pkgs/ffigen/test/native_objc_test/global_test.dart
Labels: package:ffigen

#1874 [native_assets_builder] Add missing header
  pkgs/native_assets_builder/test_data/native_dynamic_linking/bin/native_dynamic_linking.dart
Labels: package:native_assets_builder

#1872 [native_assets_cli] Make `BuildInput` JSON hierarchical
  pkgs/native_assets_builder/test_data/wrong_build_output_3/hook/build.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/json_utils.dart
  pkgs/native_assets_cli/test/build_config_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/link_config_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
Labels: package:native_assets_cli, package:native_assets_builder

#1870 [ffigen] Blocking protocol methods
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
Labels: package:ffigen, package:objective_c

#1860 [native_assets_cli] Add example for downloading assets
  .github/workflows/native.yaml
  .github/workflows/package_download_asset.yaml
  pkgs/native_assets_cli/example/build/download_asset/README.md
  pkgs/native_assets_cli/example/build/download_asset/ffigen.yaml
  pkgs/native_assets_cli/example/build/download_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/native_add.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/c_build.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/download.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/hashes.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/target_versions.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/targets.dart
  pkgs/native_assets_cli/example/build/download_asset/lib/src/hook_helpers/version.dart
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/src/native_add.c
  pkgs/native_assets_cli/example/build/download_asset/src/native_add.h
  pkgs/native_assets_cli/example/build/download_asset/test/native_add_test.dart
  pkgs/native_assets_cli/example/build/download_asset/tool/build.dart
  pkgs/native_assets_cli/example/build/download_asset/tool/generate_asset_hashes.dart
  pkgs/native_assets_cli/example/build/native_add_library/README.md
Labels: type-infra, package:native_assets_cli, autosubmit, skip-changelog-check

#1876 [native_toolchain_c] Support environment for `cl.exe` already set up
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
Labels: package:native_toolchain_c

#1878 [native_assets_cli] [doc] Add READMEs for examples
  pkgs/native_assets_builder/test_data/transformer/README.md
  pkgs/native_assets_cli/example/build/README.md
  pkgs/native_assets_cli/example/build/local_asset/README.md
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1880 [native_assets_cli] Fix system libraries and add documentation
  .github/workflows/native.yaml
  pkgs/native_assets_builder/test/build_runner/system_library_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/system_library/hook/build.dart
  pkgs/native_assets_builder/test_data/system_library/lib/memory_executable.dart
  pkgs/native_assets_builder/test_data/system_library/lib/memory_process.dart
  pkgs/native_assets_builder/test_data/system_library/lib/memory_system.dart
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/test/memory_test.dart
  pkgs/native_assets_cli/example/build/README.md
  pkgs/native_assets_cli/example/build/system_library/README.md
  pkgs/native_assets_cli/example/build/system_library/hook/build.dart
  pkgs/native_assets_cli/example/build/system_library/lib/memory.dart
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/test/memory_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_assets_builder

#1881 [jnigen] Fix crash on Kotlin wildcards
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Nullability.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen

#1883 [native_assets_cli] Fix system libraries and add documentation - fix test
  pkgs/native_assets_builder/test_data/system_library/lib/memory_executable.dart
  pkgs/native_assets_builder/test_data/system_library/lib/memory_process.dart
  pkgs/native_assets_builder/test_data/system_library/lib/memory_system.dart
  pkgs/native_assets_cli/example/build/system_library/lib/memory.dart
Labels: package:native_assets_cli, package:native_assets_builder

#1834 [swift2objc] Visitor infra
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/nestable_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/parameter.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/ast_node.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/ast/visitor.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swift2objc/lib/src/transformer/_core/dependencies.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_globals.dart
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
  pkgs/swift2objc/test/unit/parse_type_test.dart
Labels: package:swift2objc

#1890 [native_assets_cli] Fix system libraries and add documentation - fix test 2
  pkgs/native_assets_builder/test_data/system_library/lib/memory_executable.dart
  pkgs/native_assets_builder/test_data/system_library/test/memory_test.dart
Labels: package:native_assets_builder

#1886 [native_assets_builder] Write hook stdout and stderr to disk
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test_data/native_add/hook/build.dart
Labels: package:native_assets_builder

#1888 [ffigen] Remove objc_retain from bindings
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
Labels: package:ffigen, skip-breaking-check, skip-changelog-check, package:objective_c

#1896 [ffigen] Prepare to publish ffigen 16.1.0
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, skip-breaking-check, package:objective_c

#1875 [objective_c] Add a bunch more categories to the bindings
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, skip-breaking-check, package:objective_c

#1894 [jnigen] Support nullability annotations on non-types
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmAnnotationVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassSignatureVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmMethodSignatureVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmMethodVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmTypeUsageSignatureVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/KotlinMetadataAnnotationVisitor.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/annotations/Annotated.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

#1891 [native_assets_cli] [doc] Document multiple invocation behavior
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/config.dart
Labels: package:native_assets_cli, autosubmit

#1897 [objective_c] Make all API types public
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/example/swift/third_party/swift_api.h
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/generate_code_test.dart
  pkgs/objective_c/test/interface_lists_test.dart
Labels: package:ffigen, package:objective_c

#1902 [jnigen] Generate enum values non-nullable
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmClassVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/doclet/SummarizerDoclet.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/JavaAnnotation.java
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/enums/Colors.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/simple_package/Color.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
  pkgs/jnigen/test/summary_test.dart
Labels: package:jnigen

#1899 [ffigen] Fix decl_decl_collision_test.dart
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/test/collision_tests/decl_decl_collision_test.dart
  pkgs/ffigen/test/collision_tests/expected_bindings/_expected_decl_decl_collision_bindings.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1893 [native_toolchain_c] Support Clang on Windows
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/clang.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/testfiles/add/src/add.c
  pkgs/native_toolchain_c/test/native_toolchain/clang_test.dart
Labels: package:native_toolchain_c

#1910 [native_toolchain_c] Support Clang on Windows 2
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
Labels: autosubmit, package:native_toolchain_c

#1909 [jnigen] Respect top-type nullability of type arguments
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Nullability.kt
Labels: package:jnigen

#1898 [objective_c] Rename `NSString.toString()` to `.toDartString()`
  pkgs/ffigen/test/native_objc_test/bad_override_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/category_test.dart
  pkgs/ffigen/test/native_objc_test/global_native_test.dart
  pkgs/ffigen/test/native_objc_test/global_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/rename_test.dart
  pkgs/ffigen/test/native_objc_test/string_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/ns_string.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/test/nsstring_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1911 [native_assets_builder] Support pub workspaces
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/package_layout_test.dart
  pkgs/native_assets_builder/test/build_runner/pub_workspace_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/dart_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/test/native_add_test.dart
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
Labels: package:native_assets_builder

#1914 [jnigen] Publish 0.13.1
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen

#1917 [native_assets_builder] Stop taking a `workingDirectory`
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: autosubmit, package:native_assets_builder

#1918 [native_assets_builder] Move `runPackageName` into `PackageLayout`
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/package_layout_test.dart
Labels: autosubmit, package:native_assets_builder

#1919 [native_assets_builder] Move `packageLayout` to builder constructor
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
Labels: autosubmit, package:native_assets_builder

#1916 [jnigen] doc improvements
  pkgs/jni/CHANGELOG.md
  pkgs/jni/bin/setup.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/test/isolate_test.dart
  pkgs/jni/test/jobject_test.dart
  pkgs/jnigen/README.md
Labels: package:jnigen, package:jni

#1921 [native_assets_builder] Support pub workspaces 2
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/package_layout/package_layout.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/build_planner_test.dart
  pkgs/native_assets_builder/test/build_runner/pub_workspace_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/no_hook/lib/no_hook.dart
  pkgs/native_assets_builder/test_data/no_hook/manifest.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#1925 [jni] Clarify `JBuffer.array` docs
  pkgs/jni/lib/src/nio/jbuffer.dart
Labels: package:jni

#1923 [native_assets_builder] Fail early on too old `native_assets_cli`
  .github/workflows/native.yaml
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/version_skew_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/hook/build.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/pubspec.yaml
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_assets_builder

#1924 [native_assets_builder] Support pub workspaces 3
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/pub_workspace_test.dart
Labels: autosubmit, package:native_assets_builder

#1926 [native_assets_cli] Publish 0.11.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli, autosubmit

#1927 [native_toolchain_c] Publish 0.8.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#1928 [native_assets_builder] Publish 0.11.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#1933 [native_assets_builder] Fix hook compile caching
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#1934 [infra] Flip `native_x` packages back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#1936 [native_assets_cli] Update readme
  pkgs/native_assets_cli/README.md
Labels: package:native_assets_cli, autosubmit

#1935 [native_assets_cli] Validate that paths are absolute in `Input` and `Output`
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/absolute_path_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test/build_runner/resources_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/manifest_generator.dart
  pkgs/native_assets_builder/test_data/native_add/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_symbol/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_break_build/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_fix_build/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/manifest.yaml
  pkgs/native_assets_builder/test_data/no_hook/manifest.yaml
  pkgs/native_assets_builder/test_data/relative_path/assets/test_asset.txt
  pkgs/native_assets_builder/test_data/relative_path/hook/build.dart
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link_change_asset/manifest.yaml
  pkgs/native_assets_builder/test_data/transformer/manifest.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#1930 [ffigen] Support transitive categories of built-in types
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_category.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/test/native_objc_test/category_config.yaml
  pkgs/ffigen/test/native_objc_test/category_test.dart
  pkgs/ffigen/test/native_objc_test/category_test.h
  pkgs/ffigen/test/native_objc_test/category_test.m
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/test/interface_lists_test.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1938 [jni] Add support for JArray.of()
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/test/jarray_test.dart
Labels: package:jni

#1940 [ffigen] Bumped dart_style to 3.0
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/pubspec.yaml
Labels: package:ffigen

#1943 [jni] Add the ability to check if a `JObject` is a subclass of a Java class.
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

#1939 [swift2objc] Support properties that throw
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_globals.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/throwing_getters_input.swift
  pkgs/swift2objc/test/integration/throwing_getters_output.swift
Labels: package:swift2objc

#1945 [jni] Do not require JWT
  pkgs/jni/CHANGELOG.md
  pkgs/jni/src/CMakeLists.txt
Labels: package:jni

#1949 [infra] Skip autopublishing for Flutter SDK packages
  .github/workflows/publish.yaml
Labels: type-infra, autosubmit

#1950 [infra] Skip autopublishing for Flutter SDK packages - 2
  .github/workflows/publish.yaml
Labels: type-infra, autosubmit

#1951 [ffigen] Avoid errors in C header file
  pkgs/ffigen/test/header_parser_tests/globals.h
Labels: autosubmit, package:ffigen

#1954 [jni] Upgrade package:jni's ffigen
  .github/workflows/ffigen.yml
  .github/workflows/ffigen_weekly.yml
  pkgs/jni/lib/src/accessors.dart
  pkgs/jni/lib/src/errors.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/third_party/global_env_extensions.dart
  pkgs/jni/lib/src/third_party/jni_bindings_generated.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/src/dartjni.c
  pkgs/jni/src/dartjni.h
  pkgs/jni/src/jni_constants.h
  pkgs/jni/src/third_party/global_jni_env.c
  pkgs/jni/tool/generate_ffi_bindings.dart
  pkgs/jni/tool/wrapper_generators/ffigen_util.dart
  pkgs/jni/tool/wrapper_generators/generate_c_extensions.dart
  pkgs/jni/tool/wrapper_generators/generate_dart_extensions.dart
Labels: type-infra, package:jni, skip-changelog-check

#1955 [jni] Fix jni on Android
  pkgs/jni/lib/src/jni.dart
Labels: package:jni, skip-changelog-check

#1953 [ffigen] Interfaces implement their conformed protocols
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/transitive_test.dart
  pkgs/ffigen/test/unit_tests/subtyping_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/analysis_options.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1958 [jni] Add `JByteArray.from`
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/jarray.dart
  pkgs/jni/test/jarray_test.dart
Labels: package:jni

#1946 [jnigen] adding the ability for the user to rename
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/j_elements.dart
  pkgs/jnigen/test/user_excluder.dart
  pkgs/jnigen/test/user_visitors.dart
Labels: package:jnigen

#1960 [jnigen] Fix doclet type parameter parsing
  pkgs/jni/CHANGELOG.md
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/doclet/ElementBuilders.java
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/generated_files_test.dart
  pkgs/jnigen/test/summary_test.dart
Labels: package:jnigen, package:jni

#1961 [jnigen] [jni] 0.14.0
  pkgs/jni/CHANGELOG.md
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni
