Repository dart-lang/native, pull requests merged in 2025-08, with the labels that each got.

#2466 [swift2objc] Split `NestableDeclaration`
  pkgs/swift2objc/lib/src/ast/_core/interfaces/compound_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/nestable_declaration.dart
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
Labels: package:swift2objc

#2468 [swift2objc] Typealias support
  pkgs/swift2objc/lib/src/ast/_core/shared/referred_type.dart
  pkgs/swift2objc/lib/src/ast/declarations/typealias_declaration.dart
  pkgs/swift2objc/lib/src/ast/visitor.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_typealias_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_referred_type.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/typealias_input.swift
  pkgs/swift2objc/test/integration/typealias_output.swift
Labels: package:swift2objc

#2474 [infra] Fix `code_assets` and `native_toolchain_c` versions
  pkgs/code_assets/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_toolchain_c, skip-changelog-check, package:code_assets

#2476 [swift2objc] Availability annotations
  pkgs/swift2objc/lib/src/ast/_core/interfaces/availability.dart
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/ast/declarations/typealias_declaration.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_typealias_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/_core/primitive_wrappers.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_globals.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/available_input.swift
  pkgs/swift2objc/test/integration/available_output.swift
  pkgs/swift2objc/test/unit/parse_type_test.dart
Labels: package:swift2objc

#2484 [swift2objc] Add missing license headers
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/generator/_core/utils.dart
  pkgs/swift2objc/lib/src/generator/generator.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_globals.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
Labels: package:swift2objc

#2486 [swift2objc] Add toll free bridged types
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/test/integration/bridging_input.swift
  pkgs/swift2objc/test/integration/bridging_output.swift
Labels: package:swift2objc

#2491 [hooks_runner] Add the manifest generator to the ci checks
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/manifest_generator.dart
  tool/ci.dart
Labels: package:hooks_runner, skip-changelog-check

#2512 [infra] CI script: don't run tests twice
  pkgs/hooks/example/build/native_dynamic_linking/test/add_test.dart
  tool/ci.dart
Labels: package:hooks, autosubmit, skip-changelog-check

#2510 [swift2objc] Fix stubbing edge cases for nested types
  pkgs/swift2objc/lib/src/transformer/_core/dependencies.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/unit/filter_test_input.swift
  pkgs/swift2objc/test/unit/filter_test_output_b.swift
  pkgs/swift2objc/test/unit/filter_test_output_e.swift
  pkgs/swift2objc/test/unit/filter_test_output_f.swift
  pkgs/swift2objc/test/unit/filter_test_output_g.swift
  pkgs/swift2objc/test/unit/filter_test_output_h.swift
Labels: package:swift2objc

#2514 [ffigen][jnigen] Update Dart API to resolve compiler warnings
  pkgs/jni/src/include/analyze_snapshot_api.h
  pkgs/jni/src/include/bin/dart_io_api.h
  pkgs/jni/src/include/bin/native_assets_api.h
  pkgs/jni/src/include/dart_api.h
  pkgs/jni/src/include/dart_api_dl.c
  pkgs/jni/src/include/dart_api_dl.h
  pkgs/jni/src/include/dart_embedder_api.h
  pkgs/jni/src/include/dart_native_api.h
  pkgs/jni/src/include/dart_tools_api.h
  pkgs/jni/src/include/dart_version.h
  pkgs/objective_c/src/include/dart_api.h
  pkgs/objective_c/src/include/dart_tools_api.h
Labels: package:jni, package:objective_c

#2522 [ffigen] Fix CI failure
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
Labels: package:ffigen

#2518 [swift2objc] More built in declarations
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_built_in_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
Labels: package:swift2objc

#2524 [hooks] [code_assets] [data_assets] Fix markdown code snippets
  pkgs/code_assets/README.md
  pkgs/data_assets/README.md
  pkgs/hooks/CONTRIBUTING.md
  pkgs/hooks/tool/update_snippets.dart
Labels: package:hooks, skip-changelog-check, package:data_assets, package:code_assets

#2527 [code_assets] Add `sqlite_prebuilt` example
  pkgs/code_assets/example/build/sqlite_prebuilt/hook/build.dart
  pkgs/code_assets/example/build/sqlite_prebuilt/lib/sqlite_prebuilt.dart
  pkgs/code_assets/example/build/sqlite_prebuilt/lib/src/sqlite_prebuilt.dart
  pkgs/code_assets/example/build/sqlite_prebuilt/lib/src/third_party/sqlite3.g.dart
  pkgs/code_assets/example/build/sqlite_prebuilt/pubspec.yaml
  pkgs/code_assets/example/build/sqlite_prebuilt/test/sqlite_prebuilt_test.dart
  pkgs/code_assets/example/build/sqlite_prebuilt/third_party/sqlite/sqlite3.h
  pkgs/code_assets/example/build/sqlite_prebuilt/tool/ffigen.dart
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/dev_dependency_with_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/infra_failure/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pubspec.yaml
  tool/ci.dart
Labels: package:hooks, autosubmit, package:hooks_runner, skip-changelog-check, package:code_assets

#2521 [ffigen] Remove Writer.usedEnumCTypes
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/test/large_integration_tests/large_test.dart
Labels: package:ffigen

#2529 [infra] Default CI scrip tasks all to false
  tool/ci.dart
Labels: autosubmit

#2546 [code_assets] [hooks] [hooks_runner] [data_assets] Publish
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/pubspec.yaml
Labels: package:hooks, package:hooks_runner, skip-breaking-check, package:data_assets, package:code_assets

#2547 [code_assets] [hooks] Fix process run in test
  pkgs/code_assets/test/example/pub_publish_size_test.dart
  pkgs/hooks/test/example/pub_publish_size_test.dart
Labels: package:hooks, skip-changelog-check, package:code_assets

#2540 [swift2objc] Support multiple inputs
  pkgs/swift2objc/lib/src/ast/_core/interfaces/declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/built_in/built_in_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/class_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/initializer_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/protocol_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/compounds/struct_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/associated_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/normal_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/enums/raw_value_enum_declaration.dart
  pkgs/swift2objc/lib/src/ast/declarations/globals/globals.dart
  pkgs/swift2objc/lib/src/ast/declarations/typealias_declaration.dart
  pkgs/swift2objc/lib/src/config.dart
  pkgs/swift2objc/lib/src/generate_wrapper.dart
  pkgs/swift2objc/lib/src/generator/generator.dart
  pkgs/swift2objc/lib/src/parser/_core/json.dart
  pkgs/swift2objc/lib/src/parser/_core/parsed_symbolgraph.dart
  pkgs/swift2objc/lib/src/parser/_core/utils.dart
  pkgs/swift2objc/lib/src/parser/parser.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_compound_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_typealias_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_declarations.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_relations_map.dart
  pkgs/swift2objc/lib/src/parser/parsers/parse_symbols_map.dart
  pkgs/swift2objc/lib/src/transformer/_core/dependencies.dart
  pkgs/swift2objc/lib/src/transformer/_core/primitive_wrappers.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_globals.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/lib/src/utils.dart
  pkgs/swift2objc/lib/swift2objc.dart
  pkgs/swift2objc/test/integration/integration_test.dart
  pkgs/swift2objc/test/integration/string_input.swift
  pkgs/swift2objc/test/integration/string_output.swift
  pkgs/swift2objc/test/integration/time_interval_input.swift
  pkgs/swift2objc/test/integration/time_interval_output.swift
  pkgs/swift2objc/test/unit/filter_test.dart
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
  pkgs/swift2objc/test/unit/parse_type_test.dart
  pkgs/swift2objc/test/unit/temp/.gitignore
  pkgs/swift2objc/test/utils.dart
  pkgs/swiftgen/example/pubspec.yaml
  pkgs/swiftgen/lib/src/config.dart
  pkgs/swiftgen/lib/src/util.dart
  pkgs/swiftgen/pubspec.yaml
Labels: package:swiftgen, package:swift2objc

#2568 [ffigen] Remove `PackageConfig` from `FfiGen` config
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
Labels: package:ffigen

#2563 [ffigen] Use `printOnFailure` in tests
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/test_utils.dart
Labels: autosubmit, package:ffigen
