Repository dart-lang/native, pull requests merged in 2025-06, with the labels that each got.

#2335 [ffigen] Remove an old TODO that filtered certain methods from package:objective_c
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/objective_c_bindings_exported.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#2348 [jnigen] Remove exclude from config
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/example/in_app_java/jnigen.yaml
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/android/build.gradle
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/_package.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/_package.dart
  pkgs/jnigen/lib/jnigen.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/config/filters.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/jackson_core_test/jnigen.yaml
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/_package.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
Labels: package:jnigen

#2055 [swift2objc] Support Swift ARC features
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/property_declaration.dart
  pkgs/swift2objc/lib/src/generator/generators/class_generator.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/classes_and_properties_input.swift
  pkgs/swift2objc/test/integration/classes_and_properties_output.swift
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
  pkgs/swift2objc/test/unit/parse_variable_info_test.dart
Labels: package:swift2objc

#2354 [hooks] [hooks_runner] Use `any` deps in example and test_data
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_1/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_2/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
Labels: package:hooks, package:hooks_runner, skip-breaking-check, skip-changelog-check

#2353 [hooks] [code_assets] Add lint `public_member_api_docs`
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/analysis_options.yaml
  pkgs/code_assets/lib/src/code_assets/architecture.dart
  pkgs/code_assets/lib/src/code_assets/c_compiler_config.dart
  pkgs/code_assets/lib/src/code_assets/code_asset.dart
  pkgs/code_assets/lib/src/code_assets/config.dart
  pkgs/code_assets/lib/src/code_assets/extension.dart
  pkgs/code_assets/lib/src/code_assets/ios_sdk.dart
  pkgs/code_assets/lib/src/code_assets/link_mode.dart
  pkgs/code_assets/lib/src/code_assets/link_mode_preference.dart
  pkgs/code_assets/lib/src/code_assets/os.dart
  pkgs/code_assets/lib/src/code_assets/syntax.g.dart
  pkgs/code_assets/lib/src/code_assets/validation.dart
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/lib/src/data_assets/syntax.g.dart
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks/example/build/download_asset/lib/src/hook_helpers/c_build.dart
  pkgs/hooks/example/build/download_asset/lib/src/hook_helpers/download.dart
  pkgs/hooks/example/build/download_asset/lib/src/hook_helpers/hashes.dart
  pkgs/hooks/example/build/download_asset/lib/src/hook_helpers/target_versions.dart
  pkgs/hooks/example/build/download_asset/lib/src/hook_helpers/targets.dart
  pkgs/hooks/example/build/system_library/lib/memory.dart
  pkgs/hooks/example/link/package_with_assets/lib/package_with_assets.dart
  pkgs/hooks/lib/src/args_parser.dart
  pkgs/hooks/lib/src/avoid_import_outside_src_rule_test.dart
  pkgs/hooks/lib/src/config.dart
  pkgs/hooks/lib/src/encoded_asset.dart
  pkgs/hooks/lib/src/extension.dart
  pkgs/hooks/lib/src/hooks/syntax.g.dart
  pkgs/hooks/lib/src/metadata.dart
  pkgs/hooks/lib/src/user_defines.dart
  pkgs/hooks/lib/src/utils/datetime.dart
  pkgs/hooks/lib/src/utils/file.dart
  pkgs/hooks/lib/src/utils/json.dart
  pkgs/hooks/lib/src/utils/uri.dart
  pkgs/hooks/lib/src/validation.dart
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/pubspec.yaml
  pkgs/json_syntax_generator/lib/src/generator/syntax_generator.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, autosubmit, package:native_toolchain_c, package:hooks_runner, skip-changelog-check, package:data_assets, package:code_assets

#2360 [native_toolchain_c] Add linking for macOS
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c, skip-breaking-check

#2362 [ffigen] Format using `dart format`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/dart_keywords.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/test/.gitignore
  pkgs/ffigen/test/test_utils.dart
Labels: package:ffigen

#2363 [native_toolchain_c] Add linking for iOS
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_cross_ios_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_android_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_ios_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c, skip-breaking-check

#2367 [native_toolchain_c] Add Linking for Windows
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/clinker/objects_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/objects_helper.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/testfiles/linker/test1.c
  pkgs/native_toolchain_c/test/clinker/testfiles/linker/test2.c
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_cross_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_toolchain_c, skip-breaking-check
