Repository dart-lang/native, pull requests merged in 2025-04, with the labels that each got.

#2152 [infra] Flip `native_x` packages back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#2159 [native_assets_cli] Introduce `JsonObject` base class for syntax
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
Labels: package:native_assets_cli

#2160 [native_assets_cli] Refactor overrides in syntax classes
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
Labels: package:native_assets_cli, autosubmit

#2168 [infra] Upgrade lints
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/json_syntax_generator/pubspec.yaml
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_app/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/app_with_asset_treeshaking/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#2150 [ffigen] Fix clang warning
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c_bindings_generated.m
Labels: package:ffigen, package:objective_c

#2169 [infra] Set language version to 3.7.0 everywhere
  pkgs/native_assets_builder/doc/protocol/v1.md
  pkgs/native_assets_builder/test/build_runner/pub_workspace_test.dart
  pkgs/native_assets_builder/test_data/add_asset_link/hook/build.dart
  pkgs/native_assets_builder/test_data/add_asset_link/hook/link.dart
  pkgs/native_assets_builder/test_data/add_asset_link/lib/src/add_asset_link_bindings.dart
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/build.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/lib/src/drop_dylib_link_bindings.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_cli/example/link/app_with_asset_treeshaking/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder

#2171 [native_assets_builder] Fix 2149
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
Labels: package:native_assets_builder

#2173 [infra] Bump dependencies
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_version_skew_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_app/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/app_with_asset_treeshaking/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#2163 [native_assets_cli] Syntax for `assets_for_build` and `hooks/metadata`
  pkgs/code_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/data_assets/test/data/build_input.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/data/build_input.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/link_input.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/hooks/test/schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
Labels: package:native_assets_cli, autosubmit

#2164 [native_assets_cli] Unify `Metadata` with `Asset`s
  .github/workflows/native.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/test_data/reusable_dynamic_library_test.dart
  pkgs/native_assets_builder/test_data/add_asset_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link_helper/hook/build.dart
  pkgs/native_assets_builder/test_data/drop_dylib_link/hook/build.dart
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/hook/build.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/hook/build.dart
  pkgs/native_assets_builder/test_data/package_reading_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/package_with_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/README.md
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/ffigen.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/hook/build.dart
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/lib/add.dart
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/lib/hook.dart
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/src/add.c
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/src/add.h
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/test/add_test.dart
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/README.md
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/ffigen.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/hook/build.dart
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/lib/my_add.dart
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/src/my_add.c
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/src/my_add.h
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/test/add_test.dart
  pkgs/native_assets_builder/test_data/simple_link/hook/build.dart
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/hook/build.dart
  pkgs/native_assets_builder/test_data/use_all_api/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_linker/hook/build.dart
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/link/package_with_assets/hook/build.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/model/metadata_asset_test.dart
  pkgs/native_assets_cli/test/validation_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: type-infra, package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#2165 [native_assets_cli] Add `user_defines`
  .github/workflows/native.yaml
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/data_assets/test/data/build_input.json
  pkgs/data_assets/test/data/link_input.json
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/data/build_input.json
  pkgs/hooks/test/data/link_input.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/test_data/user_defines_test.dart
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/user_defines/hook/build.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
Labels: type-infra, package:native_assets_cli, autosubmit, package:native_assets_builder

#2176 [native_assets_builder] Test project for user-defines in dartdev
  pkgs/native_assets_builder/test_data/manifest.yaml
  pkgs/native_assets_builder/test_data/user_defines/bin/user_defines.dart
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/test/user_defines_test.dart
Labels: package:native_assets_builder

#2179 [infra] Remove path dependencies
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test/build_runner/pub_workspace_test.dart
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/tool/dependencies.dart
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#2181 [native_assets_cli] Publish 0.14.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-breaking-check, skip-leaking-check

#2182 [native_toolchain_c] Publish 0.11.0
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2183 [native_assets_builder] Publish 0.14.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
Labels: package:native_assets_builder

#2180 [ffigen] Prepare for publishing v18.1
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2184 [jnigen] Support build.gradle.kts
  pkgs/jni/android/build.gradle
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/tools/android_sdk_tools.dart
Labels: package:jnigen, package:jni

#2186 [jnigen] Remove TypeUsage indirection
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/printer.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/bindings/visitor.dart
  pkgs/jnigen/lib/src/config/config_types.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/renamer_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/summary_test.dart
  pkgs/jnigen/test/user_visitor_test.dart
Labels: package:jnigen, skip-changelog-check

#2189 [infra] Try using dart sdk dev release lowerbound
  .github/workflows/native.yaml
  .github/workflows/native_toolchain_c.yaml
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_assets_cli/test/code_assets/code_asset_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/data_assets/data_asset_test.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: type-infra, package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#2190 [infra] auto-publish pre-releases
  .github/workflows/publish.yaml
Labels: type-infra

#2192 [native_assets_builder] Publish 0.15.0-0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_toolchain_c/CHANGELOG.md
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#2198 [native_assets_cli] Publish 0.15.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check, publish-ignore-warnings

#2202 [native_toolchain_c] Publish 0.12.0
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2203 [native_assets_builder] Publish 0.15.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_toolchain_c/CHANGELOG.md
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#2206 [jnigen] Add Android emulator to CI
  .github/workflows/jnigen.yaml
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: type-infra, package:jnigen, skip-changelog-check

#2200 [jnigen] Fix Kotlin suspend funs returning nullable values
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/SuspendFun.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen

#2211 [native_assets_cli] Publish 0.16.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2212 [native_toolchain_c] Publish 0.13.0
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2213 [native_assets_builder] Publish 0.16.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
Labels: autosubmit, package:native_assets_builder

#2197 [ffigen] Changes to support downstream clone
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/config_provider/overrideable_utils.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/config_provider/utils.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/collision_tests/decl_type_name_collision_test.dart
  pkgs/ffigen/test/config_tests/compiler_opts_test.dart
  pkgs/ffigen/test/config_tests/deprecate_assetid_test.dart
  pkgs/ffigen/test/config_tests/exclude_all_by_default_test.dart
  pkgs/ffigen/test/config_tests/include_exclude_test.dart
  pkgs/ffigen/test/config_tests/no_cursor_definition_warn_test.dart
  pkgs/ffigen/test/config_tests/packed_struct_override_test.dart
  pkgs/ffigen/test/config_tests/unknown_keys_warn_test.dart
  pkgs/ffigen/test/header_parser_tests/comment_markup_test.dart
  pkgs/ffigen/test/header_parser_tests/dart_handle_test.dart
  pkgs/ffigen/test/header_parser_tests/enum_int_mimic_test.dart
  pkgs/ffigen/test/header_parser_tests/forward_decl_test.dart
  pkgs/ffigen/test/header_parser_tests/function_n_struct_test.dart
  pkgs/ffigen/test/header_parser_tests/functions_test.dart
  pkgs/ffigen/test/header_parser_tests/globals_config.yaml
  pkgs/ffigen/test/header_parser_tests/globals_test.dart
  pkgs/ffigen/test/header_parser_tests/imported_types_test.dart
  pkgs/ffigen/test/header_parser_tests/macros_config.yaml
  pkgs/ffigen/test/header_parser_tests/macros_test.dart
  pkgs/ffigen/test/header_parser_tests/native_func_typedef_test.dart
  pkgs/ffigen/test/header_parser_tests/nested_parsing_test.dart
  pkgs/ffigen/test/header_parser_tests/opaque_dependencies_test.dart
  pkgs/ffigen/test/header_parser_tests/packed_structs_test.dart
  pkgs/ffigen/test/header_parser_tests/regress_384_test.dart
  pkgs/ffigen/test/header_parser_tests/struct_fptr_fields_test.dart
  pkgs/ffigen/test/header_parser_tests/typedef_test.dart
  pkgs/ffigen/test/header_parser_tests/unions_test.dart
  pkgs/ffigen/test/header_parser_tests/unnamed_enums_test.dart
  pkgs/ffigen/test/header_parser_tests/varargs_test.dart
  pkgs/ffigen/test/rename_tests/rename_test.dart
  pkgs/ffigen/test/test_utils.dart
Labels: package:ffigen

#2217 [jni] Add type erasure warning for `isA` doc
  pkgs/jni/lib/src/jobject.dart
Labels: package:jni, skip-changelog-check

#2220 [native_assets_cli] Cleanup JSON: old asset encoding
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_input_android.json
  pkgs/code_assets/test/data/build_input_ios.json
  pkgs/code_assets/test/data/build_input_linux.json
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/build_input_windows.json
  pkgs/code_assets/test/data/build_output_android.json
  pkgs/code_assets/test/data/build_output_linux.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/data/build_output_windows.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/code_assets/test/data/link_output_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/data_assets/test/data/build_input.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/data/link_input.json
  pkgs/data_assets/test/data/link_output.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/test/data/build_input.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/build_output_windows.json
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_builder/test_data/native_add_version_skew/pubspec.yaml
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/extension.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/extension.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/code_asset_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/data_assets/data_asset_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
  pkgs/native_assets_cli/test/model/metadata_asset_test.dart
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#2221 [native_assets_cli] Cleanup JSON: old code config
  pkgs/code_assets/doc/schema/hook/shared_definitions.schema.json
  pkgs/code_assets/doc/schema/sdk/shared_definitions.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_input_android.json
  pkgs/code_assets/test/data/build_input_ios.json
  pkgs/code_assets/test/data/build_input_linux.json
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/build_input_windows.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
Labels: package:native_assets_cli, skip-changelog-check

#2223 [native_assets_cli] Cleanup JSON: `assetsForLinking`
  pkgs/code_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/doc/schema/hook/shared_definitions.schema.json
  pkgs/hooks/doc/schema/sdk/shared_definitions.schema.json
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/hooks/test/schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/test/build_output_test.dart
Labels: package:native_assets_cli, skip-changelog-check

#2224 [native_assets_cli] Cleanup JSON: `prefer-static` and `prefer-dynamic`
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
Labels: package:native_assets_cli, skip-changelog-check

#2225 [native_assets_cli] Cleanup JSON: `env_script` and `env_script_arguments`
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_input_windows.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
Labels: package:native_assets_cli, skip-changelog-check

#2226 [native_assets_cli] Cleanup JSON: old metadata
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/data_assets/test/data/build_input.json
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test_data/package_reading_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/package_with_metadata/hook/build.dart
  pkgs/native_assets_builder/test_data/wrong_build_output_3/hook/build.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#2227 [native_assets_cli] Cleanup JSON: old user defines
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/data_assets/test/data/build_input.json
  pkgs/data_assets/test/data/link_input.json
  pkgs/hooks/test/data/build_input.json
  pkgs/hooks/test/data/link_input.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/native_assets_cli/lib/src/user_defines.dart
Labels: package:native_assets_cli, skip-changelog-check

#2228 [native_assets_builder] Cleanup old file fallbacks
  pkgs/native_assets_builder/lib/src/build_runner/build_planner.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test_data/use_all_api/hook/build.dart
  pkgs/native_assets_cli/lib/src/model/hook.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#2230 [infra] [native_x] Reenable checks
  .github/workflows/native.yaml
Labels: type-infra, autosubmit

#2229 [native_assets_cli] Cleanup TODOs
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/native_assets_builder/test_data/complex_link/hook/build.dart
  pkgs/native_assets_builder/test_data/complex_link_helper/hook/build.dart
  pkgs/native_assets_builder/test_data/simple_link/hook/build.dart
  pkgs/native_assets_cli/example/build/download_asset/hook/build.dart
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/hook/build.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pubspec.yaml
Labels: package:native_assets_cli, package:native_assets_builder, skip-changelog-check

#2231 [native_assets_cli] Publish 0.17.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2232 [native_toolchain_c] Publish 0.14.0
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2233 [native_assets_builder] Publish 0.17.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
Labels: autosubmit, package:native_assets_builder, skip-changelog-check

#2214 [objective_c] Make `NSArray` an `Iterable` and `NSMutableArray` a `List`
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/generate_code_test.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/nsarray_test.dart
  pkgs/objective_c/test/nsmutablearray_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
  pkgs/objective_c/tool/generate_code.dart
Labels: package:objective_c

#2240 [native_assets_cli] Rename syntax classes to `${name}Syntax`
  pkgs/json_syntax_generator/lib/src/generator/enum_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/json_syntax_generator/lib/src/model/class_info.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/native_assets_cli/lib/src/code_assets/architecture.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/os.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/lib/src/user_defines.dart
  pkgs/native_assets_cli/lib/src/validation.dart
Labels: package:native_assets_cli, skip-changelog-check

#2242 [native_assets_cli] Refactor `testCodeBuildHook`
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_builder/test_data/native_add_duplicate/hook/build.dart
  pkgs/native_assets_cli/example/build/download_asset/tool/build.dart
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/test/build_test.dart
  pkgs/native_assets_cli/lib/code_assets_builder.dart
  pkgs/native_assets_cli/lib/native_assets_cli_testing.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/extension.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/test.dart
  pkgs/native_assets_cli/test/api/build_test.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
  pkgs/native_assets_cli/test/example/local_asset_test.dart
  pkgs/native_assets_cli/test/link_input_test.dart
  pkgs/native_assets_cli/test/validation_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2243 [native_assets_cli] Remove `ResourceIdentifer`
  pkgs/native_assets_cli/lib/native_assets_cli_builder.dart
  pkgs/native_assets_cli/lib/src/model/resource_identifiers.dart
  pkgs/native_assets_cli/test/model/resource_data.dart
  pkgs/native_assets_cli/test/model/resource_identifiers_test.dart
Labels: package:native_assets_cli, autosubmit, skip-changelog-check

#2245 [native_assets_cli] Curate public classes
  .gitignore
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/lib/src/model/kernel_assets.dart
  pkgs/native_assets_builder/lib/src/model/target.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/fail_on_os_sdk_version_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/model/kernel_assets_test.dart
  pkgs/native_assets_builder/test/model/target_test.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/api/builder.dart
  pkgs/native_assets_cli/lib/src/api/linker.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/lib/src/model/dependencies.dart
  pkgs/native_assets_cli/lib/src/user_defines.dart
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/test/model/dependencies_test.dart
  pkgs/native_assets_cli/test/model/metadata_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#2248 [native_assets_cli] Curate public classes - part 2
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/ios_sdk.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/os.dart
  pkgs/native_assets_cli/lib/src/data_assets/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
Labels: package:native_assets_cli, autosubmit, skip-changelog-check

#2249 [native_assets_cli] Curate public toplevel functions
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_cli/lib/native_assets_cli.dart
  pkgs/native_assets_cli/lib/src/api/build.dart
  pkgs/native_assets_cli/lib/src/api/link.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/extension.dart
  pkgs/native_assets_cli/lib/src/test.dart
  pkgs/native_assets_cli/lib/src/validation.dart
  pkgs/native_assets_cli/test/validation_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#2239 [jnigen] Support `use` arenas on nullable JObjects
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/test/jobject_test.dart
Labels: package:jni

#2247 [ffigen] Fix #1268
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/property_config.yaml
  pkgs/ffigen/test/native_objc_test/property_test.dart
  pkgs/ffigen/test/native_objc_test/property_test.h
  pkgs/ffigen/test/native_objc_test/property_test.m
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2252 [native_assets_cli] Publish 0.18.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/user_defines/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2254 [ffigen] Conversions from Dart numbers to NSNumber
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/ns_number.dart
  pkgs/objective_c/test/nsnumber_test.dart
Labels: package:objective_c

#2257 [ffigen] Fix pubspec
  pkgs/ffigen/pubspec.yaml
Labels: package:ffigen
