Repository dart-lang/native, pull requests merged in 2025-07, with the labels that each got.

#2385 [infra] Add test_helpers package
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  .github/workflows/swiftgen.yaml
  pkgs/code_assets/pubspec.yaml
  pkgs/code_assets/test/json_schema/schema_test.dart
  pkgs/data_assets/pubspec.yaml
  pkgs/data_assets/test/json_schema/schema_test.dart
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/test/helpers.dart
  pkgs/hooks/test/json_schema/helpers.dart
  pkgs/hooks/test/json_schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/helpers.dart
  pkgs/hooks_runner/test/locking/locking_test.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/helpers.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/util.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/utils.dart
  pkgs/swiftgen/pubspec.yaml
  pkgs/swiftgen/test/integration/util.dart
  pkgs/test_helpers/README.md
  pkgs/test_helpers/analysis_options.yaml
  pkgs/test_helpers/lib/src/find_package_root.dart
  pkgs/test_helpers/lib/test_helpers.dart
  pkgs/test_helpers/pubspec.yaml
  pubspec.yaml
Labels: type-infra, package:hooks, package:native_toolchain_c, package:hooks_runner, skip-changelog-check, package:objective_c, package:swiftgen, package:swift2objc, package:data_assets, package:code_assets

#2387 [infra] Rename test_helpers to native_test_helpers
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  .github/workflows/swiftgen.yaml
  pkgs/code_assets/pubspec.yaml
  pkgs/code_assets/test/json_schema/schema_test.dart
  pkgs/data_assets/pubspec.yaml
  pkgs/data_assets/test/json_schema/schema_test.dart
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/test/helpers.dart
  pkgs/hooks/test/json_schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/helpers.dart
  pkgs/hooks_runner/test/locking/locking_test.dart
  pkgs/native_test_helpers/README.md
  pkgs/native_test_helpers/analysis_options.yaml
  pkgs/native_test_helpers/lib/native_test_helpers.dart
  pkgs/native_test_helpers/lib/src/find_package_root.dart
  pkgs/native_test_helpers/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/helpers.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/util.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/utils.dart
  pkgs/swiftgen/pubspec.yaml
  pkgs/swiftgen/test/integration/util.dart
  pubspec.yaml
Labels: type-infra, package:hooks, package:native_toolchain_c, package:hooks_runner, skip-changelog-check, package:objective_c, package:swiftgen, package:swift2objc, package:data_assets, package:code_assets

#2390 [infra] add native_test_helpers to be a valid PR title prefix
  .github/pr-title-checker-config.json
Labels: type-infra

#2394 [ffigen] Fix flutter CI
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/code_generator/utils.dart
Labels: skip-changelog-check

#2407 [infra] clean up analysis options files
  pkgs/code_assets/analysis_options.yaml
  pkgs/data_assets/analysis_options.yaml
  pkgs/ffi/analysis_options.yaml
  pkgs/ffigen/analysis_options.yaml
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks/example/link/app_with_asset_treeshaking/analysis_options.yaml
  pkgs/hooks_runner/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/analysis_options.yaml
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/native_test_helpers/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/objective_c/analysis_options.yaml
  pkgs/objective_c/example/analysis_options.yaml
  pkgs/repo_lint_rules/analysis_options.yaml
  pkgs/swift2objc/analysis_options.yaml
  pkgs/swiftgen/analysis_options.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, package:ffigen, skip-breaking-check, skip-changelog-check, package:ffi, package:objective_c, package:swiftgen, package:swift2objc, package:data_assets, package:code_assets

#2411 [native_doc_dartifier] Clean up analysis option file
  pkgs/native_doc_dartifier/analysis_options.yaml
Labels: skip-breaking-check, package:native_doc_dartifier

#2410 [ffigen] Prepare to publish v19.1.0
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2412 [jnigen] clean up analysis option files
  pkgs/jni/analysis_options.yaml
  pkgs/jni/example/analysis_options.yaml
  pkgs/jnigen/analysis_options.yaml
  pkgs/jnigen/android_test_runner/analysis_options.yaml
  pkgs/jnigen/example/in_app_java/analysis_options.yaml
  pkgs/jnigen/example/kotlin_plugin/analysis_options.yaml
  pkgs/jnigen/example/kotlin_plugin/example/analysis_options.yaml
  pkgs/jnigen/example/notification_plugin/example/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/dart_example/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/example/analysis_options.yaml
  pkgs/jnigen/example/pdfbox_plugin/lib/pdfbox_plugin.dart
Labels: package:jnigen, package:jni, publish-ignore-warnings

#2418 [jnigen] Use Kotlin signature in the docs of Kotlin methods
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/KotlinFunction.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Nullability.kt
Labels: package:jnigen

#2427 [pub_formats] Generate `pubspec.lock` API
  .github/pr-title-checker-config.json
  pkgs/pub_formats/doc/schema/pubspec_lock.schema.json
  pkgs/pub_formats/lib/pubspec_formats.dart
  pkgs/pub_formats/lib/src/pubspec_lock_syntax.g.dart
  pkgs/pub_formats/pubspec.yaml
  pkgs/pub_formats/test/pubspec_lock_test.dart
  pkgs/pub_formats/test_data/pubspec_lock_1.yaml
  pkgs/pub_formats/tool/generate.dart
  pubspec.yaml
  tool/ci.dart
Labels: type-infra, skip-pr-title-check

#2392 [objective_c] Fix a bug where `toNSInputStream` would keep listening to events unless `NSInputStream.close` is called
  pkgs/ffigen/lib/src/code_generator/objc_built_in_types.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/src/ns_input_stream.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/input_stream_adapter.h
  pkgs/objective_c/src/input_stream_adapter.m
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, package:objective_c

#2409 [ffigen] API cleanup
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/ffigen.dart
  pkgs/ffigen/lib/src/code_generator/library.dart
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/lib/src/config_provider/config_impl.dart
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
  pkgs/ffigen/lib/src/executables/ffigen.dart
  pkgs/ffigen/lib/src/ffigen.dart
  pkgs/ffigen/lib/src/header_parser/data.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/lib/src/visitor/opaque_compounds.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/collision_tests/decl_decl_collision_test.dart
  pkgs/ffigen/test/collision_tests/reserved_keyword_collision_test.dart
  pkgs/ffigen/test/config_tests/include_exclude_test.dart
  pkgs/ffigen/test/example_tests/libclang_example_test.dart
  pkgs/ffigen/test/header_parser_tests/separate_definition_test.dart
  pkgs/ffigen/test/header_parser_tests/sort_test.dart
  pkgs/ffigen/test/large_integration_tests/large_objc_test.dart
  pkgs/ffigen/test/large_integration_tests/large_test.dart
  pkgs/ffigen/test/native_objc_test/deprecated_test.dart
  pkgs/ffigen/test/native_objc_test/ns_range_test.dart
  pkgs/ffigen/test/native_objc_test/transitive_test.dart
  pkgs/ffigen/test/native_objc_test/util.dart
  pkgs/ffigen/test/native_test/native_test.dart
  pkgs/ffigen/test/regen.dart
  pkgs/ffigen/test/test_utils.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
  pkgs/swiftgen/example/generate_code.dart
  pkgs/swiftgen/lib/src/config.dart
  pkgs/swiftgen/lib/src/generator.dart
  pkgs/swiftgen/test/integration/util.dart
Labels: package:ffigen, package:objective_c, package:swiftgen

#2434 [ffigen] Move all instance methods to extension methods
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/dartdoc_options.yaml
  pkgs/ffigen/doc/errors.md
  pkgs/ffigen/lib/ffigen.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/test/native_objc_test/bad_override_test.dart
  pkgs/ffigen/test/native_objc_test/category_config.yaml
  pkgs/ffigen/test/native_objc_test/category_test.h
  pkgs/ffigen/test/native_objc_test/inherited_instancetype_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/property_test.dart
  pkgs/objective_c/lib/src/ns_input_stream.dart
  pkgs/objective_c/lib/src/objective_c_bindings_exported.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
  pkgs/objective_c/tool/generate_code.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#2443 [json_syntax_generator] Support string regex in map keys
  pkgs/code_assets/lib/src/code_assets/syntax.g.dart
  pkgs/data_assets/lib/src/data_assets/syntax.g.dart
  pkgs/hooks/lib/src/hooks/syntax.g.dart
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/pub_formats/doc/schema/pubspec_lock.schema.json
  pkgs/pub_formats/lib/src/pubspec_lock_syntax.g.dart
  pkgs/pub_formats/test/pubspec_lock_test.dart
  pkgs/pub_formats/test_data/pubspec_lock_errors_2.yaml
Labels: package:hooks, autosubmit, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2445 [pub_formats] pubspec schema
  pkgs/code_assets/lib/src/code_assets/syntax.g.dart
  pkgs/data_assets/lib/src/data_assets/syntax.g.dart
  pkgs/hooks/lib/src/hooks/syntax.g.dart
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/pub_formats/doc/schema/pubspec.schema.json
  pkgs/pub_formats/doc/schema/pubspec_lock.schema.json
  pkgs/pub_formats/lib/pubspec_formats.dart
  pkgs/pub_formats/lib/src/pubspec_lock_syntax.g.dart
  pkgs/pub_formats/lib/src/pubspec_syntax.g.dart
  pkgs/pub_formats/test/helpers.dart
  pkgs/pub_formats/test/pubspec_lock_test.dart
  pkgs/pub_formats/test/pubspec_test.dart
  pkgs/pub_formats/test_data/pubspec_1.yaml
  pkgs/pub_formats/test_data/pubspec_errors_executables_1.yaml
  pkgs/pub_formats/test_data/pubspec_errors_executables_2.yaml
  pkgs/pub_formats/test_data/pubspec_errors_executables_3.yaml
  pkgs/pub_formats/tool/generate.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2456 [json_syntax_generator] Add support for public validator methods
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/model/property_info.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/pub_formats/lib/src/pubspec_syntax.g.dart
  pkgs/pub_formats/tool/generate.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check

#2458 [hooks] Update example to be `dart install`able
  pkgs/hooks_runner/test_data/dart_app/pubspec.yaml
Labels: package:hooks_runner, skip-changelog-check

#2457 [pub_formats] Generate `package_graph.json` API
  pkgs/hooks/tool/normalize.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/pub_formats/doc/schema/package_graph.schema.json
  pkgs/pub_formats/doc/schema/pubspec.schema.json
  pkgs/pub_formats/doc/schema/pubspec_lock.schema.json
  pkgs/pub_formats/lib/pubspec_formats.dart
  pkgs/pub_formats/lib/src/package_graph_syntax.g.dart
  pkgs/pub_formats/test/helpers.dart
  pkgs/pub_formats/test/package_graph_test.dart
  pkgs/pub_formats/test_data/package_graph_1.json
  pkgs/pub_formats/tool/generate.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check

#2459 [pub_formats] Make nullable params optional
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/syntax_generator.dart
  pkgs/pub_formats/lib/src/package_graph_syntax.g.dart
  pkgs/pub_formats/lib/src/pubspec_lock_syntax.g.dart
  pkgs/pub_formats/lib/src/pubspec_syntax.g.dart
Labels: package:hooks, autosubmit
