Repository dart-lang/native, pull requests merged in 2025-03, with the labels that each got.

#1944 [swift2objc] Add support for `mutating` functions
  pkgs/swift2objc/lib/src/ast/declarations/compounds/members/method_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_function_declaration.dart
  pkgs/swift2objc/test/integration/structs_and_methods_input.swift
  pkgs/swift2objc/test/integration/structs_and_methods_output.swift
  pkgs/swift2objc/test/unit/parse_function_info_test.dart
Labels: package:swift2objc

#2057 [jnigen] Fix dartdoc topics
  pkgs/jnigen/lib/jnigen.dart
Labels: package:jnigen

#2044 [jnigen] `factory` can be used as a method name without renaming
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen

#2066 [native_toolchain_c] Correctly set up hook input
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
Labels: package:native_toolchain_c

#2067 [native_assets_cli] Fix invalid OS error and test
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
Labels: package:native_assets_cli

#2069 [native_assets_cli] Refactor syntax validation test
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
Labels: package:native_assets_cli

#2070 [native_assets_cli] Stablize config hashes
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/json_utils.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/lib/src/utils/json.dart
  pkgs/native_assets_cli/lib/src/utils/map.dart
  pkgs/native_assets_cli/test/checksum_test.dart
Labels: package:native_assets_cli, autosubmit

#2063 [jnigen] Throw when output folder contains non JNIgen files
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/README.md
  pkgs/jnigen/example/in_app_java/lib/android_utils.dart
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/example/notification_plugin/lib/notifications.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocument.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/PDDocumentInformation.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/pdmodel/_package.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/PDFTextStripper.dart
  pkgs/jnigen/example/pdfbox_plugin/lib/src/third_party/org/apache/pdfbox/text/_package.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/generation_test.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonFactory.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonParser.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/JsonToken.dart
  pkgs/jnigen/test/jackson_core_test/third_party/bindings/com/fasterxml/jackson/core/_package.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/user_visitor_test.dart
  pkgs/jnigen/test/version_test.dart
Labels: package:jnigen

#1984 [swift2objc] Support wrapper classes for primitives
  pkgs/swift2objc/lib/src/transformer/_core/primitive_wrappers.dart
  pkgs/swift2objc/lib/src/transformer/_core/utils.dart
  pkgs/swift2objc/lib/src/transformer/transform.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_function.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/pubspec.yaml
  pkgs/swift2objc/test/integration/primitive_wrappers_input.swift
  pkgs/swift2objc/test/integration/primitive_wrappers_output.swift
Labels: package:swift2objc

#2060 [ffigen] Protocol polish
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/test/native_objc_test/protocol_config.yaml
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/ffigen/test/native_objc_test/util.dart
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/src/protocol.h
  pkgs/objective_c/src/protocol.m
Labels: package:ffigen, skip-changelog-check, package:objective_c

#2084 [native_assets_builder] add `WINDIR` and `SYSTEMDRIVE` to allowed env list
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
Labels: package:native_assets_builder

#2071 [native_assets_cli] Generate syntax from schemas
  .github/workflows/hook.yaml
  pkgs/hook/tool/generate.dart
  pkgs/native_assets_cli/lib/src/code_assets/architecture.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/os.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/test/build_config_test.dart
Labels: type-infra, package:native_assets_cli

#2083 [ffigen] Prepare to publish v18
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/os_version.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/os_version_test.dart
Labels: package:ffigen, package:objective_c

#2089 [native_assets_builder] Refactor API to `ProtocolExtension`s
  pkgs/native_assets_builder/lib/native_assets_builder.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_dependencies_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_asset_id_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_build_output_format_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_cycle_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_failure_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_reusability_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_shared_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/concurrency_test_helper.dart
  pkgs/native_assets_builder/test/build_runner/conflicting_dylib_test.dart
  pkgs/native_assets_builder/test/build_runner/fail_on_os_sdk_version_test.dart
  pkgs/native_assets_builder/test/build_runner/helpers.dart
  pkgs/native_assets_builder/test/build_runner/link_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/link_test.dart
  pkgs/native_assets_builder/test/build_runner/metadata_test.dart
  pkgs/native_assets_builder/test/build_runner/packaging_preference_test.dart
  pkgs/native_assets_builder/test/build_runner/resources_test.dart
  pkgs/native_assets_builder/test/build_runner/system_library_test.dart
  pkgs/native_assets_builder/test/build_runner/version_skew_test.dart
  pkgs/native_assets_builder/test/build_runner/wrong_linker_test.dart
  pkgs/native_assets_cli/lib/code_assets_builder.dart
  pkgs/native_assets_cli/lib/data_assets_builder.dart
  pkgs/native_assets_cli/lib/native_assets_cli_builder.dart
  pkgs/native_assets_cli/lib/src/code_assets/extension.dart
  pkgs/native_assets_cli/lib/src/code_assets/testing.dart
  pkgs/native_assets_cli/lib/src/data_assets/extension.dart
  pkgs/native_assets_cli/lib/src/extension.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/validation_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#2096 [native_toolchain_c] Forced includes
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/ctool.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/testfiles/defines/src/defines.c
  pkgs/native_toolchain_c/test/cbuilder/testfiles/defines/src/forcedInclude.c
Labels: package:native_toolchain_c

#2082 [jnigen] Generate classes in Java SDK without providing path
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/Main.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmSummarizer.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/ClassFinder.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/FileInputStreamProvider.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/InputStreamProvider.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/JarEntryInputStreamProvider.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/JavaCoreClassFinder.java
  pkgs/jnigen/test/java_core_generation_test.dart
  pkgs/jnigen/test/test_util/test_util.dart
Labels: package:jnigen

#2101 [native_assets_cli] Separate out `json_syntax_generator` into separate package
  pkgs/hook/pubspec.yaml
  pkgs/hook/test/schema/helpers.dart
  pkgs/hook/tool/generate_schemas.dart
  pkgs/hook/tool/generate_syntax.dart
  pkgs/json_syntax_generator/README.md
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/json_syntax_generator/lib/json_syntax_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/syntax_generator.dart
  pkgs/json_syntax_generator/lib/src/model/class_info.dart
  pkgs/json_syntax_generator/lib/src/model/dart_type.dart
  pkgs/json_syntax_generator/lib/src/model/property_info.dart
  pkgs/json_syntax_generator/lib/src/model/schema_info.dart
  pkgs/json_syntax_generator/lib/src/model/utils.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/json_syntax_generator/pubspec.yaml
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
Labels: type-infra, package:native_assets_cli, autosubmit

#2105 [native_assets_cli] Fix download_asset example
  .github/workflows/native.yaml
  pkgs/native_assets_cli/example/build/download_asset/hook/build.dart
Labels: type-infra, package:native_assets_cli

#2107 [native_assets_cli] Add paths to syntax views
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/native_assets_cli/lib/src/code_assets/c_compiler_config.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_assets_cli/test/link_input_test.dart
Labels: package:native_assets_cli, autosubmit

#2112 [native_assets_builder] Fix env var typo
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
Labels: package:native_assets_builder

#2113 [native_assets_cli] Validate assets for linking
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
Labels: package:native_assets_cli, autosubmit

#2115 [native_assets_cli] Syntax validation
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/json_syntax_generator/lib/src/model/property_info.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_assets_cli/lib/src/extension.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/lib/src/validation.dart
Labels: package:native_assets_cli

#2116 [native_assets_cli] Fix syntax required fields
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
Labels: package:native_assets_cli, autosubmit

#2120 [native_assets_cli] Add more info to generated files
  pkgs/hook/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/generator/syntax_generator.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
Labels: package:native_assets_cli, autosubmit

#2117 [native_assets_cli] Publish 0.12.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#2118 [native_toolchain_c] Publish 0.9.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2119 [native_assets_builder] Publish 0.12.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check

#2122 [infra] Flip `native_x` packages back to wip
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_assets_cli/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, package:native_toolchain_c, package:native_assets_builder

#2123 [native_assets_cli] Validate tagged union syntax
  pkgs/hook/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/model/class_info.dart
  pkgs/json_syntax_generator/lib/src/model/property_info.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
Labels: package:native_assets_cli

#2126 [native_assets_cli] Validate conditionally required fields
  pkgs/json_syntax_generator/lib/src/generator/helper_library.dart
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/generator/property_generator.dart
  pkgs/json_syntax_generator/lib/src/model/class_info.dart
  pkgs/json_syntax_generator/lib/src/model/property_info.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
Labels: package:native_assets_cli, autosubmit

#2128 [native_assets_cli] Fix snake casing in JSON
  pkgs/code_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hook/doc/schema/hook/shared_definitions.schema.json
  pkgs/hook/doc/schema/sdk/shared_definitions.schema.json
  pkgs/hook/doc/schema/shared/shared_definitions.schema.json
  pkgs/hook/test/data/build_output.json
  pkgs/hook/test/schema/helpers.dart
  pkgs/hook/tool/generate_schemas.dart
  pkgs/hook/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/link_mode_preference.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
Labels: package:native_assets_cli, autosubmit

#2129 [native_assets_cli] Use JSON enums where applicable
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
Labels: package:native_assets_cli, autosubmit

#2130 [native_assets_cli] Deprecate `output_directory`
  pkgs/hook/doc/schema/hook/shared_definitions.schema.json
  pkgs/hook/doc/schema/sdk/shared_definitions.schema.json
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_caching_test.dart
  pkgs/native_assets_builder/test/build_runner/build_runner_test.dart
  pkgs/native_assets_builder/test/test_data/native_dynamic_linking_test.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/link_input_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#2131 [native_assets_cli] Prevent `EncodedAsset` and `Metadata` hashcode changing
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/metadata.dart
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/model/metadata_test.dart
Labels: package:native_assets_cli, autosubmit

#2133 [native_assets_cli] Nest `config` extensions
  pkgs/code_assets/doc/schema/hook/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/hook/shared_definitions.schema.json
  pkgs/code_assets/doc/schema/sdk/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/sdk/shared_definitions.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_input_android.json
  pkgs/code_assets/test/data/build_input_ios.json
  pkgs/code_assets/test/data/build_input_linux.json
  pkgs/code_assets/test/data/build_input_macos.json
  pkgs/code_assets/test/data/build_input_windows.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/hook/doc/schema/shared/shared_definitions.schema.json
  pkgs/hook/tool/generate_schemas.dart
  pkgs/hook/tool/generate_syntax.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/hook/syntax.g.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
Labels: package:native_assets_cli, autosubmit

#2134 [native_assets_cli] Remove manual sorting
  pkgs/hook/tool/generate_syntax.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
Labels: package:native_assets_cli, autosubmit

#2136 [native_assets_cli] Rename `package:hook` to `package:hooks`
  .github/workflows/hooks.yaml
  pkgs/code_assets/doc/schema/README.md
  pkgs/code_assets/doc/schema/hook/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/sdk/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/pubspec.yaml
  pkgs/code_assets/test/schema/helpers.dart
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/README.md
  pkgs/data_assets/doc/schema/hook/shared_definitions.generated.schema.json
  pkgs/data_assets/doc/schema/sdk/shared_definitions.generated.schema.json
  pkgs/data_assets/doc/schema/shared/shared_definitions.generated.schema.json
  pkgs/data_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/data_assets/pubspec.yaml
  pkgs/data_assets/test/schema/helpers.dart
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks/doc/schema/README.md
  pkgs/hooks/doc/schema/hook/build_input.generated.schema.json
  pkgs/hooks/doc/schema/hook/build_output.generated.schema.json
  pkgs/hooks/doc/schema/hook/link_input.generated.schema.json
  pkgs/hooks/doc/schema/hook/link_output.generated.schema.json
  pkgs/hooks/doc/schema/hook/shared_definitions.generated.schema.json
  pkgs/hooks/doc/schema/hook/shared_definitions.schema.json
  pkgs/hooks/doc/schema/sdk/build_input.generated.schema.json
  pkgs/hooks/doc/schema/sdk/build_output.generated.schema.json
  pkgs/hooks/doc/schema/sdk/link_input.generated.schema.json
  pkgs/hooks/doc/schema/sdk/link_output.generated.schema.json
  pkgs/hooks/doc/schema/sdk/shared_definitions.generated.schema.json
  pkgs/hooks/doc/schema/sdk/shared_definitions.schema.json
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/test/data/build_input.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/build_output_windows.json
  pkgs/hooks/test/data/link_input.json
  pkgs/hooks/test/data/link_output.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/hooks/test/schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/lib/src/validation.dart
Labels: type-infra, package:native_assets_cli, autosubmit

#2137 [native_assets_cli] Nest `Asset` `encoding`s
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/build_output_android.json
  pkgs/code_assets/test/data/build_output_linux.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/data/build_output_windows.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/code_assets/test/data/link_output_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/data/link_input.json
  pkgs/data_assets/test/data/link_output.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/build_output_windows.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/hooks/tool/normalize.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/validation.dart
  pkgs/native_assets_cli/lib/src/encoded_asset.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/code_assets/code_asset_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/code_assets/validation_test.dart
  pkgs/native_assets_cli/test/data_assets/data_asset_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
  pkgs/native_assets_cli/test/model/asset_test.dart
Labels: package:native_assets_cli

#2138 [native_assets_cli] Remove `CodeAsset` `os` and `architecture` getters
  pkgs/native_assets_builder/test_data/add_asset_link/hook/link.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/validation.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#2142 [native_assets_cli] Namespace asset types
  pkgs/code_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/code_assets/test/data/link_input_macos.json
  pkgs/code_assets/test/schema/schema_test.dart
  pkgs/data_assets/doc/schema/shared/shared_definitions.schema.json
  pkgs/data_assets/test/data/link_input.json
  pkgs/data_assets/test/schema/schema_test.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
  pkgs/native_assets_cli/lib/src/code_assets/code_asset.dart
  pkgs/native_assets_cli/lib/src/code_assets/config.dart
  pkgs/native_assets_cli/lib/src/code_assets/extension.dart
  pkgs/native_assets_cli/lib/src/code_assets/syntax.g.dart
  pkgs/native_assets_cli/lib/src/data_assets/config.dart
  pkgs/native_assets_cli/lib/src/data_assets/data_asset.dart
  pkgs/native_assets_cli/lib/src/data_assets/extension.dart
  pkgs/native_assets_cli/lib/src/data_assets/syntax.g.dart
  pkgs/native_assets_cli/test/checksum_test.dart
  pkgs/native_assets_cli/test/code_assets/code_asset_test.dart
  pkgs/native_assets_cli/test/code_assets/config_test.dart
  pkgs/native_assets_cli/test/data_assets/data_asset_test.dart
Labels: package:native_assets_cli, autosubmit

#2143 [native_assets_cli] Stop reading `version`
  pkgs/hooks/doc/schema/sdk/shared_definitions.schema.json
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/test/schema/helpers.dart
  pkgs/native_assets_builder/lib/src/build_runner/build_runner.dart
  pkgs/native_assets_builder/test/build_runner/version_skew_test.dart
  pkgs/native_assets_cli/lib/native_assets_cli_internal.dart
  pkgs/native_assets_cli/lib/src/config.dart
  pkgs/native_assets_cli/lib/src/hooks/syntax.g.dart
  pkgs/native_assets_cli/lib/src/model/build_config_CHANGELOG.md
  pkgs/native_assets_cli/lib/src/model/hook_config_CHANGELOG.md
  pkgs/native_assets_cli/test/build_input_test.dart
  pkgs/native_assets_cli/test/build_output_test.dart
  pkgs/native_assets_cli/test/link_input_test.dart
  pkgs/native_assets_cli/test/link_output_test.dart
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder

#2146 [native_assets_cli] Publish 0.13.0
  pkgs/native_assets_cli/CHANGELOG.md
  pkgs/native_assets_cli/pubspec.yaml
Labels: package:native_assets_cli

#2147 [native_toolchain_c] Publish 0.10.0
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/complex_link_helper/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_1/pubspec.yaml
  pkgs/native_assets_builder/test_data/cyclic_package_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_build/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_asset_for_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_reading_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/package_with_metadata/pubspec.yaml
  pkgs/native_assets_builder/test_data/relative_path/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_data_asset/pubspec.yaml
  pkgs/native_assets_builder/test_data/simple_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/transformer/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_builder/test_data/use_all_api/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_linker/pubspec.yaml
  pkgs/native_assets_builder/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/local_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
  pkgs/native_assets_cli/example/link/package_with_assets/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder, skip-changelog-check

#2148 [native_assets_builder] Publish 0.13.0
  pkgs/native_assets_builder/CHANGELOG.md
  pkgs/native_assets_builder/pubspec.yaml
  pkgs/native_assets_builder/test_data/add_asset_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/drop_dylib_link/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_add_source/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_add_duplicate/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_builder/test_data/native_subtract/pubspec.yaml
  pkgs/native_assets_builder/test_data/no_hook/pubspec.yaml
  pkgs/native_assets_builder/test_data/system_library/pubspec.yaml
  pkgs/native_assets_builder/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/native_assets_cli/example/build/download_asset/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_add_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/native_assets_cli/example/build/system_library/pubspec.yaml
  pkgs/native_assets_cli/example/build/use_dart_api/pubspec.yaml
Labels: package:native_assets_cli, autosubmit, package:native_assets_builder, skip-changelog-check
