Repository dart-lang/native, pull requests merged in 2025-05, with the labels that each got.

#2260 [hooks] Publish 0.19.0
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_1/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_2/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, package:data_assets, package:code_assets

#2263 [infra] Fix package_download_asset workflow
  .github/workflows/package_download_asset.yaml
Labels: type-infra

#2266 [hooks_runner] Remove `package_graph.json` fallback
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/json_syntax_generator/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2255 [jnigen] Fix generic subinterfaces not specifying full type params
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/regressions/R2250.java
  pkgs/jnigen/test/simple_package_test/runtime_test_registrant.dart
Labels: package:jnigen

#2268 [hooks] Document main functions for library
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/lib/hooks.dart
  pkgs/hooks/pubspec.yaml
Labels: package:hooks, skip-breaking-check

#2234 [objective_c] Collections support for `NS[Mutable]Dictionary` and `NS[Mutable]Set`
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/nsdictionary_test.dart
  pkgs/objective_c/test/nsmutabledictionary_test.dart
  pkgs/objective_c/test/nsmutableset_test.dart
  pkgs/objective_c/test/nsset_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
Labels: package:objective_c

#2258 [objective_c] Add conversions between `NSDate` and `DateTime`
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/ns_date.dart
  pkgs/objective_c/test/nsdate_test.dart
  pkgs/objective_c/test/nsnumber_test.dart
Labels: package:objective_c

#2271 [jnigen] Generate Kotlin stdlib classes without providing path
  .github/workflows/jnigen.yaml
  pkgs/jni/java/build.gradle.kts
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/build.gradle.kts
  pkgs/jnigen/java/pom.xml
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/Main.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/disasm/AsmAnnotationVisitor.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/CoreClassFinder.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/util/JavaCoreClassFinder.java
  pkgs/jnigen/java/src/test/java/com/github/dart_lang/jnigen/apisummarizer/JSONComparisonTest.java
  pkgs/jnigen/java/src/test/resources/com/example/Example.java
  pkgs/jnigen/java/src/test/resources/exampleClassSummary.json
  pkgs/jnigen/test/core_class_generation_test.dart
  pkgs/jnigen/test/java_core_generation_test.dart
Labels: type-infra, package:jnigen, package:jni

#2275 [hooks] Fix normalize tool and enable on CI
  .github/workflows/native.yaml
  pkgs/hooks/example/link/package_with_assets/assets/unused_asset.json
  pkgs/hooks/example/link/package_with_assets/assets/used_asset.json
  pkgs/hooks/tool/normalize.dart
Labels: type-infra, package:hooks, skip-breaking-check

#2278 [hooks] Unify the generators
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check

#2277 [infra] Enable running tests from root
  pkgs/hooks/test/helpers.dart
  pkgs/hooks/test/schema/helpers.dart
  pkgs/hooks_runner/test/helpers.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:hooks, autosubmit, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check

#2276 [hooks_runner] Fix analysis in test projects
  pkgs/hooks_runner/test_data/native_add_version_skew/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/analysis_options.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/pubspec.yaml
Labels: package:hooks_runner, skip-breaking-check, skip-changelog-check

#2279 [infra] Enable running CI checks locally
  .github/workflows/native.yaml
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/helpers.dart
  pkgs/json_syntax_generator/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
  tool/ci.dart
Labels: type-infra, package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2280 [objective_c] Add `toObjCObject` and `toDartObject`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/converter.dart
  pkgs/objective_c/lib/src/ns_number.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/ns_number.h
  pkgs/objective_c/src/ns_number.m
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/converter_test.dart
  pkgs/objective_c/test/nsnumber_test.dart
  pkgs/objective_c/test/setup.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
Labels: package:ffigen, package:objective_c

#2287 [hooks] Error outputs and exit codes
  pkgs/code_assets/test/data/build_output_android.json
  pkgs/code_assets/test/data/build_output_linux.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/data/build_output_windows.json
  pkgs/code_assets/test/data/link_output_macos.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/data/link_output.json
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/lib/hooks.dart
  pkgs/hooks/lib/src/api/build.dart
  pkgs/hooks/lib/src/api/build_and_link.dart
  pkgs/hooks/lib/src/api/builder.dart
  pkgs/hooks/lib/src/api/link.dart
  pkgs/hooks/lib/src/api/linker.dart
  pkgs/hooks/lib/src/config.dart
  pkgs/hooks/lib/src/hooks/syntax.g.dart
  pkgs/hooks/test/build_output_test.dart
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/build_output_windows.json
  pkgs/hooks/test/data/link_output.json
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/lib/src/build_runner/failure.dart
  pkgs/hooks_runner/test/build_runner/absolute_path_test.dart
  pkgs/hooks_runner/test/build_runner/build_dependencies_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_asset_id_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_build_output_format_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_caching_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_cycle_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_failure_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_test.dart
  pkgs/hooks_runner/test/build_runner/conflicting_dylib_test.dart
  pkgs/hooks_runner/test/build_runner/helpers.dart
  pkgs/hooks_runner/test/build_runner/link_caching_test.dart
  pkgs/hooks_runner/test/build_runner/link_test.dart
  pkgs/hooks_runner/test/build_runner/packaging_preference_test.dart
  pkgs/hooks_runner/test/build_runner/pub_workspace_test.dart
  pkgs/hooks_runner/test/build_runner/resources_test.dart
  pkgs/hooks_runner/test/build_runner/system_library_test.dart
  pkgs/hooks_runner/test/build_runner/version_skew_test.dart
  pkgs/hooks_runner/test/build_runner/wrong_linker_test.dart
  pkgs/hooks_runner/test/test_data/reusable_dynamic_library_test.dart
  pkgs/hooks_runner/test/test_data/user_defines_test.dart
  pkgs/hooks_runner/test_data/infra_failure/bin/infra_failure.dart
  pkgs/hooks_runner/test_data/infra_failure/hook/build.dart
  pkgs/hooks_runner/test_data/infra_failure/pubspec.yaml
  pkgs/hooks_runner/test_data/manifest.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/manifest.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/manifest.yaml
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
Labels: package:hooks, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2286 [hooks] Avoid name clash in syntax generator
  pkgs/code_assets/lib/src/code_assets/syntax.g.dart
  pkgs/code_assets/test/data/build_output_android.json
  pkgs/code_assets/test/data/build_output_linux.json
  pkgs/code_assets/test/data/build_output_macos.json
  pkgs/code_assets/test/data/build_output_windows.json
  pkgs/code_assets/test/data/link_output_macos.json
  pkgs/data_assets/test/data/build_output.json
  pkgs/data_assets/test/data/link_output.json
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/doc/schema/shared/shared_definitions.schema.json
  pkgs/hooks/lib/hooks.dart
  pkgs/hooks/lib/src/api/build.dart
  pkgs/hooks/lib/src/api/build_and_link.dart
  pkgs/hooks/lib/src/api/builder.dart
  pkgs/hooks/lib/src/api/link.dart
  pkgs/hooks/lib/src/api/linker.dart
  pkgs/hooks/lib/src/config.dart
  pkgs/hooks/lib/src/hooks/syntax.g.dart
  pkgs/hooks/test/build_output_test.dart
  pkgs/hooks/test/data/build_output.json
  pkgs/hooks/test/data/build_output_windows.json
  pkgs/hooks/test/data/link_output.json
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/lib/src/build_runner/failure.dart
  pkgs/hooks_runner/test/build_runner/absolute_path_test.dart
  pkgs/hooks_runner/test/build_runner/build_dependencies_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_asset_id_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_build_output_format_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_caching_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_cycle_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_failure_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_non_root_package_test.dart
  pkgs/hooks_runner/test/build_runner/build_runner_test.dart
  pkgs/hooks_runner/test/build_runner/conflicting_dylib_test.dart
  pkgs/hooks_runner/test/build_runner/helpers.dart
  pkgs/hooks_runner/test/build_runner/link_caching_test.dart
  pkgs/hooks_runner/test/build_runner/link_test.dart
  pkgs/hooks_runner/test/build_runner/packaging_preference_test.dart
  pkgs/hooks_runner/test/build_runner/pub_workspace_test.dart
  pkgs/hooks_runner/test/build_runner/resources_test.dart
  pkgs/hooks_runner/test/build_runner/system_library_test.dart
  pkgs/hooks_runner/test/build_runner/version_skew_test.dart
  pkgs/hooks_runner/test/build_runner/wrong_linker_test.dart
  pkgs/hooks_runner/test/test_data/reusable_dynamic_library_test.dart
  pkgs/hooks_runner/test/test_data/user_defines_test.dart
  pkgs/hooks_runner/test_data/infra_failure/bin/infra_failure.dart
  pkgs/hooks_runner/test_data/infra_failure/hook/build.dart
  pkgs/hooks_runner/test_data/infra_failure/pubspec.yaml
  pkgs/hooks_runner/test_data/manifest.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew/manifest.yaml
  pkgs/hooks_runner/test_data/native_add_version_skew_2/manifest.yaml
  pkgs/json_syntax_generator/lib/src/generator/normal_class_generator.dart
  pkgs/json_syntax_generator/lib/src/parser/schema_analyzer.dart
Labels: package:hooks, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2294 [hooks_runner] No hooks performance trace
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/test/build_runner/build_planner_test.dart
Labels: package:hooks_runner, skip-breaking-check, skip-changelog-check

#2293 [objective_c] CFString conversions
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/cf_string.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/test/cf_string_test.dart
Labels: package:ffigen, package:objective_c

#2302 [hooks_runner] Optimize the no hooks path
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/lib/src/model/kernel_assets.dart
  pkgs/hooks_runner/lib/src/utils/yaml.dart
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test/model/kernel_assets_test.dart
Labels: autosubmit, package:hooks_runner, skip-breaking-check, skip-changelog-check

#2304 [native_doc_dartifier] Add initial skeleton
  .github/labeler.yml
  .github/pr-title-checker-config.json
  README.md
  pkgs/native_doc_dartifier/.gitignore
  pkgs/native_doc_dartifier/CHANGELOG.md
  pkgs/native_doc_dartifier/LICENSE
  pkgs/native_doc_dartifier/README.md
  pkgs/native_doc_dartifier/analysis_options.yaml
  pkgs/native_doc_dartifier/example/native_doc_dartifier_example.dart
  pkgs/native_doc_dartifier/lib/native_doc_dartifier.dart
  pkgs/native_doc_dartifier/lib/src/native_doc_dartifier_base.dart
  pkgs/native_doc_dartifier/pubspec.yaml
  pkgs/native_doc_dartifier/test/native_doc_dartifier_test.dart
Labels: type-infra

#2298 [ffigen] Switch to named params for ObjC methods
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart.m
  pkgs/ffigen/example/objective_c/play_audio.dart
  pkgs/ffigen/example/swift/example.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart
  pkgs/ffigen/example/swift/swift_api_bindings.dart.m
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/example_tests/objective_c_example_test.dart
  pkgs/ffigen/test/native_objc_test/arc_test.dart
  pkgs/ffigen/test/native_objc_test/bad_method_test.dart
  pkgs/ffigen/test/native_objc_test/bad_override_test.dart
  pkgs/ffigen/test/native_objc_test/block_annotation_test.dart
  pkgs/ffigen/test/native_objc_test/block_inherit_test.dart
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/category_test.dart
  pkgs/ffigen/test/native_objc_test/method_test.dart
  pkgs/ffigen/test/native_objc_test/native_objc_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_inheritance_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.dart
  pkgs/ffigen/test/native_objc_test/nullable_test.m
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/ref_count_test.dart
  pkgs/ffigen/test/native_objc_test/rename_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_native_test.dart
  pkgs/ffigen/test/native_objc_test/static_func_test.dart
  pkgs/ffigen/test/native_objc_test/string_test.dart
  pkgs/ffigen/test/native_objc_test/swift_class_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/ns_data.dart
  pkgs/objective_c/lib/src/ns_date.dart
  pkgs/objective_c/lib/src/ns_input_stream.dart
  pkgs/objective_c/lib/src/ns_mutable_data.dart
  pkgs/objective_c/lib/src/ns_number.dart
  pkgs/objective_c/lib/src/ns_string.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/test/ns_input_stream_test.dart
  pkgs/objective_c/test/ns_mutable_data_test.dart
  pkgs/objective_c/test/nsdata_test.dart
  pkgs/objective_c/test/nsdate_test.dart
  pkgs/objective_c/test/nsdictionary_test.dart
  pkgs/objective_c/test/nsset_test.dart
  pkgs/objective_c/test/selector_test.dart
  pkgs/objective_c/tool/data/extra_methods.dart.in
Labels: package:ffigen, package:objective_c

#2303 [hooks_runner] [hooks] [native_toolchain_c] Publish
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_1/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_2/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2310 [hooks] Isolate `package:json_schema` use
  pkgs/code_assets/pubspec.yaml
  pkgs/code_assets/test/json_schema/helpers.dart
  pkgs/code_assets/test/json_schema/schema_test.dart
  pkgs/data_assets/pubspec.yaml
  pkgs/data_assets/test/json_schema/helpers.dart
  pkgs/data_assets/test/json_schema/schema_test.dart
  pkgs/hooks/pubspec.yaml
  pkgs/hooks/test/json_schema/helpers.dart
  pkgs/hooks/test/json_schema/schema_test.dart
  pkgs/hooks/tool/generate_schemas.dart
  pkgs/hooks/tool/generate_syntax.dart
  pkgs/hooks/tool/normalize.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2308 [native_doc_dartifier] initial readme
  pkgs/native_doc_dartifier/README.md
Labels: package:native_doc_dartifier

#2316 [infra] Support collecting coverage for multiple packages at once
  tool/ci.dart
Labels: autosubmit, skip-breaking-check, skip-changelog-check

#2313 [hooks] Clarify that a build/link hook *must* call `build`/`link`.
  pkgs/hooks/lib/src/api/build_and_link.dart
Labels: package:hooks, skip-breaking-check, skip-changelog-check

#2318 [native_toolchain_c] [code_assets] [data_assets] Fix `dartdoc` on pub.dev
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_toolchain_c/CHANGELOG.md
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2321 [hooks] [code_assets] Update README
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/README.md
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/README.md
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/README.md
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_1/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_2/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2322 [hooks] [code_assets] Update README part 2
  pkgs/code_assets/CHANGELOG.md
  pkgs/code_assets/README.md
  pkgs/code_assets/pubspec.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/pubspec.yaml
  pkgs/hooks/CHANGELOG.md
  pkgs/hooks/README.md
  pkgs/hooks/example/build/download_asset/pubspec.yaml
  pkgs/hooks/example/build/local_asset/pubspec.yaml
  pkgs/hooks/example/build/native_add_library/pubspec.yaml
  pkgs/hooks/example/build/native_dynamic_linking/pubspec.yaml
  pkgs/hooks/example/build/system_library/pubspec.yaml
  pkgs/hooks/example/build/use_dart_api/pubspec.yaml
  pkgs/hooks/example/link/package_with_assets/pubspec.yaml
  pkgs/hooks/pubspec.yaml
  pkgs/hooks_runner/pubspec.yaml
  pkgs/hooks_runner/test_data/add_asset_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link/pubspec.yaml
  pkgs/hooks_runner/test_data/complex_link_helper/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_1/pubspec.yaml
  pkgs/hooks_runner/test_data/cyclic_package_2/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/depend_on_fail_build_app/pubspec.yaml
  pkgs/hooks_runner/test_data/drop_dylib_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_build/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_link/pubspec.yaml
  pkgs/hooks_runner/test_data/fail_on_os_sdk_version_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_add_source/pubspec.yaml
  pkgs/hooks_runner/test_data/native_add_duplicate/pubspec.yaml
  pkgs/hooks_runner/test_data/native_dynamic_linking/pubspec.yaml
  pkgs/hooks_runner/test_data/native_subtract/pubspec.yaml
  pkgs/hooks_runner/test_data/no_asset_for_link/pubspec.yaml
  pkgs/hooks_runner/test_data/no_hook/pubspec.yaml
  pkgs/hooks_runner/test_data/package_reading_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/package_with_metadata/pubspec.yaml
  pkgs/hooks_runner/test_data/relative_path/pubspec.yaml
  pkgs/hooks_runner/test_data/reusable_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/reuse_dynamic_library/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_data_asset/pubspec.yaml
  pkgs/hooks_runner/test_data/simple_link/pubspec.yaml
  pkgs/hooks_runner/test_data/system_library/pubspec.yaml
  pkgs/hooks_runner/test_data/transformer/pubspec.yaml
  pkgs/hooks_runner/test_data/treeshaking_native_libs/pubspec.yaml
  pkgs/hooks_runner/test_data/use_all_api/pubspec.yaml
  pkgs/hooks_runner/test_data/user_defines/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_2/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_build_output_3/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_linker/pubspec.yaml
  pkgs/hooks_runner/test_data/wrong_namespace_asset/pubspec.yaml
  pkgs/native_toolchain_c/pubspec.yaml
Labels: package:hooks, autosubmit, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, package:data_assets, package:code_assets

#2325 [jni] Fix nullable JCollections
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/src/util/jlist.dart
  pkgs/jni/lib/src/util/jmap.dart
  pkgs/jni/lib/src/util/jset.dart
  pkgs/jni/pubspec.yaml
  pkgs/jni/test/jlist_test.dart
  pkgs/jni/test/jmap_test.dart
  pkgs/jni/test/jset_test.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni

#2327 [hooks_runner] Add `TimelineEvents`
  pkgs/hooks_runner/CHANGELOG.md
  pkgs/hooks_runner/lib/src/build_runner/build_planner.dart
  pkgs/hooks_runner/lib/src/build_runner/build_runner.dart
  pkgs/hooks_runner/lib/src/build_runner/tracing_file_system.dart
  pkgs/hooks_runner/lib/src/dependencies_hash_file/dependencies_hash_file.dart
  pkgs/hooks_runner/lib/src/utils/run_process.dart
  pkgs/hooks_runner/pubspec.yaml
Labels: autosubmit, package:hooks_runner, skip-breaking-check

#2328 [infra] Try uploading combined coverage
  .github/workflows/ffigen.yml
  .github/workflows/jnigen.yaml
  .github/workflows/native.yaml
  .github/workflows/objective_c.yaml
  .github/workflows/swift2objc.yaml
  pkgs/code_assets/analysis_options.yaml
  pkgs/data_assets/CHANGELOG.md
  pkgs/data_assets/analysis_options.yaml
  pkgs/hooks/analysis_options.yaml
  pkgs/hooks_runner/analysis_options.yaml
  pkgs/json_syntax_generator/analysis_options.yaml
  pkgs/native_toolchain_c/analysis_options.yaml
  pkgs/repo_lint_rules/analysis_options.yaml
Labels: type-infra, package:hooks, package:native_toolchain_c, package:hooks_runner, skip-breaking-check, skip-changelog-check, publish-ignore-warnings, package:data_assets, package:code_assets
