Repository dart-lang/native, pull requests merged in 2025-02, with the labels that each got.

#1963 [swift2objc] Support async initializers and properties
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_initializer_declaration.dart
  pkgs/swift2objc/lib/src/parser/parsers/declaration_parsers/parse_variable_declaration.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_compound.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_initializer.dart
  pkgs/swift2objc/lib/src/transformer/transformers/transform_variable.dart
  pkgs/swift2objc/test/integration/async_init_input.swift
  pkgs/swift2objc/test/integration/async_init_output.swift
  pkgs/swift2objc/test/integration/async_prop_input.swift
  pkgs/swift2objc/test/integration/async_prop_output.swift
Labels: package:swift2objc

#1957 [ffigen] Handle ConstantArray in Global
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/test/code_generator_tests/expected_bindings/_expected_global_bindings.dart
  pkgs/ffigen/test/header_parser_tests/globals.h
  pkgs/ffigen/test/header_parser_tests/globals_test.dart
  pkgs/ffigen/test/native_test/_expected_native_test_bindings.dart
  pkgs/ffigen/test/native_test/native_test.c
  pkgs/ffigen/test/native_test/native_test.dart
  pkgs/ffigen/test/native_test/native_test.def
Labels: package:ffigen

#1965 [infra] Configure dependabot commit messages
  .github/dependabot.yaml
Labels: type-infra, autosubmit

#1959 [ffigen] ObjC `id<Foo>` -> Dart `Foo`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/imports.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/pointer.dart
  pkgs/ffigen/lib/src/header_parser/clang_bindings/clang_bindings.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/type_extractor/extractor.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.h
  pkgs/ffigen/test/native_objc_test/protocol_test.m
  pkgs/ffigen/test/native_objc_test/transitive_test.dart
  pkgs/ffigen/test/unit_tests/subtyping_test.dart
  pkgs/ffigen/tool/libclang_config.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/test/interface_lists_test.dart
  pkgs/objective_c/test/ns_input_stream_test.dart
Labels: package:ffigen, skip-changelog-check, package:objective_c

#1969 [jnigen] Support Kotlin operators
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/KotlinFunction.java
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/pubspec.yaml
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/Operators.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen

#1970 [jnigen] small fix for renaming constructors
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/elements/j_elements.dart
  pkgs/jnigen/test/user_visitors.dart
Labels: package:jnigen

#1977 [objective_c] `osVersion` API
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/os_version.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c.h
  pkgs/objective_c/src/objective_c.m
  pkgs/objective_c/src/os_version.h
  pkgs/objective_c/test/os_version_test.dart
Labels: package:objective_c

#1982 [native_assets_cli] [test] Print path if temp directory is kept
  pkgs/native_assets_builder/test/helpers.dart
  pkgs/native_assets_cli/lib/test.dart
  pkgs/native_assets_cli/test/helpers.dart
  pkgs/native_toolchain_c/test/helpers.dart
Labels: package:native_assets_cli, autosubmit, package:native_toolchain_c, package:native_assets_builder

#1985 [objective_c] Wrap `Dart_InitializeApiDL` in `DOBJC_InitializeApi`
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/objective_c.c
  pkgs/objective_c/src/objective_c.h
Labels: package:objective_c

#1981 [jnigen] Add doc about lifecycle of Java objects
  pkgs/jnigen/dartdoc_options.yaml
  pkgs/jnigen/doc/interface_implementation.md
  pkgs/jnigen/doc/lifecycle.md
Labels: package:jnigen, skip-changelog-check

#1989 [ffigen] Update examples after #1898 broke them
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart
  pkgs/ffigen/example/objective_c/avf_audio_bindings.dart.m
  pkgs/ffigen/example/objective_c/play_audio.dart
  pkgs/ffigen/example/swift/example.dart
Labels: skip-changelog-check

#1988 [ffigen] Add external-versions.*.max
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/compound.dart
  pkgs/ffigen/lib/src/code_generator/constant.dart
  pkgs/ffigen/lib/src/code_generator/enum_class.dart
  pkgs/ffigen/lib/src/code_generator/func.dart
  pkgs/ffigen/lib/src/code_generator/global.dart
  pkgs/ffigen/lib/src/code_generator/objc_category.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/typealias.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/config_provider/config_types.dart
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/api_availability.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/functiondecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objccategorydecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/unnamed_enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/utils.dart
  pkgs/ffigen/lib/src/strings.dart
  pkgs/ffigen/lib/src/visitor/apply_config_filters.dart
  pkgs/ffigen/lib/src/visitor/list_bindings.dart
  pkgs/ffigen/test/native_objc_test/deprecated_test.dart
  pkgs/ffigen/test/unit_tests/api_availability_test.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
Labels: package:ffigen, package:objective_c

#1991 [native_toolchain_c] Format with tall style
  pkgs/native_toolchain_c/lib/src/cbuilder/build_mode.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/cbuilder.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/clinker.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/compiler_resolver.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/language.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linker_options.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/linkmode.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/optimization_level.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/output_type.dart
  pkgs/native_toolchain_c/lib/src/cbuilder/run_cbuilder.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/android_ndk.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/clang.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/gcc.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/msvc.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/recognizer.dart
  pkgs/native_toolchain_c/lib/src/native_toolchain/xcode.dart
  pkgs/native_toolchain_c/lib/src/tool/tool.dart
  pkgs/native_toolchain_c/lib/src/tool/tool_instance.dart
  pkgs/native_toolchain_c/lib/src/tool/tool_requirement.dart
  pkgs/native_toolchain_c/lib/src/tool/tool_resolver.dart
  pkgs/native_toolchain_c/lib/src/utils/run_process.dart
  pkgs/native_toolchain_c/lib/src/utils/sem_version.dart
  pkgs/native_toolchain_c/pubspec.yaml
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_build_failure_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_android_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_ios_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_linux_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_macos_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_cross_windows_host_test.dart
  pkgs/native_toolchain_c/test/cbuilder/cbuilder_test.dart
  pkgs/native_toolchain_c/test/cbuilder/compiler_resolver_test.dart
  pkgs/native_toolchain_c/test/cbuilder/objective_c_test.dart
  pkgs/native_toolchain_c/test/clinker/build_testfiles.dart
  pkgs/native_toolchain_c/test/clinker/objects_test.dart
  pkgs/native_toolchain_c/test/clinker/throws_test.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_helper.dart
  pkgs/native_toolchain_c/test/clinker/treeshake_test.dart
  pkgs/native_toolchain_c/test/helpers.dart
  pkgs/native_toolchain_c/test/native_toolchain/apple_clang_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/clang_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/msvc_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/recognizer_test.dart
  pkgs/native_toolchain_c/test/native_toolchain/xcode_test.dart
  pkgs/native_toolchain_c/test/tool/tool_instance_test.dart
  pkgs/native_toolchain_c/test/tool/tool_requirement_test.dart
  pkgs/native_toolchain_c/test/tool/tool_resolver_test.dart
  pkgs/native_toolchain_c/test/tool/tool_test.dart
Labels: autosubmit, package:native_toolchain_c

#1993 [ffi] Format with tall style
  pkgs/ffi/CHANGELOG.md
  pkgs/ffi/lib/src/allocation.dart
  pkgs/ffi/lib/src/arena.dart
  pkgs/ffi/lib/src/utf16.dart
  pkgs/ffi/lib/src/utf8.dart
  pkgs/ffi/pubspec.yaml
  pkgs/ffi/test/allocation_test.dart
  pkgs/ffi/test/arena_test.dart
  pkgs/ffi/test/utf8_test.dart
Labels: autosubmit, package:ffi

#1995 [ffigen] Runtime version checks
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_interface.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/api_availability.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/compounddecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/enumdecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/functiondecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objccategorydecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcinterfacedecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/objcprotocoldecl_parser.dart
  pkgs/ffigen/lib/src/header_parser/sub_parsers/unnamed_enumdecl_parser.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/runtime_version_config.yaml
  pkgs/ffigen/test/native_objc_test/runtime_version_test.dart
  pkgs/ffigen/test/native_objc_test/runtime_version_test.m
  pkgs/ffigen/test/unit_tests/api_availability_test.dart
  pkgs/ffigen/test/unit_tests/subtyping_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/os_version.dart
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2001 [ffigen] Prepare to publish v17
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/pubspec.yaml
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/pubspec.yaml
Labels: package:ffigen, package:objective_c

#2003 [jni] Migrates java source build of jni from using maven to gradle
  pkgs/jni/CHANGELOG.md
  pkgs/jni/bin/setup.dart
  pkgs/jni/java/build.gradle.kts
  pkgs/jni/java/gradle/libs.versions.toml
  pkgs/jni/java/gradle/wrapper/gradle-wrapper.jar
  pkgs/jni/java/gradle/wrapper/gradle-wrapper.properties
  pkgs/jni/java/gradlew
  pkgs/jni/java/gradlew.bat
  pkgs/jni/java/pom.xml
  pkgs/jni/java/settings.gradle.kts
  pkgs/jni/pubspec.yaml
Labels: package:jni

#2008 [native_toolchain_c] Don't fail on uninstalled NDKs
  pkgs/native_toolchain_c/lib/src/native_toolchain/android_ndk.dart
Labels: package:native_toolchain_c

#2007 [ffigen] Add variable substitutions for ObjC SDKs
  pkgs/ffigen/lib/src/config_provider/spec_utils.dart
  pkgs/ffigen/lib/src/config_provider/utils.dart
  pkgs/ffigen/lib/src/header_parser/parser.dart
  pkgs/ffigen/test/native_objc_test/sdk_variable_config.yaml
  pkgs/ffigen/test/native_objc_test/sdk_variable_test.dart
  pkgs/ffigen/test/unit_tests/normalize_path_test.dart
Labels: package:ffigen

#2014 [ffigen] Fix `usrTypeMappings` field of `Config` factory constructor
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/README.md
  pkgs/ffigen/lib/src/config_provider/config.dart
  pkgs/ffigen/pubspec.yaml
Labels: package:ffigen

#2017 [ffigen] Allow blocks and protocols to keep their isolates alive
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/pubspec.yaml
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/pubspec.yaml
  pkgs/objective_c/src/proxy.h
  pkgs/objective_c/src/proxy.m
Labels: package:ffigen, package:objective_c

#2018 [ffigen] Fix flaky test
  pkgs/ffigen/test/native_objc_test/block_test.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
Labels: package:ffigen, skip-changelog-check

#2013 [jnigen] Include superinterface methods
  pkgs/jni/CHANGELOG.md
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/Main.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/doclet/SummarizerDoclet.java
  pkgs/jnigen/java/src/main/java/com/github/dart_lang/jnigen/apisummarizer/elements/ClassDecl.java
  pkgs/jnigen/lib/src/bindings/descriptor.dart
  pkgs/jnigen/lib/src/bindings/excluder.dart
  pkgs/jnigen/lib/src/bindings/kotlin_processor.dart
  pkgs/jnigen/lib/src/bindings/linker.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/lib/src/bindings/visitor.dart
  pkgs/jnigen/lib/src/elements/elements.dart
  pkgs/jnigen/lib/src/elements/elements.g.dart
  pkgs/jnigen/lib/src/elements/j_elements.dart
  pkgs/jnigen/lib/src/generate_bindings.dart
  pkgs/jnigen/test/descriptor_test.dart
  pkgs/jnigen/test/simple_package_test/bindings/simple_package.dart
  pkgs/jnigen/test/simple_package_test/generate.dart
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/inheritance/BaseGenericInterface.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/inheritance/BaseInterface.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/inheritance/DerivedInterface.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/InheritedFromMyInterface.java
  pkgs/jnigen/test/simple_package_test/java/com/github/dart_lang/jnigen/interfaces/InheritedFromMyRunnable.java
  pkgs/jnigen/test/user_visitors.dart
Labels: package:jnigen, package:jni

#2019 [ffigen] Direct protocol method implementation using blocks
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/lib/src/protocol_builder.dart
Labels: package:ffigen, package:objective_c

#2022 [ffigen] Remove experimental ObjC warning
  pkgs/ffigen/lib/src/config_provider/yaml_config.dart
Labels: package:ffigen, skip-changelog-check

#2024 [jni][jnigen] Upgrade Kotlin version to 1.8.10
  pkgs/jni/example/android/settings.gradle
  pkgs/jnigen/android_test_runner/android/settings.gradle
  pkgs/jnigen/example/in_app_java/android/settings.gradle
  pkgs/jnigen/example/kotlin_plugin/example/android/settings.gradle
  pkgs/jnigen/example/notification_plugin/example/android/settings.gradle
  pkgs/jnigen/example/pdfbox_plugin/example/android/settings.gradle
Labels: package:jnigen, package:jni, skip-changelog-check, skip-pr-title-check

#2028 [jnigen] Fix sync `suspend fun`s from hanging
  pkgs/jni/CHANGELOG.md
  pkgs/jni/lib/_internal.dart
  pkgs/jni/lib/src/jni.dart
  pkgs/jni/lib/src/jobject.dart
  pkgs/jni/lib/src/kotlin.dart
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/example/kotlin_plugin/lib/kotlin_bindings.dart
  pkgs/jnigen/lib/src/bindings/dart_generator.dart
  pkgs/jnigen/lib/src/bindings/renamer.dart
  pkgs/jnigen/test/kotlin_test/bindings/kotlin.dart
  pkgs/jnigen/test/kotlin_test/kotlin/src/main/kotlin/com/github/dart_lang/jnigen/SuspendFun.kt
  pkgs/jnigen/test/kotlin_test/runtime_test_registrant.dart
Labels: package:jnigen, package:jni, skip-changelog-check

#2033 [jni] [jnigen] Upgrade source and target compatibility to Java 11
  pkgs/jni/android/build.gradle
  pkgs/jni/example/android/app/build.gradle
  pkgs/jnigen/android_test_runner/android/app/build.gradle
  pkgs/jnigen/example/in_app_java/android/app/build.gradle
  pkgs/jnigen/example/kotlin_plugin/android/build.gradle
  pkgs/jnigen/example/kotlin_plugin/example/android/app/build.gradle
  pkgs/jnigen/example/notification_plugin/android/build.gradle
  pkgs/jnigen/example/notification_plugin/example/android/app/build.gradle
  pkgs/jnigen/example/pdfbox_plugin/android/build.gradle
  pkgs/jnigen/example/pdfbox_plugin/example/android/app/build.gradle
Labels: package:jnigen, package:jni, skip-changelog-check

#2029 [ffigen] Stop using `NSProxy`
  pkgs/ffigen/CHANGELOG.md
  pkgs/ffigen/lib/src/code_generator/objc_block.dart
  pkgs/ffigen/lib/src/code_generator/objc_built_in_functions.dart
  pkgs/ffigen/lib/src/code_generator/objc_methods.dart
  pkgs/ffigen/lib/src/code_generator/objc_protocol.dart
  pkgs/ffigen/lib/src/code_generator/writer.dart
  pkgs/ffigen/lib/src/visitor/find_transitive_deps.dart
  pkgs/ffigen/lib/src/visitor/visitor.dart
  pkgs/ffigen/test/native_objc_test/protocol_test.dart
  pkgs/objective_c/CHANGELOG.md
  pkgs/objective_c/ffigen_c.yaml
  pkgs/objective_c/ffigen_objc.yaml
  pkgs/objective_c/ios/Classes/objective_c.m
  pkgs/objective_c/lib/objective_c.dart
  pkgs/objective_c/lib/src/c_bindings_generated.dart
  pkgs/objective_c/lib/src/internal.dart
  pkgs/objective_c/lib/src/objective_c_bindings_generated.dart
  pkgs/objective_c/lib/src/protocol_builder.dart
  pkgs/objective_c/macos/Classes/objective_c.m
  pkgs/objective_c/src/CMakeLists.txt
  pkgs/objective_c/src/objective_c_bindings_generated.m
  pkgs/objective_c/src/objective_c_runtime.h
  pkgs/objective_c/src/protocol.h
  pkgs/objective_c/src/protocol.m
  pkgs/objective_c/src/proxy.h
  pkgs/objective_c/src/proxy.m
  pkgs/objective_c/test/main.c
  pkgs/objective_c/test/setup.dart
Labels: package:ffigen, package:objective_c

#2032 [jni] Fix interface implementation deadlock on the main thread
  pkgs/jni/CHANGELOG.md
  pkgs/jni/java/src/main/java/com/github/dart_lang/jni/PortProxyBuilder.java
  pkgs/jni/src/dartjni.c
Labels: package:jni

#2041 [jni] [jnigen] Publish 0.14.1
  pkgs/jni/CHANGELOG.md
  pkgs/jni/java/.gitignore
  pkgs/jni/pubspec.yaml
  pkgs/jnigen/CHANGELOG.md
  pkgs/jnigen/java/.gitignore
  pkgs/jnigen/pubspec.yaml
Labels: package:jnigen, package:jni
